{% extends "core/base/cadastro.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Processo Urbano | Edicao
{% endblock %}


{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

 <ul>
	<li><a href="#tabs-1">EDICAO PROCESSO URBANO</a></li>
	
{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-2">TRAMITACOES</a></li>
{% endif %}

	<li><a href="#tabs-3">PENDENCIAS</a></li>

{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-4">ANEXOS</a></li>
{% endif %}

</ul>


<div id="tabs-1">
	<form method="post" action="/sicop/processo/urbano/edicao/{{ urbano.id }}/">
	{% csrf_token %}

		<table style="width:100%">
			<tbody>
				<tr>
					<td>
						
							<div style="width: 100%; font-size: 12px; text-align: left">
								<table>
									<tr> 
										<td class="colunaTabela"> <label>Número:</label></td>
										<td>
											{% if perms.sicop.processo_edicao_numero %}
												<input name="tbprocessobase" size="17" value="{{base.nrprocesso}}" style="width:150px" id="processo"/>
											{% else %}
												<input name="tbprocessobase" size="17" value="{{base.nrprocesso}}" style="width:150px" id="processo" readonly/>
											{% endif %}
										</td>
									</tr>
										<tr> <td class="colunaTabela"> <label>CNPJ:</label> </td>
											<td> <input size="18" value="{{ urbano.nrcnpj }}" id="cnpj" name="nrcnpj" /> </td> </tr>
										<tr> <td class="colunaTabela" title="Bairro / Distrito / Povoado / Vila"> <label>Bairro/Dist./Pov./Vila:</label> </td>
											<td> <input value="{{ urbano.nmpovoado }}" name="nmpovoado" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Contrato:</label> </td>
										   		<td>
										   			<select name="tbcontrato" style="width: 200px">
										   				{% for obj in contrato %}
															{% if obj.id == urbano.tbcontrato.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
											<td>
												<a href="/sicop/contrato/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Novo Contrato"> <img src="{% static "img/add.png" %}" width="24" /> </a>
											</td>						
										</tr>
										<tr> <td class="colunaTabela"> <label>Situacao GEO:</label> </td>
										   		<td>
										   			<select name="tbsituacaogeo" style="width: 200px">
										   				{% for obj in situacaogeo %}
															{% if obj.id == urbano.tbsituacaogeo.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nmsituacaogeo }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nmsituacaogeo }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
											<td>
												<a href="/sicop/situacao_geo/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Nova Situacao GEO"> <img src="{% static "img/add.png" %}" width="24" /> </a>
											</td>						
										</tr>
										<tr> <td class="colunaTabela"> <label>Area:</label> </td>
											<td> <input onkeypress="return SomenteNumero(event, this);" value="{{ urbano.nrarea|default:'' }}" name="nrarea" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Perimetro:</label> </td>
											<td> <input onkeypress="return SomenteNumero(event, this);" value="{{ urbano.nrperimetro|default:'' }}" name="nrperimetro" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Numero de Habitantes:</label> </td>
											<td> <input value="{{ urbano.nrhabitantes|default:'' }}" onkeypress="return SomenteNumeroOK(event, this);" name="nrhabitantes" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Numero de Domicilios:</label> </td>
											<td> <input value="{{ urbano.nrdomicilios|default:'' }}" onkeypress="return SomenteNumeroOK(event, this);" name="nrdomicilios" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Pregao:</label> </td>
										   		<td>
										   			<select name="tbpregao" style="width: 200px">
										   				<option value="">-- Selecione o Pregao --</option>
														{% for obj in pregao %}
															{% if obj.id == urbano.tbpregao.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nrpregao }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nrpregao }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
											<td>
												<a href="/sicop/pregao/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Novo Pregao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
											</td>						
										</tr>
										<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
										   		<td>
										   			<select name="tbgleba" style="width: 200px">
										   				{% for obj in gleba %}
															{% if obj.id == base.tbgleba.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
											<td>
												<a href="/sicop/gleba/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
											</td>
										</tr>
										<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
										   		<td>
										   			<select name="tbmunicipio" style="width: 200px">
														{% for obj in municipio %}
															{% if obj.id == base.tbmunicipio.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
										</tr>
										<tr> <td class="colunaTabela"> <label>Projeto Assentamento:</label> </td>
											<td> <input name="dsprojetoassentamento" value="{{ urbano.dsprojetoassentamento }}" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
										   		<td>
										   			{{ base.tbcaixa.nmlocalarquivo }}
												</td>
										</tr>
										<tr> <td class="colunaTabela"> <label>Data Abertura:</label> </td><td> <input size="9" value="{{ dtaberturaprocesso }}" id="date" name="dtaberturaprocesso" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Data Titulacao:</label> </td><td> <input size="9" value="{{ dttitulacao }}" id="date2" name="dttitulacao" /> </td> </tr>
									{% if base.tbclassificacaoprocesso.id == 2 %}
										<tr> <td class="colunaTabela"> <label>Classificacao:</label> </td>
										   		<td>
										   			{{ base.tbclassificacaoprocesso.nmclassificacao }}
												</td>
										</tr>
									{% endif %}
										<tr>
											<td colspan="2" class="colunaTabela" style="text-align:left;margin-top:20px"> 
												<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
												<input type="submit" class="button_green" value="SALVAR" />
											</td>
										</tr>
								</table>
							</div>
	
					</td>
					<td style="vertical-align:top">
						{% if fases %}
							<div style="width:100%;text-align:center">
								{% for fase in fases %}
									<input 
										type="button"
										{% if etapa_atual %}
											{% if etapa_atual.tbetapa.id == fase.id %}
												{% if perms.sicop.processo_edicao %}
													onclick="editarID('/sicop/etapa/checklist/{{ urbano.tbprocessobase.id }}/{{ fase.id }}');" 
												{% endif %}
												class="bt_blue"
											{% else %}
												{% if perms.sicop.etapa_checklist_edicao %}
													onclick="editarID('/sicop/etapa/checklist/{{ urbano.tbprocessobase.id }}/{{ fase.id }}');" 
												{% endif %}
												class="bt_grey"
											{% endif %}
										{% else %}
											{% if perms.sicop.etapa_checklist_edicao %}
												onclick="editarID('/sicop/etapa/checklist/{{ urbano.tbprocessobase.id }}/{{ fase.id }}');" 
											{% endif %}
											class="bt_grey"
										{% endif %}
										value="{{ fase.nmfase }}" title="{{ fase.dsfase }}" />
									<br/><br/>
								{% endfor %}
	  						    
	 						    {% if perms.sicop.etapa_checklist_posterior %}
									<hr/><br/>
									<select name="etapaposterior"  style="width:200px;text-align:center">
										<option value="">-- MUDAR DE ETAPA --</option>
										{% for obj in posteriores %}
											<option value="{{ obj.tbposterior.id }}">{{obj.tbposterior.nmfase}}</option>
										{% endfor %}
									</select>
									<br/><br/>
									{% if perms.sicop.etapa_checklist_edicao %}
										<a href="/sicop/etapa/restaurar/{{ base.id }}/">
											<input type="button" style="width:200px" value="VOLTAR ETAPA" />
										</a>
									{% endif %}
								{% else %}
									<input name="etapaposterior" value="" type="hidden" />
					   			{% endif %}
			
							</div>
							
						{% endif %}
					</td>			
				</tr>
			</tbody>
		</table>
	
	</form>
</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-2">
	<form method="post" action="/sicop/processo/tramitacao/{{ base.id }}/">
		{% csrf_token %}
		<table style="width:100%">
			<tr>
			   	<td class="colunaTabelaConsulta" >
			   		Caixa Destino:
			   		<select name="tbcaixadestino" style="width: 300px">
			   			{% for obj in caixadestino %}
							<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="TRAMITAR" />
				</td>
			</tr>
		</table>
	</form>
		{% if movimentacao %} 
			<table class="csstable">
				<tbody>
					<tr>
						<td class="colunaTabelaConsulta" style="width: 15%">Data</td>
						<td class="colunaTabelaConsulta" style="width: 26%">Origem</td>
						<td class="colunaTabelaConsulta" style="width: 26%">Destino</td>
						<td class="colunaTabelaConsulta" style="width: 25%">Usuario</td>
					</tr>
					{% for mov in movimentacao %}
					<tr>
						<td class="colunaTabelaConsulta">{{ mov.dtmovimentacao.day }}/{{ mov.dtmovimentacao.month }}/{{ mov.dtmovimentacao.year }}</td>
						<td class="colunaTabelaConsulta">{{	mov.tbcaixa_id_origem.nmlocalarquivo }}</td>
						<td class="colunaTabelaConsulta">{{ mov.tbcaixa.nmlocalarquivo }}</td>
						<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
					</tr>
					{% endfor %} 
				</tbody>
			</table>
		{% endif %}
</div>
{% endif %}

<div id="tabs-3">
	<form method="post" action="/sicop/processo/pendencia/{{ base.id }}/">
		{% csrf_token %}
		<table style="width:100%">
			<tr> 
			   	<td class="colunaTabelaConsulta">
			   		<select name="tbtipopendencia" style="width: 150px">
			   			{% for obj in tipopendencia %}
							<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
						{% endfor %}
					</select>
					<input placeholder="Descricao" size="30" required="required" name="dspendencia" />
			   		<select name="tbstatuspendencia" style="width: 150px">
			   			{% for obj in statuspendencia %}
							<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="CRIAR PENDENCIA" />
				</td>
			</tr>
		</table>
	</form>
		{% if pendencia %}
			<table class="csstable">
				<tbody>
					<tr>
						<td class="colunaTabelaConsulta" style="width: 30%">Tipo</td>
						<td class="colunaTabelaConsulta" style="width: 15%">Status</td>
						<td class="colunaTabelaConsulta" style="width: 35%">Descricao</td>
						<td class="colunaTabelaConsulta" style="width: 20%">Usuario</td>
					</tr>
					   		{% for pen in pendencia %}
								<tr onclick="editarID('/sicop/pendencia/edicao/{{ pen.id }}');" >
									<td class="colunaTabelaConsulta">{{	pen.tbtipopendencia.dspendencia }}</td>
									<td class="colunaTabelaConsulta">{{	pen.tbstatuspendencia.dspendencia }}</td>
									<td class="colunaTabelaConsulta">{{ pen.dsdescricao }}</td>
									<td class="colunaTabelaConsulta">{{ pen.auth_user.first_name }}</td>
								</tr>
							{% endfor %}
				</tbody>
			</table>
		{% endif %}
</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-4">
	<form method="post" action="/sicop/processo/anexo/{{ base.id }}/">
		{% csrf_token %}
		<table style="width:100%">
			<tr> 
			   	<td class="colunaTabelaConsulta">
					<input name="processoanexo" />
					<input type="submit" value="ANEXAR" />
				</td>
			</tr>
		</table>
	</form>
	{% if anexado %}
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width: 5%">Desanexar</td>
					<td class="colunaTabelaConsulta" style="width: 15%">Data do	anexo</td>
					<td class="colunaTabelaConsulta" style="width: 30%">Processo anexado</td>
					<td class="colunaTabelaConsulta" style="width: 25%">Usuario</td>
				</tr>
				{% for anexo in anexado %}
					<tr>
						<td class="colunaTabelaConsulta">
							<a	href="/sicop/processo/desanexar/{{ anexo.tbprocessobase_id_anexo.id}}"	onclick="return confirm('Deseja mesmo desanexar os processos ?');" > 
								<img width="22" src="{% static "img/desanexar.jpg" %}" />
							</a>
						</td>
						<td class="colunaTabelaConsulta">{{ anexo.dtanexado.day }}/{{ anexo.dtanexado.month }}/{{ anexo.dtanexado.year }}</td>
						<td class="colunaTabelaConsulta" onclick="editarID('/sicop/processo/edicao/{{ anexo.tbprocessobase_id_anexo.id}}');" >{{ anexo.tbprocessobase_id_anexo.nrprocesso }}</td>
						<td class="colunaTabelaConsulta">{{	anexo.tbprocessobase_id_anexo.auth_user.first_name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
{% endif %}

</div>

{% endblock %}
