{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %}
	Acesso Restrito | Tipo Pendencia
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR TIPO PENDENCIA
	
{% endblock %}

{% block consulta %}
	<form action="." method="post">
			{% csrf_token %}
			<table>
				   <tr> 
				   		<td class="colunaTabela"> <label>Nome:</label> </td><td> <input name="dspendencia" /> </td>
				   </tr>
			</table>
			<div style="text-align: left;padding-bottom: 20px">
				<button class="button_yellow" type="submit"> Consultar </button>
				<a class="button_green" href="/sicop/restrito/tipo_pendencia/cadastro/"> Novo Tipo Pendencia </a>
			</div>
		</form>
{% endblock %}


{% block resultado %}
		<table>
			<thead style="background:#e5e5e5;color:black">
				<tr>
					<th class="colunaTabelaConsulta" style="width:8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width:92%">{% anchor dspendencia Nome %}</th>
				</tr>
			</thead>
			<tbody>
				{% if lista %}
					{% autosort lista %}
					{% autopaginate lista 5 %}
					{% for obj in lista %}
						<tr>
							<td class="colunaTabelaConsulta"> <a href="/sicop/restrito/tipo_pendencia/edicao/{{ obj.id }}"> <img width="16" src="{% static "img/search.png" %}" /> </a> </td> 
							<td class="colunaTabelaConsulta">{{ obj.dspendencia }}</td>
						</tr>
					{% endfor %}
					{% paginate %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Tipo Pendencia Encontrado </td> </tr>
				{% endif %}
			</tbody>
			
		</table>
{% endblock %}