{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Tipo Pendencia | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR TIPO PENDENCIA</a></li>
</ul>
<div id="tabs-1">		
	
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td> <input value="{{ tipopendencia.dspendencia }}" name="dspendencia" /> </td> </tr>
				 <tr>
				 		<td class="colunaTabela">
				 			<label>Tipo Processo:</label>
				 		</td>
				 		<td >
				   			<select name="tbtipoprocesso" style="width:200px">
								{% for obj in tipoprocesso %}
									{% if obj.id == tipopendencia.tbtipoprocesso.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nome }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nome }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				   	</tr>

				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/tipo_pendencia/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
