{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Tipo Pendencia | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR TIPO PENDENCIA
	
{% endblock %}

{% block formulario %}
	
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.dspendencia }} </td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/tipo_pendencia/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
