{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Fase | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR FASE</a></li>
</ul>
<div id="tabs-1">		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td><input required="required" name="nmfase" value="{{fase.nmfase}}" /></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tipo Processo:</label> </td>
				   	<td>
				   		<select name="tbtipoprocesso" style="width:150px">
							{% for obj in tipoprocesso %}
								{% if obj.id == form.tbtipoprocesso.value %}
									<option selected="selected" value="{{ obj.id }}">{{obj.nome}}</option>
								{% else %}
									<option value="{{ obj.id }}">{{obj.nome}}</option>
								{% endif %}
							{% endfor %}f
						</select>		
				   	</td>
				   	<td>
						<a href="/sicop/restrito/tipo_processo/cadastro/?next=/sicop/restrito/fase/cadastro/" title="Novo Tipo Processo"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   </tr>
				   <tr> <td class="colunaTabela"> <label>Ordem:</label> </td><td><input onkeypress="return SomenteNumeroOK(event, this);" required="required" name="ordem" value="{{fase.ordem}}" /></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Descricao:</label> </td><td> <textarea rows="4" cols="40" name="dsfase">{{fase.dsfase}}</textarea></td> </tr>				   
				</table>
		</div>
		<br />
		
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>

		<br/>
		
	</form>
</div>
</div>
{% endblock %}
