{% extends "core/base/consulta.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Documento | Lista
{% endblock %}

{% block subtitulo %}
	
	LISTA DOS DOCUMENTOS
	
{% endblock %}

{% block consulta %}
	
	<br/><br/>
	<div style="width:100%;font-size:14px;text-align:left">

		<a href="/documento/memorando/consulta/" style="text-decoration: underline"> Memorando </a><br/> <br/>
		<a href="/documento/oficio/consulta/" style="text-decoration: underline"> Ofício </a><br/> <br/>

	</div>
	
{% endblock %}


{% block resultado %}

{% endblock %}