{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Gleba | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR GLEBA</a></li>
</ul>
<div id="tabs-1">		
	
	<form method="post" action=".">
		{% csrf_token %}
		
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmgleba }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Sub Area:</label> </td>
				   		<td>
				   			<select name="tbsubarea">
								{% for obj in subarea %}
									{% if obj.id == form.tbsubarea.value %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmsubarea }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmsubarea }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/tramitacao/sub_area/cadastro/?next=/tramitacao/sub_area/cadastro/" title="Nova SubArea"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				
				   <tr> <td class="colunaTabela"> <label>UF :</label> </td>
				   		
				   		<td>
				   		{% if request.session.isdivisao %}
							{% for obj in uf %}
								{% if obj.id == form.tbuf.value %}
				   					<input readonly="readonly" type="hidden" name="tbuf" value="{{form.tbuf.value}}"/>{{obj.nmuf}}	
				   				{%endif%}
				   			{%endfor%}	
				   		{%else%}
				   			<select name="tbuf">
								{% for obj in uf %}
									{% if obj.id == form.tbuf.value %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmuf }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmuf }}</option>
									{% endif %}
								{% endfor %}
							</select>
						{%endif%}
						</td>
					
					
					
					</tr>
				
				
				</table>
		
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back()" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
