{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		
		<title> {% block subtitulo %} {% endblock %} : SICOP - Portal Terra Legal </title>
		<link rel="icon" type="image/jpg" href="{% static "img/favicon.jpg" %}" />
      
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/new/styles.css" %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/jquery-ui.css" %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/estatisticas.css" %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/nv.d3.css" %}" />
		
		<script src="{% static "js/jquery-1.9.1.js" %}"></script>
		<script src="{% static "js/jquery-ui.js" %}"></script>
		<script src="{% static "js/jquery_maskedinput.js" %}"></script>
		<script src="{% static "js/js.js" %}"></script>
		<script src="{% static "js/maps.js" %}"></script>

		{% block customhead %} {% endblock %}

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	
	</head>
	<body>
		<!--
		<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
			<ul id="menu-barra-temp" style="list-style:none;">
				<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
				<li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
			</ul>
		</div>
		-->
			<div id="sitename">
				<div class="width" style="height:120px">
					<h1 style="margin-top:15px"><a href="/"> SICOP - Portal Terra Legal </a></h1>
	
					<nav>
						{% if user.is_active %}
							<div style="color:white;font-weight:bold;font-size:12px;text-align:right">
								Usuário:
								<a href="/sicop/usuario/edicao/usuario/{{user.id}}/">
								{% filter force_escape %} {% firstof user.get_short_name user.get_username %} {% endfilter %}
								</a>
								<br/>
								Divisão: {{ request.session.divisao }} | <a href="/logout/">Sair do Sistema</a>
							</div>
						{% else %}
						
							<div style="text-align:left;margin-top:-20px">
								<form action="/login/" method="post">
									{% csrf_token %}
									<input placeholder="Usuário" id="id_username" size="20" maxlength="254" name="username" type="text" />
									<br />
									<input style="margin-top:5px" placeholder="Senha" id="id_password" size="12" name="password" type="password" />
									<br/>
									<button class="button_yellow" style="margin-top:5px" type="submit">ENTRAR</button>
								</form>
							</div>
						{% endif %}					
					</nav>
		
					<div class="clear"></div>
				</div>
			</div>
			<section id="body" class="width clear">
				<div style="background:#eee;width:100%;font-size:14px">
					<div class="article-info" style="margin:10px">
					<table border="0">
						<tr>
						<td>
						Você está aqui: {% block breadcumbs %} {% endblock %}
						</td>
					
					<form method="post" action="/sicop/processo/consultaProcesso/">
						{% csrf_token %}
						<td align="right">
						<input name="processo_base" size=17 style="width:150px" id="processo_base" />
								<!--a href="/sicop/processo/consultaProcesso/"><img width="16" src="{% static "img/search.png" %}" /></a-->
						<input type="submit" value="pesquisa" />
						</td>
						</td>
					</tr>
					</form>
					</table>
					</div>

				</div>
		
				<aside id="sidebar" class="column-left">
					
					{% include "core/base/menu.html" %}
					
				</aside>
				<section id="content" class="column-right">
	                		
		    <article style="margin-top: -10px;z-index:1;position:relative;">
				<div style="width:100%;height:100%;z-index:-1;opacity:0.08;position: absolute;background: url('{% static 'img/slide_1.jpg' %}') no-repeat center center" ></div>			
				{% block index %} {% endblock %}
			
			</article>
		
			</section>
	
		</section>
		
			<footer class="clear">
				<div  class="width">
					<p class="left">
						<img width="24px" src="{% static "img/terra-legal.png" %}" title="Terra Legal" alt="Terra Legal" />	
						<br/>
						&copy; 2014 SICOP - Portal Terra Legal - Revisão 546
					</p>
						<p class="right">
							<img width="24px" src="{% static "img/python.png" %}" title="Python 2.7.6" alt="Python 2.7.6" />	
							<img width="24px" src="{% static "img/django.png" %}" title="Django 1.5.1" alt="Django 1.5.1" />	
							<img width="24px" src="{% static "img/postgresql.png" %}" title="PostgreSQL 9.2" alt="PostgreSQL 9.2" />	
							<br/>
							Desenvolvido em Software Livre
						</p>
				</div>
			</footer>
		
		<!-- <script src="{% static "js/barra.js" %}"></script> -->
		{% block body_scripts %} {% endblock body_scripts %}
		
	</body>
	
</html>