{% extends "core/base/consulta.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | atualização título
{% endblock %}

{% block subtitulo %}
	
	Atualização monetária de título definitivo
		
{% endblock %}

{% block consulta %}
		<form action="." method="post">
			{% csrf_token %}
			<meta charset="utf-8" />	
			<table style="width:50%;text-align: left">
					<tr><td class="colunaTabela" colspan="2" >IDENTIFICAÇÃO DO MUTUÁRIO</td></tr>
					
					<tr><td class="colunaTabela"> <label>Processo: </label> </td><td>{{ instance.numero_processo }}</td></tr> 
				   	<tr><td class="colunaTabela"> <label>Nome: </label> </td><td>{{ instance.nome_req}}</td></tr>
				   	<tr><td class="colunaTabela"> <label>CPF: </label> </td><td>{{ instance.cpf_req }}</td> </tr>
				   	
				   	<tr><td class="colunaTabela" colspan="2">IDENTIFICAÇÃO DO IMÓVEL</td></tr>
				   	<tr><td class="colunaTabela"> <label>Título: </label> </td><td>{{ instance.id_req}}</td></tr>
				   	<tr><td class="colunaTabela"> <label>Data emissão: </label> </td><td>{{titulado}}</td></tr>
				   	<tr><td class="colunaTabela"> <label>UF: </label> </td><td>{{ instance.uf_imovel }}</td></tr> 
				   	<tr><td class="colunaTabela"> <label>Denominação: </label> </td><td>{{ instance.nome_imovel }}</td></tr> 
					<tr><td class="colunaTabela"> <label>Município: </label> </td><td>{{ instance.nome_municipio }}</td></tr> 
				   	<tr><td class="colunaTabela"> <label>Área do imóvel: </label></td><td>{{ instance.area_total_imovel }} ha</td></tr>
				   	<tr><td class="colunaTabela"> <label>Módulos fiscais: </label> </td><td>{{ instance.tamanho_modulos_fiscais}}</td> </tr>
				   	<tr><td class="colunaTabela"> <label>Valor do imóvel: </label> </td><td>R$ {{ valor_imovel }}</td></tr> 
				   	<tr><td class="colunaTabela"> <label>Valor da prestação: </label>  </td><td>R$ {{prestacao}}</td></tr>
				   	<tr><td class="colunaTabela"> <label>Indice: </label>  </td><td>{{indice}}% aa </td></tr>
				   	
				   	
			</table>
			
			<!-- table style="width:40%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="CALCULAR" />
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<a href="/sicop/restrito/portaria80/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a>
						<a href="/sicop/restrito/usuario/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a>
					</td>
				</tr>
			</table-->
					
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" >Parcela</td>
					<td class="colunaTabelaConsulta" >Vencimento</td>
					<td class="colunaTabelaConsulta" >Prestação</td>	
					<td class="colunaTabelaConsulta" >Correção</td>
					<td class="colunaTabelaConsulta" >Juros</td>
					<td class="colunaTabelaConsulta" >Desconto</td>
					<td class="colunaTabelaConsulta" >Prestação corrigida</td>
					
					
				</tr>
			<tr>	
				<td class="colunaTabelaConsulta">{{ordem}}</td>
				<td class="colunaTabelaConsulta">{{vencimento}}</td>
				<td class="colunaTabelaConsulta">{{prestacao}}</td>
				<td class="colunaTabelaConsulta">{{correcao}}</td>
				<td class="colunaTabelaConsulta">{{juros}}</td>
				<td class="colunaTabelaConsulta">{{desconto}}</td>
				<td class="colunaTabelaConsulta">{{principal_corrigido}}</td>
				
				
				
			</tr>
			</table>
			</tbody>
			</br>
			Base de cálculos de correção monetária efetuada com base na Portaria Serfal Nº 1 de 19 de maio de 2010, 
			Lei 11.952 de 25 de junho de 2009 e  Decreto 6.992/09.  Para os pagamento após o vencimento da prestação, 
			estão sendo aplicados juros de 1% ao mês, conforme estabelecido na MP nº 2.183-56 de 24 de agosto de 2001.
		</form>
{% endblock %}


{% block resultado %}
		
{% endblock %}