{% extends "base/base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	E-Legal Maranhão
{% endblock %}

{% block titulo %}
	E-Legal Maranhão : Sistema do Terra Legal Maranhão
{% endblock %}
			
{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<!--end of grid-10-->
		Informações sobre o sistema do terra legal maranhão
		<p> <a href="/login">Acesse aqui</a> </p>
	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->


{% endblock %}
