{% extends "base/base.html" %} 

{% block breadcumbs %}
	Inicio
{% endblock %}

{% block titulo %}
	Inicio
{% endblock %}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
			<p style="text-align: justify;">Sistema desenvolvido pela SRFA02,
				vinculada ao Terra Legal com o objetivo de controlar todos os
				processos de regularizacao fundiaria, liberacao de clausulas
				resolutivas, recebimento e conferencia de pecas tecnicas de imoveis
				integrantes da regiao definida como a amazonia Legal.</p>


		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->


{% endblock %}
