{% load staticfiles %} 
{% block formulario %}

		<form name="form_cadastro" method="post" action="/sicop/processo/urbano/cadastro/">
			{% csrf_token %}
			<table>
				<tr> <td class="colunaTabela"> <label>N do Processo:</label> </td>
					<td> <input required="required" size="21" name="nrprocesso" id="processo" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CNPJ:</label> </td>
					<td> <input required="required" size="18" id="cnpj" name="nrcnpj" /> </td> </tr>
				<tr> <td class="colunaTabela" title="Bairro / Distrito / Povoado / Vila"> <label>Bairro/Dist./Pov./Vila:</label> </td>
					<td> <input required="required" name="nmpovoado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Contrato:</label> </td>
				   		<td>
				   			<select required="required" name="tbcontrato" style="width: 200px">
				   				<option value="">-- Selecione o Contrato --</option>
								{% for obj in contrato %}
									<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/contrato/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Novo Contrato"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				</tr>
				<tr> <td class="colunaTabela"> <label>Situacao GEO:</label> </td>
				   		<td>
				   			<select required="required" name="tbsituacaogeo" style="width: 200px">
				   				<option value="">-- Selecione a situacao GEO --</option>
				   				{% for obj in situacaogeo %}
									<option value="{{ obj.id }}">{{ obj.nmsituacaogeo }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/situacao_geo/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Nova Situacao GEO"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				</tr>
				<tr> <td class="colunaTabela"> <label>Area:</label> </td>
					<td> <input onkeypress="return SomenteNumero(event, this);" name="nrarea" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Perimetro:</label> </td>
					<td> <input onkeypress="return SomenteNumero(event, this);" name="nrperimetro" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Numero de Habitantes:</label> </td>
					<td> <input onkeypress="return SomenteNumeroOK(event, this);" name="nrhabitantes" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Numero de Domicilios:</label> </td>
					<td> <input onkeypress="return SomenteNumeroOK(event, this);" name="nrdomicilios" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Pregao:</label> </td>
				   		<td>
				   			<select required="required" name="tbpregao" style="width: 200px">
				   				<option value="">-- Selecione o Pregao --</option>
								{% for obj in pregao %}
									<option value="{{ obj.id }}">{{ obj.nrpregao }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/pregao/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Novo Pregao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				</tr>
				<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select name="tbgleba" required="required" style="width: 200px">
				   				<option value="">-- Selecione uma Gleba --</option>
								{% for obj in gleba %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/gleba/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" required="required" style="width: 200px">
								<option value="">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Projeto Assentamento:</label> </td>
					<td> <input name="dsprojetoassentamento" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select name="tbcaixa" required="required" style="width: 200px">
								<option value="">-- Selecione uma Caixa --</option>
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/caixa/cadastro/?next=/sicop/processo/urbano/cadastro/" title="Nova Caixa"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Data Abertura:</label> </td><td> <input required="required" size="9" id="date" name="dtaberturaprocesso" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Data Titulação:</label> </td><td> <input size="9" id="date2" name="dttitulacao" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Etapa Inicial:</label> </td>
				   		<td>
				   			<select name="etapainicial" style="width: 200px">
								<option value="">-- Selecione uma etapa --</option>
								{% for obj in etapaprocesso %}
									<option value="{{ obj.id }}">{{ obj.nmfase }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<a href="/sicop/processo/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
						<input type="submit" class="button_green" value="SALVAR" />
					</td>
				</tr>
			</table>
		</form>			
{% endblock %}