{% extends "core/base/restrito.html" %} 

{% block breadcumbs %}
	Erro no Sistema
{% endblock %}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div>

		<!--end of grid-10-->
		Ocorreu um erro no sistema:<br/>
		Tipo: {{ type }}<br />
		Valor: {{ value }}
	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->


{% endblock %}