{% extends "core/base/consulta.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Relatório | Lista
{% endblock %}

{% block subtitulo %}
	
	LISTA DOS RELATORIOS
	
{% endblock %}

{% block consulta %}
	
	<br/><br/>
	<div style="width:100%;font-size:14px;text-align:left">

		<a href="/tramitacao/relatorio/varredura_processos/" style="text-decoration: underline"> Todos os Processo(s) </a><br/> <br/>
		<a href="/tramitacao/relatorio/processos" style="text-decoration: underline"> Processo(s) Rurais </a> <br /><br />
		<a href="/tramitacao/relatorio/processo_parcela/" style="text-decoration: underline"> Processo(s) com Parcela(s) </a> <br /><br />
		<a href="/tramitacao/relatorio/processo_sem_parcela/" style="text-decoration: underline"> Processo(s) sem Parcela(s) </a> <br /><br />
		<a href="/tramitacao/relatorio/parcela_processo/" style="text-decoration: underline"> Parcela(s) com Processo(s) </a> <br /><br />
		<a href="/tramitacao/relatorio/parcela_sem_processo/" style="text-decoration: underline"> Parcela(s) sem Processo(s) </a> <br /><br />
		<a href="/tramitacao/relatorio/titulo/" style="text-decoration: underline"> Títulos - Livro Fundiário </a>

	</div>
	
{% endblock %}


{% block resultado %}

{% endblock %}