
{% block formulario %}

		<form name="form_cadastro" method="post" action="/sicop/restrito/processo/urbano/cadastro/">
			{% csrf_token %}
			<table>
				<tr> <td class="colunaTabela"> <label>CNPJ:</label> </td><td>{{ form.nrcnpj }} </td> </tr>
			</table>
			<br/><br/>
			<div style="width:100%;font-size:12px;text-align:right">
				<a href="/sicop/restrito/processo/cadastro/" class="button_red">VOLTAR</a>
				<button type="submit" class="button_green">SALVAR</button>
			</div>
		</form>			
{% endblock %}