{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Processo Urbano | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR REGULARIZACAO URBANA
	
{% endblock %}

{% block formulario %}
<form method="post" action="/sicop/restrito/processo/urbano/edicao/{{ urbano.id }}/">
	{% csrf_token %}
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
				<tr> <td class="colunaTabela"> <label>N do Processo:</label> </td>
					<td> <input name="nrprocesso" value="{{ base.nrprocesso }}" id="processo" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CNPJ:</label> </td>
					<td> <input size="17" value="{{ urbano.nrcnpj }}" id="cnpj" name="nrcnpj" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Povoado:</label> </td>
					<td> <input value="{{ urbano.nmpovoado }}" name="nmpovoado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Contrato:</label> </td>
				   		<td>
				   			<select name="tbcontrato" style="width: 200px">
				   				{% for obj in contrato %}
									{% if obj.id == base.tbcontrato.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/contrato/cadastro/" title="Novo Contrato"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				</tr>
				<tr> <td class="colunaTabela"> <label>Numero de Habitantes:</label> </td>
					<td> <input value="{{ urbano.nrhabitantes }}" onkeypress="return SomenteNumeroOK(event, this);" name="nrhabitantes" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Numero de Domicilios:</label> </td>
					<td> <input value="{{ urbano.nrdomicilios }}" onkeypress="return SomenteNumeroOK(event, this);" name="nrdomicilios" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Numero do Pregao:</label> </td>
					<td> <input value="{{ urbano.nrpregao }}" name="nrpregao" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select name="tbgleba" style="width: 200px">
				   				{% for obj in gleba %}
									{% if obj.id == base.tbgleba.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/gleba/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								{% for obj in municipio %}
									{% if obj.id == base.tbmunicipio.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nome_num }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select name="tbcaixa" style="width: 200px">
								{% for obj in caixa %}
									{% if obj.id == base.tbcaixa.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/caixa/cadastro/" title="Nova Caixa"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Situacao:</label> </td>
				   		<td>
				   			<select name="tbsituacaoprocesso" style="width: 200px">
								{% for obj in situacaoprocesso %}
									{% if obj.id == base.tbsituacaoprocesso.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/situacao_processo/cadastro/" title="Nova Situacao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
		</table>
	</div>
	<br />
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="/sicop/restrito/processo/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}
