{% load staticfiles %} 
{% block formulario %}
<div id="tabs-1">
		<form name="form_cadastro" method="post" action="/sicop/processo/rural/cadastro/">
			{% csrf_token %}
			<table>
				<tr> 
					<td class="colunaTabela"> <label>Processo:</label> </td>
					<td> <input required="required" size="21" name="nrprocesso" id="processo" /> </td> 
				</tr>
				<tr> 
					<td class="colunaTabela"> <label>Gleba:</label> </td>
				   	<td>
				   		<select name="tbgleba" style="width: 200px">
				   			<option value="0">-- Selecione uma Gleba --</option>
							{% for obj in gleba %}
								<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<a href="/sicop/gleba/cadastro/?next=/sicop/processo/rural/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio do Imóvel:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								<option value="0">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td>
					<td> <input required="required" size="55" name="nmrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td>
					<td> <input required="required" size="15" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Cônjuge:</label> </td>
					<td> <input size="55" name="nmconjuge" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Conjuge:</label> </td>
					<td> <input size="15" id="cpf2" name="nrcpfconjuge" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select required="required" name="tbcaixa" style="width: 200px">
								<option value="">-- Selecione uma Caixa --</option>
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
						</td>
						<td>
							<a href="/sicop/caixa/cadastro/?next=/sicop/processo/rural/cadastro/" title="Nova Caixa"> <img src="{% static "img/add.png" %}" width="24" /> </a>
						</td>
				</tr>
				<input type="hidden" name="etapainicial" />
<!--			
				<tr> <td class="colunaTabela"> <label>Etapa Inicial:</label> </td>
				   		<td>
				   			<select name="etapainicial" style="width: 200px">
								<option value="">-- Selecione uma etapa --</option>
								{% for obj in etapaprocesso %}
									<option value="{{ obj.id }}">{{ obj.nmfase }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
-->
				<tr> <td class="colunaTabela"> <label>Endereco:</label> </td>
					<td> <textarea name="nmendereco" style="width: 200px"></textarea></td></tr>

				<tr> <td class="colunaTabela"> <label>Municipio do domicílio:</label> </td>
				   		<td>
							<input size="40" name="tbmunicipiodomicilio" list="municipios" />
							
							<datalist id="municipios">
								{% for obj in municipiodomicilio %}
									<option value="{{ obj.nome_mun }},{{obj.uf}}"/>
								{% endfor %}
							</datalist>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Contato:</label> </td>
					<td> <input name="nmcontato" style="width: 250px" /> </td></tr>
				
			</table>
			<br/><br/>
	<br />
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="/sicop/processo/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>
</form>
</div>			
{% endblock %}