{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}


{% block customhead %}

    {% if kmls %}

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	    <script>

			
				function initialize() {

				  var mapOptions = {
				    zoom: 11,
				    mapTypeId: google.maps.MapTypeId.HYBRID,
				    streetViewControl: false,
				    panControl: false 
				  }

				  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		     		{% for kml in kmls %}

					  var ctaLayer = new google.maps.KmlLayer({
					    url: 'https://sigef.incra.gov.br/geo/parcela/kml/{{kml}}',
					  });

					  ctaLayer.setMap(map);

					{% endfor %}

				}

				google.maps.event.addDomListener(window, 'load', initialize);
			
		
	    </script>

	{% endif %}

{% endblock %}

{% block formulario %}


{% if kmls %}
	<div id="map" style="margin-bottom:5px;width:100%;height:200px" ></div>
<!--
	<table class="csstable">
	<tbody>
		<tr>
			<td>Parcela</td>
			<td>Imóvel</td>
			<td>Município</td>
			<td>Área (ha)</td>
		</tr>
		{% for p in parcelas %}
			<tr>
				<td>
					{{p.parcela}}
				</td>
				<td>
					{{p.imovel}}
				</td>
				<td>
					{{p.nome}}
				</td>
				<td>
					{{p.area}}
				</td>
			</tr>
		{% endfor %}
		</tr>
	</tbody>
</table>
-->
	<br/>
	( Fonte: SIGEF - GEO ) - Total: {{total_area_sigef}} ha
	<br/><br/>
{% endif %}

<div id="tabs" style="color:black;width:100%;font-size:11px">
{% ifnotequal request.session.processo_saida "unico"  %}
 <ul>
	<li><a href="#tabs-1">EDIÇÃO</a></li>

{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-2">MOVIMENTAÇÕES</a></li>
{% endif %}

	<li><a href="#tabs-3">PENDÊNCIAS</a></li>

{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-4">ANEXOS</a></li>
{% endif %}

{% if peca %}
	<li><a href="#tabs-5">PEÇA TÉCNICA</a></li>
 {% endif %}

<!--
{% if fases and base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-6">FLUXO DO PROCESSO</a></li>
{% endif %}
-->

{% if fases and base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-6">SOBREPOSIÇÃO</a></li>
{% endif %}

{% if titulo_processo %}
	<li><a href="#tabs-7">TITULO</a></li>
{% endif %}

</ul>

{% else %}
{% endifnotequal%}

<div id="tabs-1">
	<form method="post" action="/sicop/processo/rural/edicao/{{ rural.id }}/">
	{% csrf_token %}

		<table style="width:100%">
			<tbody>
				<tr>
					<td>					
							<div style="width: 100%; font-size: 12px; text-align: left">
							
										<div style="margin-bottom:5px;width:98%;font-weight:bold;color: green">
											PROCESSO<hr/>
										</div>
							
								<table>
									<tr> 
										<td class="colunaTabela"> <label>Número:</label></td>
										<td>
											{% if perms.sicop.processo_edicao_numero %}
												<input required="required" name="tbprocessobase" size="17" value="{{base.nrprocesso}}" style="width:150px" id="processo"/>
											{% else %}
												<input name="tbprocessobase" size="17" value="{{base.nrprocesso}}" readonly style="width:150px" id="processo" />
											{% endif %}
										</td>
									</tr>
									{% if base.tbclassificacaoprocesso.id == 2 %}
										<tr style="color: red;font-weight: bold;"> <td class="colunaTabela" > <label>Classificacao:</label> </td>
										   		<td>
										   			{{ base.tbclassificacaoprocesso.nmclassificacao }}
										   		</td>
										</tr>
										<tr style="color: red;font-weight: bold;"> 
												<td class="colunaTabela" > 
													<a href="/sicop/processo/edicao/{{ processo_principal.id }}">
														Processo Principal:
													</a>
												</td>
										   		<td>
										   			<a href="/sicop/processo/edicao/{{ processo_principal.id }}"> {{ processo_principal.nrprocesso }} </a>
										   		</td>
										</tr>
									{% endif %}
<!--
										<tr> 
											<td class="colunaTabela"> <label>Gleba:</label> </td>
										   	<td>
										   		<select required="required" name="tbgleba" style="width: 200px">
										   			{% for obj in gleba %}
														{% if obj.id == base.tbgleba.id %}
															<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
														{% else %}
															<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
														{% endif %}
													{% endfor %}
												</select>
											</td>
											<td>
												<a href="/sicop/gleba/cadastro/?next=/sicop/processo/rural/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
											</td>
										</tr>
										<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
										   		<td>
										   			<select required="required" name="tbmunicipio" style="width: 200px">
										   				<option value="">-- Selecione um Municipio --</option>
														{% for obj in municipio %}
															{% if obj.id == base.tbmunicipio.id %}
																<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
															{% else %}
																<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
										</tr>
-->
										<tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td>
											<td> <input required="required" size="40" value="{{ rural.nmrequerente }}" name="nmrequerente" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td>
											<td> <input required="required" size="15" value="{{ rural.nrcpfrequerente }}" id="cpf" name="nrcpfrequerente" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Nome do Conjuge:</label> </td>
											<td> <input size="40" value="{{ rural.nmconjuge }}" name="nmconjuge" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>CPF do Conjuge:</label> </td>
											<td> <input size="15" value="{{ rural.nrcpfconjuge }}" id="cpf2" name="nrcpfconjuge" /> </td> </tr>
										<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
										   		<td>
										   			{{ base.tbcaixa.nmlocalarquivo }}
												</td>
										</tr>
<!--
										<tr> <td class="colunaTabela"> <label>Etapa Atual:</label> </td>
										   		<td>
										   			{{ base.tbetapaatual.nmfase }}
												</td>
										</tr>
-->
										<tr> 
											<td class="colunaTabela"> <label>Contato:</label> </td>
											<td> <input value="{{ base.nmcontato|default:''}}" name="nmcontato" style="width: 250px"/> </td> 
										</tr>
										<tr> 
											<td class="colunaTabela"> <label>Endereço:</label> </td>
											<td> <textarea name="nmendereco" rows="4" cols="30">{{base.nmendereco|default:''}}</textarea></td> 
										</tr>
						
										<tr> <td class="colunaTabela"> <label>Municipio do domicílio:</label> </td>
										   		<td>
													<input size="40" name="tbmunicipiodomicilio" value="{{ base.tbmunicipiodomicilio.nome_mun }},{{base.tbmunicipiodomicilio.uf}}" list="municipios" />
													<datalist id="municipios">
														{% for obj in municipiodomicilio %}
															{% if obj.id == base.tbmunicipiodomicilio.id %}
																<option selected="selected" value="{{ obj.nome_mun }},{{obj.uf}}"/>
															{% else %}
																<option value="{{ obj.nome_mun }},{{obj.uf}}"/>
															{% endif %}
														{% endfor %}
													</datalist>
												</td>
										</tr>
						
	<!--
				 						    {% if fases and perms.sicop.etapa_checklist_posterior %}
											<tr>
												<td class="colunaTabela"> <label>Mudar Etapa:</label> </td>
												<td>
													<select name="etapaposterior"  style="width:200px">
														<option value=""> Selecione uma etapa </option>
														{% for obj in posteriores %}
															<option value="{{ obj.tbposterior.id }}">{{obj.tbposterior.nmfase}}</option>
														{% endfor %}
													</select>
										   		</td>
											</tr>
											{% else %}
												<input name="etapaposterior" value="" type="hidden" />
								   			{% endif %}										
	-->
										</table>							
								<input name="etapaposterior" value="" type="hidden" />
							</div>
							<br />
							<table style="width:100%">
								<tr>
									<td class="colunaTabela" style="text-align:left"> 
										<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
										<input type="submit" class="button_green" value="SALVAR" />
									</td>
								</tr>
							</table>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-2">
	<form method="post" action="/sicop/processo/tramitacao/{{ base.id }}/">
		{% csrf_token %}

		<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
			TRAMITAÇÃO<hr/>
		</div>

		<table style="width:100%">
			<tr>
			   	<td class="colunaTabelaConsulta" >
			   		Caixa Destino:

			   		<select name="tbcaixadestino" style="width: 300px">
			   			<option value="">-- Selecione uma caixa para tramitar --</option>
			   			{% for obj in caixadestino %}
							<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="TRAMITAR" />
				</td>
			</tr>
		</table>
	</form>
		{% if movimentacao %} 
			<table class="csstable">
				<tbody>
					<tr>
						<td class="colunaTabelaConsulta" style="width: 25%">Origem</td>
						<td class="colunaTabelaConsulta" style="width: 25%">Destino</td>
						<td class="colunaTabelaConsulta" style="width: 10%">Data</td>
						<td class="colunaTabelaConsulta" style="width: 15%">Usuario</td>
					</tr>
					{% for mov in movimentacao %}
					<tr>
						<td class="colunaTabelaConsulta">{{ mov.tbcaixa_id_origem.nmlocalarquivo }}</td>
						<td class="colunaTabelaConsulta">{{ mov.tbcaixa.nmlocalarquivo }}</td>
						<td class="colunaTabelaConsulta">{{ mov.dtmovimentacao|date:"d/m/Y H:m" }}</td>
						<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
					</tr>
					{% endfor %} 
				</tbody>
			</table>
		{% endif %}
</div>
{% endif %}


<div id="tabs-3">
	<form method="post" action="/sicop/processo/pendencia/{{ base.id }}/">
		{% csrf_token %}
		<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
			PENDÊNCIA<hr/>
		</div>
		
		<table style="width:100%">
			<tr> 
			   	<td class="colunaTabelaConsulta" colspan="2">
			   		<select name="tbtipopendencia" style="width: 200px">
			   			<option value="">-- SELECIONE O TIPO --</option>
			   			{% for obj in tipopendencia %}
							<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
						{% endfor %}
					</select>

			   		<select name="tbstatuspendencia" style="width: 200px">
			   		<option value="">-- SELECIONE O STATUS --</option>
			   			{% for obj in statuspendencia %}
							<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
						{% endfor %}
					</select>

				</td>

			</tr>
			<tr>
				<td colspan="2" class="colunaTabelaConsulta">
					<textarea cols="80" rows="5" name="dspendencia" /></textarea>
			   	<td>
			</tr>
			<tr>
			   	<td colspan="2" class="colunaTabelaConsulta">
					<input type="submit" value="CRIAR PENDENCIA" />
			   	<td>
			</tr>
		</table>

	</form>

		{% if pendencia %}
			<table class="csstable">
				<tbody>
					<tr>
						<td class="colunaTabelaConsulta" style="width: 30%">Tipo</td>
						<td class="colunaTabelaConsulta" style="width: 35%">Descrição</td>
						<td class="colunaTabelaConsulta" style="width: 15%">Status</td>
						<td class="colunaTabelaConsulta" style="width: 20%">Atualizado em</td>
						<td class="colunaTabelaConsulta" style="width: 20%">Usuário</td>
					</tr>
					   		{% for pen in pendencia %}
								<tr onclick="editarID('/sicop/pendencia/edicao/{{ pen.id }}');">
									<td class="colunaTabelaConsulta">{{	pen.tbtipopendencia.dspendencia }}</td>
									<td class="colunaTabelaConsulta">{{ pen.dsdescricao }}</td>
									<td class="colunaTabelaConsulta">{{	pen.tbstatuspendencia.dspendencia }}</td>
									<td class="colunaTabelaConsulta">{{ pen.updated_at|date:"d/m/Y H:m" }}</td>
									<td class="colunaTabelaConsulta">{{ pen.auth_user_updated.first_name }}</td>
								</tr>
							{% endfor %}
				</tbody>
			</table>
		{% endif %}
</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-4">
	<form method="post" action="/sicop/processo/anexo/{{ base.id }}/">
		{% csrf_token %}
		<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
			ANEXOS<hr/>
		</div>
		
		<table style="width:100%">
			<tr> 
			   	<td class="colunaTabelaConsulta">
					<input name="processoanexo" />
					<input type="submit" value="ANEXAR" />
				</td>
			</tr>
		</table>
	</form>

	{% if anexado %} 
		<div style="overflow:auto">
			<table class="csstable">
				<tbody>
					<tr>
						<td class="colunaTabelaConsulta" style="width: 5%">Desanexar</td>
						<td class="colunaTabelaConsulta" style="width: 15%">Data do	anexo</td>
						<td class="colunaTabelaConsulta" style="width: 30%">Processo anexado</td>
						<td class="colunaTabelaConsulta" style="width: 25%">Usuario</td>
					</tr>
						{% for anexo in anexado %}
							<tr>
								<td class="colunaTabelaConsulta">
									<a	href="/sicop/processo/desanexar/{{ anexo.tbprocessobase_id_anexo.id}}"	onclick="return confirm('Deseja mesmo desanexar os processos ?');" > 
										<img width="22" src="{% static "img/desanexar.jpg" %}" />
									</a>
								</td>
								<td class="colunaTabelaConsulta">{{ anexo.dtanexado.day }}/{{ anexo.dtanexado.month }}/{{ anexo.dtanexado.year }}</td>
								<td class="colunaTabelaConsulta" onclick="editarID('/sicop/processo/edicao/{{ anexo.tbprocessobase_id_anexo.id}}');" >{{ anexo.tbprocessobase_id_anexo.nrprocesso }}</td>
								<td class="colunaTabelaConsulta">{{	anexo.tbprocessobase_id_anexo.auth_user.first_name }}</td>
							</tr>
						{% endfor %} 
				</tbody>
			</table>
		</div>
	{% endif %}
</div>
{% endif %}

{% if peca%}
<div id="tabs-5">

	<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
		PEÇAS TÉCNICAS<hr/>
	</div>

				<table>
					{% for p_geo in parcelas_geo %}
						<tr>
							<td class="colunaTabela" colspan="2"> 
								<b>PARCELA {{forloop.counter}} : {{p_geo.nome}} </b>
							</td>
						</tr>

						<tr>
							<td><b>Gleba</b>:&nbsp;{{ p_geo.gleba }}</td>
							<td><b>Situação</b>:&nbsp;{{ p_geo.gleba_situ }}</td>
						</tr>

						<tr>
							<td><b>Município</b>:&nbsp;{{ p_geo.municipio }}</td>
							<td><b>Área</b>:&nbsp;{{ p_geo.area_ha_ut }} ha</td>
						</tr>

						<tr>
							<td><b>Contrato</b>:&nbsp;{{ p_geo.contrato }}</td>
							<td><b>Empresa</b>:&nbsp;{{ p_geo.empresa }}</td>
						</tr>

						<tr>
							<td><b>Migrada</b>:&nbsp;
								{% if p_geo.migrada %}
									SIM
								{% else %}
									NÃO
								{% endif %} 
							</td>
							<td><b>Fiscal</b>:&nbsp;{{ p_geo.fiscal }}</td>
						</tr>

						<tr>
							<td><b>Status</b>:&nbsp;{{ p_geo.status }}</td>
							<td><b>Natureza</b>:&nbsp;{{ p_geo.natureza }}</td>
						</tr>

						<tr>
							<td><b>Data de recepção</b>:&nbsp;{{ p_geo.data_recep }}</td>
						</tr>

					{% endfor %}
				</table>
<!--
	<br/><br/>
	<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" >Gleba</td>
					<td class="colunaTabelaConsulta" >Area</td>
					<td class="colunaTabelaConsulta" >Municipio</td>
					<td class="colunaTabelaConsulta" >Contrato</td>
				</tr>					    
					{% for obj in peca %}
						<tr onclick="editarID('/sicop/peca_tecnica/edicao/{{ obj.id }}');">
							<td class="colunaTabelaConsulta" align="left" >{{ obj.tbgleba.nmgleba }}</td>
							<td class="colunaTabelaConsulta" align="left" >{{ obj.nrarea }}</td>
							<td class="colunaTabelaConsulta" align="left" >{{ obj.tbmunicipio.nome_mun_maiusculo }}</td>
							<td class="colunaTabelaConsulta" align="left" >{{ obj.tbcontrato.nrcontrato }}</td>
							
						</tr>
					{% endfor %}
			</body>
	</table>
-->
</div>
{% endif %}

{% if fases and base.tbclassificacaoprocesso.id == 1 %}
	<div id="tabs-6">
		<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
			VERIFICAÇÃO DE SOBREPOSIÇÃO<hr/>
		</div>
		<form method="post" target="blank" action="/sicop/processo/rural/sobreposicao/{{ rural.id }}/">
		{% csrf_token %}

			<table>
				<tr>
					<td class="colunaTabela">Nome do Detentor:</td>
					<td> <input name="nome_detentor" value="{{rural.nmrequerente}}" size="50" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">CPF do Detentor:</td>
					<td> <input name="cpf_detentor" value="{{rural.nrcpfrequerente}}" size="15" id="cpf3" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">Nome do Imóvel:</td>
					<td> <input name="nome_imovel" value="{{nome_imovel}}" size="40" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">Nome da Gleba:</td>
					<td> <input name="nome_gleba" value="{{nome_gleba}}" size="30" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">Nº de Parcelas:</td>
					<td> <input name="n_parcelas" value="{{n_parcelas}}" size="5" onkeypress="return SomenteNumeroOK(event, this);" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">Área (ha):</td>
					<td> <input name="area_imovel" value="{{area_imovel}}" onkeypress="return SomenteNumero(event, this);" size="10" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">Município (ODS):</td>
					<td> <input name="nome_municipio" value="{{nome_municipio}}" size="30" required type="text" /> </td>
			   	</tr>
				<tr>
					<td class="colunaTabela">UF:</td>
					<td> <input name="uf" size="2" value="MA" required type="text" /> </td>
			   	</tr>
			</table>
			<br/>
			<table style="width:100%">
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_1 == True %}
							<input name="resp_01" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_01" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						01 – Reservada à administração militar federal ou possui outras finalidades de utilidade pública ou interesse social a cargo
						da União?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_01_txt">{{sobreposicao.txt_item_1}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_2 == True %}
							<input name="resp_02" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_02" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						02 – É ocupada tradicionalmente por população indígena identificada pela FUNAI?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_02_txt">{{sobreposicao.txt_item_2}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_3 == True %}
							<input name="resp_03" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_03" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						03 – Esta inserida em florestas públicas? (Interesse do Serviço Florestal Brasileiro)
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_03_txt">{{sobreposicao.txt_item_3}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_4 == True %}
							<input name="resp_04" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_04" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						04 – Esta inserida em Unidades de Conservação? (Integrantes do Cadastro Nacional de Unidades de Conservação)
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_04_txt">{{sobreposicao.txt_item_4}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_5 == True %}
							<input name="resp_05" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_05" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						05 – É objeto de processo administrativo voltado a criação de Unidades de Conservação?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_05_txt">{{sobreposicao.txt_item_5}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_6 == True %}
							<input name="resp_06" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_06" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						06 – Possui benfeitorias ou acessões federais?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_06_txt">{{sobreposicao.txt_item_6}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_7 == True %}
							<input name="resp_07" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_07" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						07 – Abrangem terrenos de Marinha, terrenos marginais ou reservados, seus acrescidos ou outras áreas insuscetíveis de alienação nos termos do Artigo 20 da Constituição Federal? (SPU)
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_07_txt">{{sobreposicao.txt_item_7}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_8 == True %}
							<input name="resp_08" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_08" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						08 – É ocupada por comunidades quilombolas?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_08_txt">{{sobreposicao.txt_item_8}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_9 == True %}
							<input name="resp_09" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_09" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						09 – Situa-se em faixa de fronteira?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_09_txt">{{sobreposicao.txt_item_9}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_10 == True %}
							<input name="resp_10" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_10" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						10 – Sobrepõe a outro imóvel constante no Sistema de Informações Geográficas da SRFA?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_10_txt">{{sobreposicao.txt_item_10}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela">
						{% if sobreposicao.bl_item_11 == True %}
							<input name="resp_11" checked="checked" type="checkbox" />
						{% else %}
							<input name="resp_11" type="checkbox" />
						{% endif %}
					</td>
					<td class="colunaTabela">
						11 – Sobrepõe a Projetos de Assentamento?
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						Se SIM, especificar.
					</td>
			   	</tr>
				<tr>
					<td colspan="2" class="colunaTabela">
						<textarea maxlength="100" style="width:100%" name="resp_11_txt">{{sobreposicao.txt_item_11}}</textarea>
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela" colspan="2">
						12 – Forma do Georreferenciamento:
						&nbsp;&nbsp;
				   		<select required="required" name="forma_geo" style="width: 300px">
				   			
				   			{% if sobreposicao.forma_georreferenciamento == 'GEORREFERENCIAMENTO PARTICULAR' %}
								<option selected="selected" value="GEORREFERENCIAMENTO PARTICULAR">GEORREFERENCIAMENTO PARTICULAR</option>
							{% else %}
								<option value="GEORREFERENCIAMENTO PARTICULAR">GEORREFERENCIAMENTO PARTICULAR</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA ENGPLAGRI CONT. 12.000' %}
								<option selected="selected" value="EMPRESA ENGPLAGRI CONT. 12.000">EMPRESA ENGPLAGRI CONT. 12.000</option>
							{% else %}
								<option value="EMPRESA ENGPLAGRI CONT. 12.000">EMPRESA ENGPLAGRI CONT. 12.000</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA ENGPLAGRI CONT. 22.400' %}
								<option selected="selected" value="EMPRESA ENGPLAGRI CONT. 22.400">EMPRESA ENGPLAGRI CONT. 22.400</option>
							{% else %}
								<option value="EMPRESA ENGPLAGRI CONT. 22.400">EMPRESA ENGPLAGRI CONT. 22.400</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA SETA CONT. CRICIÚMA 19600' %}
								<option selected="selected" value="EMPRESA SETA CONT. CRICIÚMA 19600">EMPRESA SETA CONT. CRICIÚMA 19600</option>
							{% else %}
								<option value="EMPRESA SETA CONT. CRICIÚMA 19600">EMPRESA SETA CONT. CRICIÚMA 19600</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA SETA CONT. CRICIÚMA 77/2013' %}
								<option selected="selected" value="EMPRESA SETA CONT. CRICIÚMA 77/2013">EMPRESA SETA CONT. CRICIÚMA 77/2013</option>
							{% else %}
								<option value="EMPRESA SETA CONT. CRICIÚMA 77/2013">EMPRESA SETA CONT. CRICIÚMA 77/2013</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA SETA CONT. IMPERATRIZ 78/2013' %}
								<option selected="selected" value="EMPRESA SETA CONT. IMPERATRIZ 78/2013">EMPRESA SETA CONT. IMPERATRIZ 78/2013</option>
							{% else %}
								<option value="GEORREFERENCIAMENTO PARTICULAR">GEORREFERENCIAMENTO PARTICULAR</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA PROGETO CONT.35/2012' %}
								<option selected="selected" value="EMPRESA PROGETO CONT.35/2012">EMPRESA PROGETO CONT.35/2012</option>
							{% else %}
								<option value="EMPRESA PROGETO CONT.35/2012">EMPRESA PROGETO CONT.35/2012</option>
							{% endif %}

				   			{% if sobreposicao.forma_georreferenciamento == 'EMPRESA SETA  078/2013' %}
								<option selected="selected" value="EMPRESA SETA  078/2013">EMPRESA SETA  078/2013</option>
							{% else %}
								<option value="EMPRESA SETA  078/2013">EMPRESA SETA  078/2013</option>
							{% endif %}
						</select>						
					</td>
			   	</tr>
				<!-- NOVA QUESTÃO -->
				<tr>
					<td class="colunaTabela" colspan="2">
						Data de Atualização:
						&nbsp;&nbsp;
						<input value="{{sobreposicao.data_atualizacao|date:'d/m/Y'}}" name="data_atualizacao" size="9" id="date" required type="text" />
					</td>
			   	</tr>
			   	<tr>
			   		<td colspan="2" class="colunaTabela"> <input class="button_green" type="submit" value="EMITIR DOCUMENTO" /> </td>
			   	</tr>
			</table>		   	
		</form>
	</div>
{% endif %}

<!--
{% if fases and base.tbclassificacaoprocesso.id == 1 %}
	<div id="tabs-6">
			<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
				FLUXO DO PROCESSO<hr/>
			</div>

		{% if fluxo %}

		    {% if perms.sicop.etapa_checklist_posterior %}
				<div style="width:100%;text-align:right">
					<a href="/sicop/etapa/restaurar/{{ base.id }}/">
						<input type="button" style="width:200px" value="VOLTAR ETAPA" />
					</a>
				</div>
			{% endif %}


			<div style="width:100%;text-align:center">
				{% for obj in fluxo %}
					<br/><br/>
					{% for fase in obj %}
						
									<input 
										type="button"
										{% if etapa_atual %}
											{% if etapa_atual.tbetapa.id == fase.id %}
												{% if perms.sicop.processo_edicao %}
													onclick="editarID('/sicop/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
												{% endif %}
												class="bt_blue"
											{% else %}
												{% if perms.sicop.etapa_checklist_edicao %}
													onclick="editarID('/sicop/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
												{% endif %}
												class="bt_grey"
											{% endif %}
										{% else %}
											{% if perms.sicop.etapa_checklist_edicao %}
												onclick="editarID('/sicop/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
											{% endif %}
											class="bt_grey"
										{% endif %}
										value="{{ fase.nmfase }}" title="{{ fase.dsfase }}" />


						&nbsp;
					{% endfor %}
				{% endfor %}
			</div>

			<div style="margin-top:20px">
				{% if transicao %} 	
						<table class="csstable">
							<tbody>
								<tr>
									<td class="colunaTabelaConsulta" style="width: 15%">Data</td>
									<td class="colunaTabelaConsulta" style="width: 60%">Etapa do fluxo</td>
									<td class="colunaTabelaConsulta" style="width: 25%">Usuario</td>
								</tr>
								{% for mov in transicao %}
								<tr>
									<td class="colunaTabelaConsulta">{{ mov.dttransicao.day }}/{{ mov.dttransicao.month }}/{{ mov.dttransicao.year }}</td>
									<td class="colunaTabelaConsulta">{{ mov.tbetapa.nmfase }}</td>
									<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
				{% endif %}
			</div>

		{% endif %}

	</div>
{% endif %}
-->

{% if titulo_processo %}
{{ titulo_processo|length  }}
	<div id="tabs-7">
		<div style="font-size:12px;margin-bottom:10px;margin-top:20px;width:98%;font-weight:bold;color: green">
			TITULO<hr/>
		</div>
		<table>
			<tr>
				<td class="colunaTabela"> 
					Titulo: 
					<input style="margin-right:5px;" name="cdtitulo" size=8 value="{{titulo_processo.tbtitulo.cdtitulo}}" disabled/>
					<select name="tbtipotitulo"  style="margin-right:10px;width:160px" disabled >
						{% for obj in tipotitulo %}
							{% if obj.id == titulo_processo.tbtitulo.tbtipotitulo.id %}
								<option selected="selected" value="{{ obj.id }}">{{obj.cdtipo}} - {{obj.dstipo}}</option>
							{% else %}
								<option value="{{ obj.id }}">{{obj.cdtipo}} - {{obj.dstipo}}</option>
							{% endif %}
						{% endfor %}
					</select>
					Status:
					<select name="tbstatustitulo" style="width:120px" disabled>
				   		{% for obj in statustitulo %}
							{% if obj.id == titulo_processo.tbtitulo.tbstatustitulo.id %}
								<option selected="selected" value="{{ obj.id }}">{{obj.sttitulo}}</option>
							{% else %}
								<option value="{{ obj.id }}">{{obj.sttitulo}}</option>
							{% endif %}
						{% endfor %}
					</select>
							
				</td>
		   	</tr>
		</table>		   	
	</div>
{% endif %}

{% endblock %}
