{% extends "base/acesso_restrito.html" %}
{% load staticfiles %} 

{% block breadcumbs %} {% endblock %}

{% block conteudo %}

	{% block mensagem %}
		
		{% if messages %}
		<div id="dialog-modal" title="Aviso(s)">
			<ul class="messages">
			    {% for message in messages %}
			    	<li{% if message.tags %} 
			    		style="color: 
							{% if message.level == 20 %} 
								blue
							{% endif %}
							{% if message.level == 30 %} 
								orange
							{% endif %}
							{% if message.level == 40 %} 
								red
							{% endif %}
							; font-size: 15px"
			    		class="{{ message.tags }}"{% endif %}> {{ message }}</li>
			    {% endfor %}
			</ul>
			<div style="text-align:center"> <a onclick="$('#dialog-modal').dialog('close')" class="button_green">OK</a> </div>
		</div>
		{% endif %}
	
	{% endblock %}


	<div id="tabs" style="color:black;width:100%;font-size:11px">
		
		 <ul>
			<li><a href="#tabs-1">{% block subtitulo %} {% endblock %}</a></li>
		</ul>
		
		<div id="tabs-1" style="text-align:center">
				<!-- 		FORMULARIOS DOS FILTROS / CONSULTAS -->
				{% block consulta %} {% endblock %}
			
				<!-- 		RESULTADO DOS FILTROS / CONSULTAS		 -->
				{% block resultado %} {% endblock %}		
		</div>
	</div>	
	
{% endblock %}
