
{% block formulario %}

		<form name="form_cadastro" method="post" action="/sicop/restrito/processo/clausula/cadastro/">
			{% csrf_token %}
			<table>
				<tr> <td class="colunaTabela"> <label>N do Processo:</label> </td>
					<td> <input name="nrprocesso" id="processo" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Titulado:</label> </td>
					<td> <input size="35" name="nmrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Titulado:</label> </td>
					<td> <input size="13" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Interessado:</label> </td>
					<td> <input size="35" name="nminteressado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Interessado:</label> </td>
					<td> <input size="13" id="cpf2" name="nrcpfinteressado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select name="tbcaixa" style="width: 200px">
								<option value="">-- Selecione uma Caixa --</option>
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select name="tbgleba" style="width: 200px">
				   				<option value="">-- Selecione uma Gleba --</option>
								{% for obj in gleba %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								<option value="">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Area:</label> </td><td> <input onkeypress="return SomenteNumero(event, this);" size="15" name="nrarea" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Por Procuracao:</label> </td><td>{{ form.stprocuracao }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Situacao:</label> </td>
				   		<td>
				   			<select name="tbsituacaoprocesso" style="width: 200px">
								<option value="">-- Selecione uma Situacao --</option>
								{% for obj in situacaoprocesso %}
									<option value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Data Titulacao:</label> </td><td> <input id="date" name="dttitulacao" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Observacao:</label> </td><td> <textarea rows="4" cols="40" name="dsobs"></textarea></td> </tr>
			</table>
			<br/><br/>
			<div style="width:100%;font-size:12px;text-align:right">
				<a href="/sicop/restrito/processo/cadastro/" class="button_red">VOLTAR</a>
				<button type="submit" class="button_green">SALVAR</button>
			</div>
		</form>			
{% endblock %}