{% extends "base/cadastro_base.html" %} 
{% load staticfiles %}
 
{% block breadcumbs %}
	Acesso Restrito | Processo Clausula Resolutiva | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

 <ul>
	<li><a href="#tabs-1">EDICAO PROCESSO CLAUSULA</a></li>
	<li><a href="#tabs-2">TRAMITACOES</a></li>
	<li><a href="#tabs-3">PENDENCIAS</a></li>
	<li><a href="#tabs-4">ANEXOS</a></li>
</ul>

<div id="tabs-1">
<form method="post" action="/sicop/restrito/processo/clausula/edicao/{{ clausula.id }}/">
	{% csrf_token %}
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
				<tr> <td class="colunaTabela"> <label>N do Processo:</label> </td>
					<td> <input size="21" readonly="readonly" value="{{ base.nrprocesso }}" name="nrprocesso" id="processo" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Titulado:</label> </td>
					<td> <input value="{{ clausula.nmrequerente }}" size="35" name="nmrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Titulado:</label> </td>
					<td> <input size="15" value="{{ clausula.nrcpfrequerente }}" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Interessado:</label> </td>
					<td> <input size="35" value="{{ clausula.nminteressado }}" name="nminteressado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Interessado:</label> </td>
					<td> <input size="15" id="cpf2" value="{{ clausula.nrcpfinteressado }}" name="nrcpfinteressado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			{{ base.tbcaixa.nmlocalarquivo }}
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select name="tbgleba" style="width: 200px">
				   				<option value="">-- Selecione uma Gleba --</option>
								{% for obj in gleba %}
									{% if obj.id == base.tbgleba.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/gleba/cadastro/?next=/sicop/restrito/processo/clausula/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								<option value="">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									{% if obj.id == base.tbmunicipio.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Area:</label> </td><td> <input value="{{ clausula.nrarea|default:'' }}" onkeypress="return SomenteNumero(event, this);" size="15" name="nrarea" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Por Procuracao:</label> </td>
				<td>
					{% if clausula.stprocuracao == True %} 
						<input checked="checked" type="checkbox" name="stprocuracao" />
					{% else %}
						<input type="checkbox" name="stprocuracao" />
					{% endif %} 
				</td> </tr>

				<tr> <td class="colunaTabela"> <label>Certidao quitacao:</label> </td>
				<td>
					{% if clausula.stcertquitacao == True %} 
						<input checked="checked" type="checkbox" name="stcertquitacao" />
					{% else %}
						<input type="checkbox" name="stcertquitacao" />
					{% endif %} 
				</td> </tr>

				<tr> <td class="colunaTabela"> <label>Certidao liberacao:</label> </td>
				<td>
					{% if clausula.stcertliberacao == True %} 
						<input checked="checked" type="checkbox" name="stcertliberacao" />
					{% else %}
						<input type="checkbox" name="stcertliberacao" />
					{% endif %} 
				</td> </tr>

			{% if base.tbclassificacaoprocesso.id == 2 %}
				<tr> <td class="colunaTabela"> <label>Classificacao:</label> </td>
				   		<td>
				   			{{ base.tbclassificacaoprocesso.nmclassificacao }}
						</td>
				</tr>
			{% endif %}
				<tr> <td class="colunaTabela"> <label>Situacao:</label> </td>
				   		<td>
				   			<select name="tbsituacaoprocesso" style="width: 200px">
								<option value="">-- Selecione uma Situacao --</option>
								{% for obj in situacaoprocesso %}
									{% if obj.id == base.tbsituacaoprocesso.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/situacao_processo/cadastro/?next=/sicop/restrito/processo/clausula/cadastro/" title="Nova Situacao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Data Titulacao:</label> </td><td> <input value="{{ dttitulacao }}" size="9" id="date" name="dttitulacao" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Observacao:</label> </td><td> <textarea rows="4" cols="40" name="dsobs">{{ clausula.dsobs }}</textarea></td> </tr>
		</table>
	</div>
	<br />
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>
</form>
</div>
{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-2">
<form method="post" action="/sicop/restrito/processo/tramitacao/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr>
		   	<td class="colunaTabelaConsulta" >
		   		Caixa Destino:
		   		<select name="tbcaixadestino" style="width: 300px">
		   			{% for obj in caixadestino %}
						<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="TRAMITAR" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 15%">Data</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Origem</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Destino</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if movimentacao %} {% for mov in movimentacao %}
				<tr>
					<td class="colunaTabelaConsulta">{{ mov.dtmovimentacao.day }}/{{ mov.dtmovimentacao.month }}/{{ mov.dtmovimentacao.year }}</td>
					<td class="colunaTabelaConsulta">{{	mov.tbcaixa_id_origem.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.tbcaixa.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
				</tr>
				{% endfor %} {% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhuma Movimentacao
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

	</div>
{% endif %}

<div id="tabs-3">
<form method="post" action="/sicop/restrito/processo/pendencia/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
		   		<select name="tbtipopendencia" style="width: 200px">
		   			{% for obj in tipopendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input name="dspendencia" />
		   		<select name="tbstatuspendencia" style="width: 200px">
		   			{% for obj in statuspendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="CRIAR PENDENCIA" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width: 15%">Tipo</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Status</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Descricao</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if pendencia %}
				   		{% for pen in pendencia %}
							<tr>
								<td class="colunaTabelaConsulta">
									<a	href="/sicop/restrito/pendencia/edicao/{{ pen.id }}"> 
										<img width="16" src="{% static "img/search.png" %}" />
									</a>
								</td>
								<td class="colunaTabelaConsulta">{{	pen.tbtipopendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{	pen.tbstatuspendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{ pen.dsdescricao }}</td>
								<td class="colunaTabelaConsulta">{{ pen.auth_user.first_name }}</td>
							</tr>
						{% endfor %}
				{% else %}
					<tr>
						<td style="padding-top: 20px" colspan="6">Nenhuma Pendencia</td>
					</tr>
				{% endif %}

			</tbody>
		</table>

	</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-4">
<form method="post" action="/sicop/restrito/processo/anexo/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
				<input id="processo2" name="processoanexo" />
				<input type="submit" value="ANEXAR" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 15%">Data do	anexo</th>
					<th class="colunaTabelaConsulta" style="width: 30%">Processo anexado</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if anexado %} {% for anexo in anexado %}
				<tr>
					<td class="colunaTabelaConsulta">{{ anexo.dtanexado.day }}/{{ anexo.dtanexado.month }}/{{ anexo.dtanexado.year }}</td>
					<td class="colunaTabelaConsulta">{{ anexo.tbprocessobase_id_anexo.nrprocesso }}</td>
					<td class="colunaTabelaConsulta">{{	anexo.auth_user.first_name }}</td>
				</tr>
				{% endfor %} {% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhum Anexo</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endif %}

</div>

{% endblock %}
