
/* - invisibles.css - */
@media screen {
/* http://www.brasil.gov.br/portal_css/invisibles.css?original=1 */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
}
.visualOverflow {
overflow: auto;
margin: 0 0 1em 0;
}
.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
margin: 0;
}
/* */
.hiddenStructure {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.contentViews .hiddenStructure,
.contentActions .hiddenStructure {
position: absolute;
top: -200px;
left: -200px;
}
.hiddenLabel {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
/* */
.visualClear {
display: block;
clear: both;
}
/* */
.netscape4 {
display: none;
}
/* */
tr.dragging td {
background-color: #ff6 !important;
}
.draggingHook {
cursor: move;
}
.notDraggable {
}
/* */
}


/* - forms.css - */
@media screen {
/* http://www.brasil.gov.br/portal_css/forms.css?original=1 */
/* */
/* */
textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
border: 1px solid #ddd;
border-color:#666 #ddd #ddd #666;
color: Black;
background: White url(http://www.brasil.gov.br/input_background.gif) repeat-x;
width: 100%;
}
input {
font-family: "Arial,Verdana,sans-serif;
visibility: visible;
border: 1px solid #ddd;
border-color:#666 #ddd #ddd #666;
color: Black;
vertical-align: middle;
background: White url(http://www.brasil.gov.br/input_background.gif) repeat-x;
font-size: 1em;
}
/* */
.noborder,
.documentEditable * .noborder {
border: none;
margin: 0;
background: none;
background-color: transparent;
}
input[type=checkbox] {
border: none;
margin: 0;
background: none;
background-color: transparent;
}
#searchGadget {
border: 1px solid #8cacbb;
}
button {
font-family: "Arial,Verdana,sans-serif;
visibility: visible;
border: 1px solid #8cacbb;
color: Black;
vertical-align: middle;
background-color: #dee7ec;
padding: 1px;
cursor: pointer;
font-size: 90%;
text-transform: none;
}
.divSidebarEsq .divFiltroBusca .divBoxFiltroBusca .divBoxFiltroBuscaTop .divBoxFiltroBuscaBottom form fieldset .diBoxResultados .btnBuscar{
width:49px;
height:26px;
border:0;
cursor:pointer;
background:url(http://www.brasil.gov.br/btn/btnBuscar.gif) no-repeat;
vertical-align:middle;
margin:10px 0 0 6px;
float:right;
}
.divSidebarEsq .divFiltroBusca .divBoxFiltroBusca .divBoxFiltroBuscaTop .divBoxFiltroBuscaBottom form fieldset .diBoxResultados .btnBuscar-en {
background:url(http://www.brasil.gov.br/btn/btnBuscar_en.gif) no-repeat;
}
.divSidebarEsq .divFiltroBusca .divBoxFiltroBusca .divBoxFiltroBuscaTop .divBoxFiltroBuscaBottom form fieldset .diBoxResultados .btnBuscar-es {
background:url(http://www.brasil.gov.br/btn/btnBuscar_es.gif) no-repeat;
}
select {
vertical-align: top;
}
form {
border: none;
margin: 0;
}
fieldset {
border: 1px solid #8cacbb;
margin: 1em 0em 1em 0em;
padding: 0em 1em 1em 1em;
line-height: 1.5em;
width: auto;
}
legend {
background: White;
padding: 0.5em;
font-size: 90%;
}
label {
font-weight: bold;
}
optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
option {
color: black;
}
optgroup > option {
padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
margin-left: 0;
padding-top: 2em;
}
#login-form {
/* */
margin: 0 auto;
}
#login-form .field {
clear: none;
}
#login-form input {
font-size: 150%;
}
#login-form input.context {
padding: 1px 10px 1px 20px;
background-position: 9px 5px;
margin-bottom: 1em;
}
#forgotten-password {
float: right;
width: 35%;
margin: 0 1em;
}
.standalone,
.documentEditable * .standalone {
background: #dee7ec url(http://www.brasil.gov.br/linkOpaque.gif) 9px 1px no-repeat;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #8cacbb;
}
.context,
.formControls .actionButtons .button,
.documentEditable * .context {
background: transparent url(http://www.brasil.gov.br/linkTransparent.gif) 9px 1px no-repeat;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #8cacbb;
}
.destructive,
.documentEditable * .destructive {
background: #ffce7b url(http://www.brasil.gov.br/linkTransparent.gif) 9px 1px no-repeat;
border: 1px solid #ffa500;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #8cacbb;
}
input.searchButton {
margin-bottom: 1px ! important;
color: Black;
font-size: 90%;
background: White url(http://www.brasil.gov.br/search_icon.gif) 2px 1px no-repeat;
cursor: pointer;
padding: 1px 1px 1px 19px;
text-transform: none;
border: 1px solid #8cacbb;
}
.searchSection {
color: #76797c;
margin-top: 0.25em;
}
.searchSection label:hover {
color: Black;
}
/* */
.field {
top: 0;
left: 0;
margin: 0 1em 1em 0;
clear: both;
}
.field .field {
margin: 0;
}
.fieldRequired {
background: url(http://www.brasil.gov.br/required.gif) center left no-repeat;
padding: 0 0 0 8px;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
font-size: 90%;
color: #76797c;
margin: 0 0 0.2em 0;
}
.formHelp:hover {
color: Black;
cursor: default;
}
div.error {
/* */
padding: 0.5em;
margin: 0 0 1em 0;
width: 95%;
}
.error .fieldRequired {
color: #d00;
}
.avisoHeaderBG .btFechar{
float: right; display: block; margin-top: 0px; font-size: 0.7em; margin-right: -26px; color:#333;
}
/* */
#archetypes-fieldname-title input, input#form\.title {
font-size: 160%;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
font-weight: normal;
width: 99%;
}
#archetypes-fieldname-description textarea, textarea#form\.description {
font: 100% "Arial,Verdana,sans-serif;
font-weight: bold;
}
input.inputLabelActive {
color: #76797c;
}
textarea#form\.description {
height: 6em;
width: 99%;
}
tr.selected {
background-color: #ffa;
}
.kupu-save-message {
color: white;
font-weight: bold;
background-color: red;
padding: 0.3em;
position: fixed;
top: 0;
right: 0;
z-index: 999;
}
/* */

}


/* - ploneKss.css - */
@media screen {
/* http://www.brasil.gov.br/portal_css/ploneKss.css?original=1 */
#kss-spinner {
display:none;
width: 20px;
height: 20px;
position: fixed;
background-position: center center;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -10px;
}
.formlibInlineEditable,
.inlineEditable {
padding: 1px;
display: block;
}
body.kssActive .inlineEditable:hover,
body.kssActive .formlibInlineEditable:hover {
padding: 0;
border: 1px solid #ddd;
border-color: #666 #ddd #ddd #666;
cursor: text;
background: White url(input_background.gif) repeat-x;
}
body.kssActive .inlineEditable a:hover,
body.kssActive .formlibInlineEditable a:hover {
cursor: pointer;
}
body.kssActive .formlibInlineForm:hover,
body.kssActive .formlibInlineForm a:hover {
padding: 1px;
border: none;
cursor: default;
background: none;
}
.inlineForm .formHelp,
.inlineForm .fieldRequired,
.inlineForm label {
display: none;
}
/* */
.inlineForm .ArchetypesSelectionWidget label {
display: inline;
}
.inlineForm #archetypes-fieldname-title input,
.inlineForm #archetypes-fieldname-title {
font-size: 100%;
}
/* */
h1 div.formControls input {
font-size: 55% !important;
}
}


/* - contentpanels.css - */
@media all {
/* http://www.brasil.gov.br/portal_css/contentpanels.css?original=1 */
/* */
#region-content .viewlet .portlet{
font-size: 100%
}
.documentContent .portletFooter,
.documentContent .portletItem {
padding: 0.3em;
}
.documentContent .portletItemDetails {
color: #76797c;
font-size: 90%;
margin-top: -0.5em;
}
.cpPanels .cpPanel {
margin: 1em 0 0 0;
}
.documentContent .viewlet .portlet{
margin: 0 0 0 0;
}
.cpPanelsHeading {
background-color: lavender;
white-space: nowrap;
text-align: right;
}
.cpPanelsHeading .cpPanelsHeadingInput,
.cpPanelHeading .cpPanelsHeadingInput {
float: left;
}
.cpPanelHeading {
background-color: lavender;
}
.cpPanelHeading td {
text-align: right
}
.cpViewletItem a {
white-space: nowrap;
}
.cpViewletItem span {
white-space:nowrap;
background-color: lightgreen;
}
/* */
.cpEditFormInputValues {
float: left;
}
.cpEditFormSubmitButtons {
float: right;
}
.cpRelatedContent li.cpRelatedItem{
display: inline;
}
.cpPages {
float:right;
white-space: nowrap;
margin-top: 0;
}
.cpPages li {
display: inline;
}
.cpPages li a {
font-size: 90%;
background-color: transparent;
border: 1px solid #ffb200;
color: #578308;
margin-right: 0.5em;
padding: 0em 1em;
text-decoration: none;
text-transform: none;
z-index: 1;
}
.cpPages li.selected a {
background-color: #ffdb00;
color: #578308;
}
.cpPages li a:hover {
background-color: #ffdb00;
color: #578308;
}
/* */
/* */
/* */
.notitlePortletWrapper dt.portletHeader {
display: none;
}
.notitlePortletWrapper .portlet,
.notitlePortletWrapper dd.portletFooter,
.notitlePortletWrapper dd.portletItem{
border: none;
}
/* */
.zopezenPortletWrapper dt.portletHeader {
background-color: White;
font-style: normal;
border: none;
text-transform: capitalize;
border-bottom: 2px solid #dee7ec;
}
.boxPortletWrapper dl.portlet dd.portletFooter,
.boxPortletWrapper dl.portlet dd.portletItem,
.boxPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet dd.portletFooter,
.zopezenPortletWrapper dl.portlet dd.portletItem {
border: none;
}
/* */
.alertPortletWrapper dl.portlet dt.portletHeader{
background: #ffa500;
font-weight: bold;
border-color: #ffa500;
text-transform: uppercase;
background-image: url(http://www.brasil.gov.br/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
padding-left: 2.5em;
}
.alertPortletWrapper dl.portlet dd.portletFooter,
.alertPortletWrapper dl.portlet dd.portletItem {
background-color: #ffce7b;
}
/* */
.dottedPortletWrapper dl.portlet dt.portletHeader{
background: White;
font-weight: bold;
border: none;
padding-left: 0em;
text-transform: capitalize;
color: Black;
border-bottom: 2px dotted #dee7ec;
}
.dottedPortletWrapper dl.portlet dd.portletFooter,
.dottedPortletWrapper dl.portlet dd.portletItem {
border: 2px dotted #dee7ec;
border-top:none;
border-bottom: none;
}
.dottedPortletWrapper dl.portlet{
border-bottom: 2px dotted #dee7ec;
}
.imageNewsImage {
float: left;
margin: 0.5em;
}
.imageNewsTitle {
font-weight:bold;
}
.viewlet-rss-link{
padding-right: 2px;
float: right;
display: block;
}
/* */

}


/* - contentpanelsCustom.css - */
@media all {
/* http://www.brasil.gov.br/portal_css/contentpanelsCustom.css?original=1 */
/* */
/* */

}


/* - tabber.css - */
@media all {
/* http://www.brasil.gov.br/portal_css/tabber.css?original=1 */
/* */  .tabberlive .tabbertabhide {   display:none;  }
.tabber {  }  .tabberlive {      margin-bottom: 1em;  }
ul.tabbernav  {   margin:0;   padding: 1px 0;   border-bottom: 1px solid #74ae0b;   text-align: center;  }
ul.tabbernav li  {   list-style: none;   margin: 0;   display: inline;  }
ul.tabbernav li a  {   padding: 3px 0.5em;   margin-left: 0;   border: 1px solid #74ae0b;   border-style: solid none solid dotted;   text-decoration:
none;   color: #5d8811;   position: relative;   top: 1em;   background-color: White;  }
ul.tabbernav li a:hover  {   background-color: #cde2a7;   border-color: #74ae0b;  }
ul.tabbernav li a:active {   color: #5d8811;  }  ul.tabbernav li.tabberactive a  {   background-color: #cde2a7;   color: #5d8811;  }
ul.tabbernav li.tabberactive a:hover  {   background-color: #cde2a7;  }
.tabberlive .tabbertab {   padding: 1em 0.1em 0.1em 0.1em;   border:1px solid #74ae0b;   border-top:0;
/* */
/* */
/* */
/* */  }
/* */
.tabberlive .tabbertab h2 {   display:none;  }
/* */
#undefinednav1 { border-left: 1px solid #74ae0b;;}
#undefinednav2 { border-right: 1px solid #74ae0b;;}
* html .tabbertab {height: 1%} /* */
.summaryColumn {      border-right: 1px solid #8cacbb;  }
.visualOnlyPrint {display: none;}

}


/* - ploneCustom.css - */
@media screen {
/* http://www.brasil.gov.br/portal_css/ploneCustom.css?original=1 */
﻿/* */
/* */
/* */
.section-para .chamadas-em-destaque-noticioso .divBoxPos07, .section-para .chamadas-em-destaque-institucional .divBoxPos07 {
background: #f7f7f7!important;
padding: 4px 7px 1px 19px!important;
width: 495px!important;
margin-top: 15px!important;
}
.section-para .chamadas-em-destaque-noticioso .divChamada1, .section-para .chamadas-em-destaque-institucional .divChamada1 {
border-top: 1px solid hsl(0, 0%, 82%) !important;
max-width: 485px;
padding-top: 24px;
}
.section-para .chamadas-em-destaque-noticioso .divChamada1.first-child, .section-para .chamadas-em-destaque-institucional .divChamada1.first-child {border: none!important;padding-top: 10px;}
.section-para .chamadas-em-destaque-noticioso .divChamada1 img.baixoContraste, .section-para .chamadas-em-destaque-institucional .divChamada1 img.baixoContraste {display: none;}
.section-para .chamadas-em-destaque-noticioso .divBoxPos07 .imgLeft, .section-para .chamadas-em-destaque-institucional .divBoxPos07 .imgLeft {padding-bottom: 9px;}
.section-para .chamadas-em-destaque-noticioso .divChamada1 H5, .section-para .chamadas-em-destaque-institucional .divChamada1 H5{font-size: 1.4em; padding-bottom: 8px !important;}
.section-para .chamadas-em-destaque-noticioso .divChamada1 p, .section-para .chamadas-em-destaque-institucional .divChamada1 p{color: hsl(0, 0%, 40%);font-size: 1.1em !important;}
.section-para .galeria-de-videos .imagemLink2col{margin-top: 15px!important;}
.crNoticiasm {width: 242px;}
.panImage .portletHeader {display: none;}
.crNavegacaoLinksT.Verde .vert.right, .crNavegacaoLinksT.Verde .vert.prev, .crNavegacaoLinksT.Azul .vert.prev, .crNavegacaoLinksT .vert.right{width: 25px !important;}
/* */
}

