
/* - print.css - */
@media print {
/* http://www.brasil.gov.br/portal_css/print.css?original=1 */
h4 {
color:#007CC2;
font:bold 20px Arial,Helvetica,sans-serif;
margin:0;
padding:0 0 7px;
}
.breadcumb {font:11px Arial,Helvetica,sans-serif; margin-top:10px;}
.titulo {margin:30px 0;}
.texto {
color:#000000;
font:14px Arial,Helvetica,sans-serif;
}
.texto .divModImgHorP{
padding-bottom:20px;
}
div a img{
border:0;
clear:both;
display:block;
}
.divBoxLegenda ul{
padding:0;
}
.divBoxLegenda ul li{
list-style:none;
}
.divBoxLegenda ul li.liAmpliar{
display:none;
}

}

