{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Usuario | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR USUARIO
	
{% endblock %}

{% block formulario %}
		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td> <input size="35" value="{{ user_obj.first_name }}" name="first_name" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Sobrenome:</label> </td><td> <input value="{{ user_obj.last_name }}" name="last_name" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Email:</label> </td><td> <input name="email" value="{{ user_obj.email }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Login:</label> </td><td> <input value="{{ user_obj.username }}" name="username" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Senha:</label> </td><td> <input type="password" size="12" value="{{ user_obj.password }}" name="password" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Ativo:</label> </td>
				   <td>
				   		{% if user_obj.is_active == True %} 
							<input checked="checked" type="checkbox" name="is_active" />
						{% else %}
							<input type="checkbox" name="is_active" />
						{% endif %}
				   </td> </tr>
					<tr> <td class="colunaTabela"> <label>Divisao:</label> </td>
				   		<td>
				   			<select style="width: 200px" name="tbdivisao">
				   				{% for obj in divisao %}
									{% if obj.id == user_obj.tbdivisao.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmdivisao }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmdivisao }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/divisao/cadastro/" title="Nova Divisao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/usuario/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
