{% extends "core/base/consulta.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | GEO Informação | Lista
{% endblock %}

{% block subtitulo %}
	
	LISTA DOS RELATÓRIOS GEOGRÁFICOS
	
{% endblock %}

{% block consulta %}
	
	<br/><br/>
	<div style="width:100%;font-size:14px;text-align:left">
		<ul>
			<li>
				<a href="/geoinformacao/processo/processo_parcela_titulo/" style="text-decoration: underline">Processos x Parcelas x Titulos</a> <br /><br />
			</li>
		</ul>
		

	</div>
	
{% endblock %}


{% block resultado %}

{% endblock %}