{% extends "core/base/consulta.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | GEO Informação | Processos x Parcelas x Titulados
{% endblock %}

{% block subtitulo %}
	
	BATIMENTO PROCESSOS X PARCELAS X TITULADOS
	
{% endblock %}

	{% block customhead %}		

		{% if retorno %}

			<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

			<script>

				var map;
				var infowindow = new google.maps.InfoWindow();

				$(document).ready(function() {
				        $(function() {

						    map = new google.maps.Map(document.getElementById('map'), 
							    {
							        zoom: 7,
							        center: new google.maps.LatLng( -3.886436490787712, -45.2685546875 ),
							        mapTypeId: google.maps.MapTypeId.HYBRID,
							        streetViewControl: false,
							        panControl: false 
							    }
							);

				        	{% for multipolygon in geo %}

							  var coords = [];
						        	{% for polygon in multipolygon.geom %}
							        	{% for linearring in polygon %}
								        	{% for point in linearring %}
								        	  coords[coords.length] = new google.maps.LatLng(
								        	  	'{{point}}'.replace(')','').replace('(','').split(',')[1], 
								        	  	'{{point}}'.replace(')','').replace('(','').split(',')[0]);
								        	{% endfor %}
							        	{% endfor %}
						        	{% endfor %}

							  // Construct the polygon.
							  poligono = new google.maps.Polygon({
							    paths: coords,
							    {% if multipolygon.situacao_p = 'Titulado' and multipolygon.cpf_detent != null %}
							    	strokeColor: '{{ cor_com_titulo }}',
							    	fillColor: '{{ cor_com_titulo }}',
							    {% elif multipolygon.situacao_p != 'Titulado' and multipolygon.situacao_p != null and multipolygon.cpf_detent != null %}
							    	strokeColor: '{{ cor_com_processo }}',
							    	fillColor: '{{ cor_com_processo }}',
							    {% else %}
							    	strokeColor: '{{ cor_sem_processo }}',
							    	fillColor: '{{ cor_sem_processo }}',
							    {% endif %}
							    strokeOpacity: 0.8,
							    strokeWeight: 2,
							    fillOpacity: 0.35
							  });

							  google.maps.event.addListener(poligono, 'mouseover', function(event) {
							  	infowindow.setContent('{{multipolygon.nome_deten}}');
							    infowindow.open(map, this);
							    infowindow.setPosition(
							    	new google.maps.LatLng( 
							    		event.latLng.lat(), 
							    		event.latLng.lng() ));
							  });
							  google.maps.event.addListener(poligono, 'mouseout', function() {
							    infowindow.close();
							  });

							  poligono.setMap(map);

				        	{% endfor %}

					        });
				});

			</script>

			<style>
				#map {width: 660px; height: 450px}
			</style>

		{% endif %}

	{% endblock%}

	{% block consulta %}

		{% if not retorno %}

			<br/><br/>
			<div style="width:100%;font-size:12px;text-align:center">
					<form method="post" action="">
						{% csrf_token %}
						<div style="width:70%;font-size:12px;text-align:left">
							<table>
							   <tr> 
							   		<td class="colunaTabela"> <label>Regional:</label> </td>
							   		<td>
							   			<select name="regional" style="width:150px">
												<option value="21">Maranhão</option>
										</select>
									</td>
								</tr>
							   <tr> 
							   		<td class="colunaTabela"> <label>Cor das parcelas tituladas:</label> </td>
							   		<td>
							   			<select name="cor_com_titulo" style="width:150px">
												<option value="LightBlue">Azul Claro</option>
												<option value="Yellow">Amarelo</option>
												<option value="Gray">Cinza</option>
												<option value="Orange">Laranja</option>
												<option value="Magenta">Magenta</option>
												<option value="Brown">Marrom</option>
												<option value="Red">Vermelho</option>
												<option value="Lime">Verde Claro</option>
										</select>
									</td>
								</tr>
							   <tr> 
							   		<td class="colunaTabela"> <label>Cor das parcelas com processo:</label> </td>
							   		<td>
							   			<select name="cor_com_processo" style="width:150px">
												<option value="LightBlue">Azul Claro</option>
												<option value="Yellow">Amarelo</option>
												<option value="Gray">Cinza</option>
												<option value="Orange">Laranja</option>
												<option value="Magenta">Magenta</option>
												<option value="Brown">Marrom</option>
												<option value="Red">Vermelho</option>
												<option value="Lime">Verde Claro</option>
										</select>
									</td>
								</tr>
							   <tr> 
							   		<td class="colunaTabela"> <label>Cor das parcelas sem processo:</label> </td>
							   		<td>
							   			<select name="cor_sem_processo" style="width:150px">
												<option value="LightBlue">Azul Claro</option>
												<option value="Yellow">Amarelo</option>
												<option value="Gray">Cinza</option>
												<option value="Orange">Laranja</option>
												<option value="Magenta">Magenta</option>
												<option value="Brown">Marrom</option>
												<option value="Red">Vermelho</option>
												<option value="Lime">Verde Claro</option>
										</select>
									</td>
								</tr>
							</table>				
						
						</div>
						<br/><br />
						<table style="width:100%">
							<tr>
								<td class="colunaTabela" style="text-align:left"> 
									<a href="javascript:history.back()" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
									<input type="submit" class="button_green" value="EXIBIR" />
								</td>
							</tr>
						</table>
					</form>
			</div>

		{% endif %}

	{% endblock %}

	
	{% block resultado %}
		{% if retorno %}
			<div>						
				<div id="map" style="margin:2px"></div>	
				<div style="font-size:12px">
					Legenda: {{cor_com_titulo}} = Titulados; {{cor_com_processo}} = Processos no SisterLeg; {{cor_sem_processo}} = Parcelas sem Processo (SisterLeg)
				</div>
			</div>
		{% endif %}
	{% endblock %}
