{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Peca Tecnica | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR PECA TECNICA
	
{% endblock %}


{% block formulario %}
		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Contrato:</label> </td>
				   		<td>
				   			<select id="id_tbcontrato" style="width: 200px" name="tbcontrato">
				   				<option value="">-- Selecione o Contrato --</option>
								{% for obj in contrato %}
									<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/contrato/cadastro/" title="Novo Contrato"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
					</tr>
				   <tr> <td class="colunaTabela"> <label>Entrega:</label> </td><td>{{ form.nrentrega }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td><td> <input  size="14" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td><td> <input size="35" name="nmrequerente" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select id="id_tbcaixa" style="width: 200px" name="tbcaixa">
								<option value="">-- Selecione uma Caixa --</option>
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/caixa/cadastro/" title="Novo Caixa"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				   <tr> <td class="colunaTabela"> <label>Area:</label> </td><td> <input onkeypress="return SomenteNumero(event, this);" size="15" name="nrarea" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Perimetro:</label> </td><td> <input onkeypress="return SomenteNumero(event, this);" size="15" name="nrperimetro" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select id="id_tbgleba" style="width: 200px" name="tbgleba">
				   				<option value="">-- Selecione uma Gleba --</option>
								{% for obj in gleba %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/gleba/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				   <tr> <td class="colunaTabela"> <label>Anexado ao processo:</label> </td><td>{{ form.stanexadoprocesso }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Enviado Brasilia:</label> </td><td>{{ form.stenviadobrasilia }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Peca Tecnica Aprovada:</label> </td><td>{{ form.stpecatecnica }} </td> </tr>			   
				   <tr> <td class="colunaTabela"> <label>Observacao:</label> </td><td> <textarea rows="4" cols="40" name="dsobservacao"></textarea></td> </tr>
				</table>
		</div>
		<br/><br/>
		<div style="width:100%;font-size:12px;text-align:right">
			<a onclick="history.back();" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
	
{% endblock %}
