{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Peca Tecnica | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR PECA TECNICA
	
{% endblock %}


{% block formulario %}
		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
					
				   <tr> <td class="colunaTabela"> <label>Contrato:</label> </td>
				   		<td>
				   			<select id="id_tbcontrato" name="tbcontrato">
								{% for obj in contrato %}
									<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
								{% endfor %}
							</select>
							<a href="/sicop/admin/web/tbcontrato/add/"> <img alt="Novo Contrato" width="16" src="{% static "img/add.png" %}"> </a>
						</td>
				   	</tr>
				   <tr> <td class="colunaTabela"> <label>Entrega:</label> </td><td>{{ form.nrentrega }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td><td> <input  size="15" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td><td> <input size="35" name="nmrequerente" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select id="id_tbcaixa" name="tbcaixa">
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
							<a href="/sicop/admin/web/tbcaixa/add/"> <img alt="Nova Caixa" width="16" src="{% static "img/add.png" %}"> </a>
						</td>
				   	</tr>
				   <tr> <td class="colunaTabela"> <label>Area:</label> </td><td> {{ form.nrarea }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Perimetro:</label> </td><td>{{ form.nrperimetro }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select id="id_tbgleba" name="tbgleba">
								{% for obj in gleba %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endfor %}
							</select>
							<a href="/sicop/admin/web/tbgleba/add/"> <img alt="Nova Gleba" width="16" src="{% static "img/add.png" %}"> </a>
						</td>
				   	</tr>
				   <tr> <td class="colunaTabela"> <label>Anexado ao processo:</label> </td><td>{{ form.stanexadoprocesso }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Enviado Brasilia:</label> </td><td>{{ form.stenviadobrasilia }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Peca Tecnica Aprovada:</label> </td><td>{{ form.stpecatecnica }} </td> </tr>			   
				   <tr> <td class="colunaTabela"> <label>Observacao:</label> </td><td> <textarea rows="4" cols="40" name="dsobservacao"></textarea></td> </tr>
				    
				</table>
		</div>
		<br/><br/>
		<div style="width:100%;font-size:12px;text-align:right">
			<a href="/sicop/restrito/peca_tecnica/consulta/" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
	
{% endblock %}
