{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %}
	Acesso Restrito | Peca Tecnica
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR PECA TECNICA
	
{% endblock %}

{% block consulta %}
	
		<form action="." method="post">
			{% csrf_token %}
			<table id="table_peca_tecnica">
				   <tr> 
				   		<td class="colunaTabela"> <label>Contrato:</label> </td>
				   			<td>
				   				<select id="id_tbcontrato" name="contrato">
									<option value="0" selected="selected">TODOS</option>
									{% for obj in contrato %}
										<option value="{{ obj.id }}">{{ obj.nrcontrato }}</option>
									{% endfor %}
								</select>
							</td>
								
				   		<td class="colunaTabela"> <label>Gleba:</label> </td>
				   			<td>
				   				<select id="id_tbgleba" name="gleba">
									<option value="0" selected="selected">TODAS</option>
									{% for obj in gleba %}
										<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
									{% endfor %}
								</select>
							</td>
				   		
				   		<td class="colunaTabela"> <label>Caixa:</label> </td>
				   			<td>
				   				<select id="id_tbcaixa" name="caixa">
									<option value="0" selected="selected">TODAS</option>
									{% for obj in caixa %}
										<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
									{% endfor %}
								</select>
							</td>
				   		
				   </tr>
				   <tr> 
				   		<td class="colunaTabela"> <label>Entrega:</label> </td><td> <input name="entrega" /> </td>
				   		<td class="colunaTabela"> <label>CPF:</label> </td><td> <input name="cpf" /> </td>
				   		<td class="colunaTabela"> <label>Requerente:</label> </td><td> <input name="requerente" /> </td>
				   </tr>
			</table>
			<div style="text-align: left;padding-bottom: 20px"> <button class="button_yellow" type="submit"> Consultar </button> </div>
		</form>
{% endblock %}

{% block resultado %}
		
		<table>
			<div style="width:100%;text-align:right">
				<a href="/web/relatorio/"> <img width="24" title="Relatorio da Peca Tecnica" src="{% static "img/pdf.png" %}" /> </a>
			</div>
			<thead style="background:#e5e5e5;color:black">
				<tr>
					<th class="colunaTabelaConsulta" style="width:8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width:12%">{% anchor tbcontrato Contrato %}</th>
					<th class="colunaTabelaConsulta" style="width:14%">{% anchor tbgleba Gleba %}</th>
					<th class="colunaTabelaConsulta" style="width:8%">{% anchor nrarea Area %}</th>
					<th class="colunaTabelaConsulta" style="width:8%">{% anchor nrcpfrequerente CPF %}</th>
					<th class="colunaTabelaConsulta" style="width:36%">{% anchor nmrequerente Nome %}</th>
					<th class="colunaTabelaConsulta" style="width:14%">Caixa</th>
				</tr>
			</thead>
			<tbody>
				{% if lista_peca_tecnica %}
					{% autosort lista_peca_tecnica %}
					{% autopaginate lista_peca_tecnica 5 %}
					{% for obj in lista_peca_tecnica %}
						<tr>
							<td class="colunaTabelaConsulta"> <a href="/sicop/restrito/peca_tecnica/edicao/{{ obj.id }}"> <img width="16" src="{% static "img/search.png" %}" /> </a> </td> 
							<td class="colunaTabelaConsulta">{{ obj.tbcontrato.nrcontrato }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbgleba }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrarea }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrcpfrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbcaixa.nmlocalarquivo }}</td>
						</tr>
					{% endfor %}
					{% paginate %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhuma Peca Tecnica Encontrada </td> </tr>
				{% endif %}
			</tbody>
			
		</table>
{% endblock %}
