{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Municipio Modulo | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR MUNICIPIO MODULO
	
{% endblock %}

{% block formulario %}
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   	<td>
				   			<select name="tbmunicipio">
								{% for obj in municipio %}
									{% if obj.id == form.tbmunicipio.value %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				   </tr>
				   <tr> <td class="colunaTabela"> <label>Numero Modulo Rural:</label> </td><td>{{ form.nrmodulorural }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Numero Modulo Fiscal:</label> </td><td>{{ form.nrmodulofiscal }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Codigo IBGE:</label> </td><td>{{ form.cdibge }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Codigo Postal:</label> </td><td>{{ form.cdpostal }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Fracao Minima:</label> </td><td>{{ form.nrfracaominima }} </td> </tr>
				</table>
		</div>
		<br/><br/>
		<div style="width:100%;font-size:12px;text-align:right">
			<a onclick="history.back();" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
{% endblock %}
