{% load staticfiles %} 
{% block formulario %}

		<form name="form_cadastro" method="post" action="/sicop/processo/clausula/cadastro/">
			{% csrf_token %}
			<table>
				<tr> <td class="colunaTabela"> <label>N do Processo:</label> </td>
					<td> <input size="21" name="nrprocesso" id="processo" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>Nome do Titulado:</label> </td>
					<td> <input size="35" name="nmrequerente" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>CPF do Titulado:</label> </td>
					<td> <input size="15" id="cpf" name="nrcpfrequerente" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>N do Titulo:</label> </td>
					<td> <input size="10" name="nmtitulo" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>Nome do Interessado:</label> </td>
					<td> <input size="35" name="nminteressado" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>CPF do Interessado:</label> </td>
					<td> <input size="15" id="cpf2" name="nrcpfinteressado" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			<select name="tbcaixa" style="width: 200px">
								<option value="">-- Selecione uma Caixa --</option>
								{% for obj in caixa %}
									<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/caixa/cadastro/?next=/sicop/processo/clausula/cadastro/" title="Nova Caixa"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Gleba:</label> </td>
				   		<td>
				   			<select name="tbgleba" style="width: 200px">
				   				<option value="">-- Selecione uma Gleba --</option>
								{% for obj in gleba %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/gleba/cadastro/?next=/sicop/processo/clausula/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								<option value="">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>

				<tr> <td class="colunaTabela"> <label>Area:</label> </td><td> <input onkeypress="return SomenteNumero(event, this);" size="15" name="nrarea" /> </td> </tr>
<!--
				<tr> <td class="colunaTabela"> <label>Por Procuracao:</label> </td><td> <input type="checkbox" name="stprocuracao" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>Certidao liberacao:</label> </td><td> <input type="checkbox" name="stcertliberacao" /> </td> </tr>

				<tr> <td class="colunaTabela"> <label>Certidao quitacao:</label> </td><td> <input type="checkbox" name="stcertquitacao" /> </td> </tr>
-->			
				<tr> <td class="colunaTabela"> <label>Etapa Inicial:</label> </td>
				   		<td>
				   			<select name="etapainicial" style="width: 200px">
								<option value="">-- Selecione uma etapa --</option>
								{% for obj in etapaprocesso %}
									<option value="{{ obj.id }}">{{ obj.nmfase }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Data Requerimento:</label> </td><td> <input id="date" name="dtrequerimento" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Data Titulação:</label> </td><td> <input id="date2" name="dttitulacao" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Observação:</label> </td><td> <textarea rows="4" cols="40" name="dsobs"></textarea></td> </tr>

				<tr> <td class="colunaTabela"> <label>Endereco:</label> </td>
					<td> <textarea name="nmendereco" style="width: 200px"></textarea></td></tr>

				<tr> <td class="colunaTabela"> <label>Municipio do domicílio:</label> </td>
				   		<td>
				   			<select name="tbmunicipiodomicilio" style="width: 200px">
								<option value="">-- Selecione um Municipio --</option>
								{% for obj in municipio %}
									<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Contato:</label> </td>
					<td> <input name="nmcontato" style="width: 250px" /> </td></tr>

			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<a href="/sicop/processo/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
						<input type="submit" class="button_green" value="SALVAR" />
					</td>
				</tr>
			</table>
		</form>			
{% endblock %}