{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Caixa | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR CAIXA</a></li>
</ul>
<div id="tabs-1">		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td>
				   		<td> <input size="40" value="{{ form.nmlocalarquivo.value }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tipo Caixa:</label> </td>
				   	<td>
				   		<select name="tbtipocaixa" style="width:150px">
							{% for obj in tipocaixa %}
								{% if obj.id == form.tbtipocaixa.value %}
									<option selected="selected" value="{{ obj.id }}">{{obj.desctipocaixa}}</option>
								{% else %}
									<option value="{{ obj.id }}">{{obj.desctipocaixa}}</option>
								{% endif %}
							{% endfor %}f
						</select>		
				   	</td>
				   	<td>
						<a href="/sicop/restrito/tipo_caixa/cadastro/?next=/sicop/restrito/caixa/cadastro/" title="Novo Tipo"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   </tr>

				   <tr> <td class="colunaTabela"> <label>Ativo:</label> </td>
				   <td>
				   		{{ form.blativo }}
				   </td> </tr>
				   
				   <tr><td class="colunaTabela"> <label>Divisao:</label> </td><td class="colunaTabela">
				   		<input readonly="readonly" type="hidden" name="tbdivisao" value="{{divisao.id}}"/>{{divisao.nmdivisao}}
				   	</td></tr>
				   	
				   	<tr> 
				   		<td class="colunaTabela"> <label>Conteudo:</label> </td>
				   		<td> 
				   			{{ conteudo }}
				   		</td>
				   </tr>
				</table>
		</div>
		<br />
		
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
						<td class="colunaTabela" style="text-align:right"> 
						<!-- a href="/sicop/restrito/processo/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a-->
<!-- 						<a href="/sicop/restrito/caixa/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a> -->
						<!--a href="/sicop/restrito/processo/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a-->
						</td>
			</tr>
		
		</table>
		
		{% if processos %}
		<div style="text-align:right">
			<a href="/sicop/restrito/caixa/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>					
		</div>		
		PROCESSOS:<br/>
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:32%"> </td>
					<td class="colunaTabelaConsulta" style="width:13%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:25%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:20%">Gleba</td>
				</tr>
					{% for obj in processos %}
						<tr onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
							style="background: {{ obj.tbprocessobase.tbtipoprocesso.coridentificacao }}">
							{% if obj.tbprocessobase.tbtipoprocesso.id == 1 %}
								<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
							{% else %}
								{% if obj.tbprocessobase.tbtipoprocesso.id == 2 %}
									<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
								{% else %}
									{% if obj.tbprocessobase.tbtipoprocesso.id == 3 %}
										<td class="colunaTabelaConsulta">{{ obj.nmpovoado }}</td>
									{% endif %}
								{% endif %}
							{% endif %}
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.nrprocesso }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbmunicipio.nome_mun }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbgleba.nmgleba }}</td>
						</tr>
					{% endfor %}
			</tbody>
		</table>
		{% endif %}

		{% if pecas %}
		<br/> Pecas:<br/>
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:30%">Nome</td>
					<td class="colunaTabelaConsulta" style="width:15%">CPF</td>
					<td class="colunaTabelaConsulta" style="width:20%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:10%">Contrato</td>
					<td class="colunaTabelaConsulta" style="width:8%">Area</td>
				</tr>
					{% for obj in pecas %}
						<tr onclick="editarID('/sicop/restrito/peca_tecnica/edicao/{{ obj.id }}');">
							<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrcpfrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbgleba.nmgleba }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbcontrato.nrcontrato }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrarea }}</td>
						</tr>
					{% endfor %}
			</tbody>
		</table>
		{% endif %}


	</form>
</div>
</div>
{% endblock %}
