{% extends "core/base/index.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Equipe
{% endblock %}

{% block titulo %}
	Equipe
{% endblock %}
			
{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div>

		<!--end of grid-10-->
		<div id="accordion" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					EQUIPE
				{% endblock %}
			</h3>
			

			<div class="grids top">
			
				<div class="grid-6 grid intro" style="text-align:center">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Eduardo Aguilar de Oliveira</p>
					<p style="margin-top:5px">Coordenação e desenvolvimento</p>
					<p style="margin-top:5px">Analista e Reforma e Desenvolvimento Agrário MDA/CERFAL-MA</p>
				</div>

			</div>	
						
		</div>
		
</div>
<!--end of wrapper-->


{% endblock %}
