{% extends "core/base/index.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Mobile
{% endblock %}

{% block titulo %}
	SICOP App no celular android
{% endblock %}
			
{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<!--end of grid-10-->
		<div id="accordio" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					SICOP App no celular android
				{% endblock %}
			</h3>
			<h4>Passos para instalação</h4>

			<div class="grids top">
				
				<h4>1- Instalador</h4>
				<h5>1.1- Baixe o aplicativo pelo play store.</h5>

				<h4>2- Arquivo de dados do SICOP</h4>	
				<h5>2.1- <a href="/tramitacao/android/exportacao/">CLIQUE AQUI</a>, para gerar o arquivo com os dados atualizados.</h5>
				<h5>2.2- <a href="/media/android/sicopsqlite.db">CLIQUE AQUI</a>, para baixar o arquivo de dados gerado pelo sistema.</h5>
				<h5>2.3- Ao completar o download, coloque o arquivo, copie e cole, na seguinte pasta no seu celular:</h5>
				<h5>2.3.1- Meus Arquivos -> sdcard0 -> sicop -> files -> control</h5>
				
				<h4>3- Abertura do Aplicativo</h4>
				<h5>3.1- Abra o aplicativo e navegue nas suas funcionalidades</h5>
			</div>	
						
		</div>
		
	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->


{% endblock %}
