{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Parcela | Visualização
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">VISUALIZAR DADOS DA PARCELA</a></li>
	<li><a href="#tabs-2">PROCESSO</a></li>
</ul>
<div id="tabs-1">
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>

					<tr>
						<td class="colunaTabela"> <label>Imóvel:</label> </td>
						<td> {{ parcela.nome }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Requerente:</label> </td>
						<td> {{ parcela.nome_deten }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>CPF:</label> </td>
						<td> {{ parcela.cpf_detent }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Gleba:</label> </td>
						<td> {{ parcela.gleba }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Situação da Gleba:</label> </td>
						<td> {{ parcela.gleba_situ }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Município:</label> </td>
						<td> {{ parcela.municipio }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Área (ha):</label> </td>
						<td> {{ parcela.area_ha_ut }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Contrato:</label> </td>
						<td> {{ parcela.contrato }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Empresa:</label> </td>
						<td> {{ parcela.empresa }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Fiscal:</label> </td>
						<td> {{ parcela.fiscal }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Status:</label> </td>
						<td> {{ parcela.status }} </td>
					</tr>

					<tr>
						<td class="colunaTabela"> <label>Data Recepção:</label> </td>
						<td> {{ parcela.data_recep }} </td>
					</tr>
				   
			   </table>

		</div>

		<br />

	</form>
	<br/>
</div>
<div id="tabs-2">
{% if processo %}
	<table style="width:100%">
		<tr> <td class="colunaTabela"> <label>Numero:</label> </td><td> {{ processo.tbprocessobase.nrprocesso }} </td> </tr>
		<tr> <td class="colunaTabela"> <label>Gleba:</label> </td><td> {{ processo.tbprocessobase.tbgleba.nmgleba }} </td> </tr>
		<tr> <td class="colunaTabela"> <label>Municipio:</label> </td><td> {{ processo.tbprocessobase.tbmunicipio.nome_mun }} </td> </tr>
		<tr> <td class="colunaTabela"> <label>CPF Requerente:</label> </td><td> {{ processo.nrcpfrequerente }} </td> </tr>
		<tr> <td class="colunaTabela"> <label>Nome Requerente:</label> </td><td> {{ processo.nmrequerente }} </td> </tr>
		{% if processo.nrcpfconjuge %}
			<tr> <td class="colunaTabela"> <label>CPF Conjuge:</label> </td><td> {{ processo.nrcpfconjuge }} </td> </tr>
			<tr> <td class="colunaTabela"> <label>Nome Conjuge:</label> </td><td> {{ processo.nmconjuge }} </td> </tr>
		{% endif %}
		<tr> <td class="colunaTabela"> <label>Caixa:</label> </td><td> {{ processo.tbprocessobase.tbcaixa.nmlocalarquivo }} </td> </tr>
	</table>
{% else %}
	Nenhum Processo ligado a esta parcela
{% endif %}
</div>
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
				</td>
			</tr>
		</table>

</div>
{% endblock %}
