{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}


{% block formulario %}

<div id="tabs" style="color:black;width:100%;font-size:11px">
 <ul>
	<li><a href="#tabs-1">EDICAO DOCUMENTO RME</a></li>
	<li><a href="#tabs-2">MATERIAIS</a></li>
	<li><a href="#tabs-3">SERVIDORES</a></li>
</ul>

<form method="post" action="/documento/rme/edicao/{{ rme.id }}/">
	{% csrf_token %}

<div id="tabs-1">
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
					<tr> 
						<td class="colunaTabela"> <label>Nome:</label> </td>
						<td> <input size="21" name="nmdocumento" value="{{base.nmdocumento}}" id="documento" /> </td> 
					</tr>
					<tr> 
						<td class="colunaTabela"> <label>Periodo:</label> </td>
						<td> <input id="id_myDate" size="10" name="dtperiodo" value="{{ dtperiodo }}" /> </td> 
					</tr>
					<tr> 
						<td class="colunaTabela"> <label>Data:</label> </td>
						<td> <input id="id_myDate2" size="10" name="dtdocumento" value="{{ data_documento }}" /> </td> 
					</tr>
					<tr> <td class="colunaTabela"> <label>Nr. Ordem:</label> </td>
						<td> <input size="4" name="nrordem" value="{{ rme.nrordem }}" /> </td> </tr>
					<tr> <td class="colunaTabela"> <label>Solicitante:</label> </td>
						<td> <input size="30" name="solicitante" value="{{ rme.solicitante }}" /> </td> </tr>				
		</table>
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
					<a href="/documento/rme/criacao/{{ rme.id }}" style="margin-left: 10px"><input type="button" class="button_green" value="GERAR DOCUMENTO" /></a>
				</td>
			</tr>
		</table>
	</div>
</div>


<div id="tabs-3">
		<table class="csstable"  style="width:100%">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:5%"> </td>
					<td class="colunaTabelaConsulta" style="width:95%">Servidores</td>
				</tr>
				{% if servidor %}
					{% for k,v in result %}
						<tr>
							<td class="colunaTabelaConsulta">
								{% if v %}
										<input checked="checked" name="{{ k }}" type="checkbox" />
								{% else %}
										<input name="{{ k }}" type="checkbox" />
								{% endif %}
							</td>
							<td class="colunaTabelaConsulta">{{ k }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Cadastre os servidores </td> </tr>
				{% endif %}
			</tbody>
		</table>
</div>
	
</form>

<div id="tabs-2">
	<form method="post" action="/documento/rme/material/{{ rme.id }}/">
		{% csrf_token %}
		<table style="width:100%">
			<tr> 
			   	<td class="colunaTabelaConsulta">
					<input placeholder="Especificacao" size="50" name="especificacao" required="required" />
					<input placeholder="Unidade" size="10" name="unidade" required="required" />
					<input placeholder="Qtd. Solicitada" size="15" name="qtdsolicitada" required="required" />
					<input type="submit" value="ADICIONAR MATERIAL" />
				</td>
			</tr>
		</table>
	</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Especificacao</th>
					<th class="colunaTabelaConsulta" style="width: 15%">Unidade</th>
					<th class="colunaTabelaConsulta" style="width: 15%">Qtd. Solicitada</th>
				</tr>
			</thead>
			<tbody>
				{% if material %}
				   		{% for m in material %}
							<tr>
								<td class="colunaTabelaConsulta">
									<a	href="/documento/rme/material/edicao/{{ m.id }}"> 
										<img width="16" src="{% static "img/search.png" %}" />
									</a>
								</td>
								<td class="colunaTabelaConsulta">{{	m.especificacao }}</td>
								<td class="colunaTabelaConsulta">{{	m.unidade }}</td>
								<td class="colunaTabelaConsulta">{{ m.qtdsolicitada }}</td>
							</tr>
						{% endfor %}
				{% else %}
					<tr>
						<td style="padding-top: 20px" colspan="6">Nenhum Material</td>
					</tr>
				{% endif %}

			</tbody>
		</table>

</div>

</div>

{% endblock %}