{% extends "core/base/index.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Geoinformações | Parcelas Particulares ( Atualização em: 14/08/2015 )
{% endblock %}

{% block titulo %}
	Parcelas Particulares ( Atualização em: 14/08/2015 )
{% endblock %}

{% block customhead %}		

		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

		<script>

			var map;
			var infowindow = new google.maps.InfoWindow();

			$(document).ready(function() {
			        $(function() {

					    map = new google.maps.Map(document.getElementById('map'), 
						    {
						        zoom: 7,
						        center: new google.maps.LatLng( -3.886436490787712, -45.2685546875 ),
						        mapTypeId: google.maps.MapTypeId.HYBRID,
						        streetViewControl: false,
						        panControl: false 
						    }
						);

			        	{% for multipolygon in geo %}

						  var coords = [];
					        	{% for polygon in multipolygon.geom %}
						        	{% for linearring in polygon %}
							        	{% for point in linearring %}
							        	  coords[coords.length] = new google.maps.LatLng(
							        	  	'{{point}}'.replace(')','').replace('(','').split(',')[1], 
							        	  	'{{point}}'.replace(')','').replace('(','').split(',')[0]);
							        	{% endfor %}
						        	{% endfor %}
					        	{% endfor %}

						  // Construct the polygon.
						  poligono = new google.maps.Polygon({
						    paths: coords,
						    {% if multipolygon.situacao_p = 'Titulado' and multipolygon.natureza = 'Particular' %}
						    	strokeColor: 'blue',
						    	fillColor: 'blue',
						    {% elif multipolygon.situacao_p != 'Titulado' and multipolygon.situacao_p != null and multipolygon.natureza = 'Particular' %}
						    	strokeColor: 'yellow',
						    	fillColor: 'yellow',
						    {% elif multipolygon.natureza = 'Assentamento'  and multipolygon.cpf_detent = null %}
						    	strokeColor: 'black',
						    	fillColor: 'black',
						    {% elif multipolygon.situacao_p = null and multipolygon.cpf_detent != null and multipolygon.natureza = 'Particular' %}
						    	strokeColor: 'red',
						    	fillColor: 'red',
						    {% endif %}
						    strokeOpacity: 0.8,
						    strokeWeight: 2,
						    fillOpacity: 0.35
						  });

						  google.maps.event.addListener(poligono, 'mouseover', function(event) {
						  	infowindow.setContent('{{multipolygon.nome_deten}}');
						    infowindow.open(map, this);
						    infowindow.setPosition(
						    	new google.maps.LatLng( 
						    		event.latLng.lat(), 
						    		event.latLng.lng() ));
						  });
						  google.maps.event.addListener(poligono, 'mouseout', function() {
						    infowindow.close();
						  });

						  poligono.setMap(map);

			        	{% endfor %}

				        });
			});

		</script>

	<style>
		#map {width: 660px; height: 450px}
	</style>
{% endblock%}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div>

		<!--end of grid-10-->
		<div id="accordion" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					Legenda: Cor Azul = Titulados; Cor Amarela = Processos no SisterLeg; Cor Vermelha = Parcelas sem Processo (SisterLeg)
				{% endblock %}
			</h3>
			

			<div id="map" style="margin:2px"></div>	
						
		</div>
		
</div>
<!--end of wrapper-->


{% endblock %}
