{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Documento | Cadastro
{% endblock %}

{% block formulario %}

		<form name="form" method="post" action="/sicop/restrito/documento/cadastro/">
			{% csrf_token %}
			<table>
				 <tr>
				 		<td class="colunaTabela">
				 			<label>Selecione o Tipo:</label>
				 		</td>
				 		<td >
				   			<select name="escolha" onchange="proc();">
								{% for obj in tipodocumento %}
									{% if obj.tabela == documento %}
										<option selected="selected" value="{{ obj.tabela }}">{{ obj.nmtipodocumento }}</option>
									{% else %}
										<option value="{{ obj.tabela }}">{{ obj.nmtipodocumento }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				   	</tr>
			</table>
		</form>
		<br />
			{% if div_documento == 'memorando' %} {% include "sicop/restrito/documento/memorando/cadastro.html" %} {% endif %}
			{% if div_documento == 'oficio' %} {% include "sicop/restrito/documento/oficio/cadastro.html" %} {% endif %}

{% endblock %}
