{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Documento
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR DOCUMENTO
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}
			
			<table border="1" style="width:100%;text-align: left">
				<tbody>
					<tr> 
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Nome:</label> </td>
						<td class="colunaTabela" colspan="5"> <input style="width:30%" name="nome" /> </td>
					</tr>
				</tbody>
			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="PESQUISAR" />
						<a href="/sicop/restrito/documento/cadastro/"> <input class="button_green" value="NOVO" type="button" /> </a>
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<a href="/sicop/restrito/documento/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a>
						<a href="/sicop/restrito/documento/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>
						<a href="/sicop/restrito/documento/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a>
					</td>
				</tr>
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<div>Memorando: Cor Verde</div>
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<div>Total de registros: {{ request.session.relatorio_documento|length }}</div>
					</td>
				</tr>
			</table>
		</form>
	
{% endblock %}

{% block resultado %}
		<table class="csstable">
			<tbody>
					<td class="colunaTabelaConsulta" style="width:10%">Numero</td>
					<td class="colunaTabelaConsulta" style="width:20%">Nome</td>
					<td class="colunaTabelaConsulta" style="width:10%">Data do cadastro</td>
				{% if lista %}
					{% for obj in lista %}
						<tr onclick="editarID('/sicop/restrito/documento/edicao/{{ obj.id }}');"
							style="background: {{ obj.tbtipodocumento.coridentificacao }}">
							<td class="colunaTabelaConsulta">{{ obj.id }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nmdocumento }}</td>
							<td class="colunaTabelaConsulta">{{ obj.dtcadastrodocumento }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Documento Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
				
{% endblock %}
