{% extends "base.html" %} 

{% block userlogado %}

<div class="social">
	Usuario: {% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %} | <a href="/logout/">Sair do
		Sistema</a>
</div>

<ul id="nav" class="main">
	<li><a href="/">Inicio</a></li>
	<li><a href="/sicop/consultas/">Consultas</a></li>
	<li><a href="/sicop/admin/">Administracao</a></li>
</ul>

{% endblock %} 

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
			<p style="text-align: justify;">Consultas : Tipo Caixas:</p>
			
			<form action="." method="post" >
				{% csrf_token %}
				<input name="query">
				<button type="submit">Pesquisar</button>
			</form>
			<br />
			<hr />
			
			{% for tbtipocaixa in lista %}
				<p><a href="./?tipocaixa={{ tbtipocaixa.id }}"> {{ tbtipocaixa.nmtipocaixa }} </a></p>
			{% empty %}
				<p>Nenhum registro encontrado.</p>
			{% endfor %}			
			
		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->

{% endblock %}
