{% extends "base.html" %} 

{% block breadcumbs %}
	Acesso Restrito
{% endblock %}

{% block titulo %}
	Acesso Restrito
{% endblock %}							

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
				
				{% block login %}

				<div class="grids top">
					<div class="grid-6 grid intro">
					</div>
					<!--end of slogan div-->
				
					<div class="grid-10 grid">
						<div class="flexslide">
				
							{% if form.errors %} {{ form.non_field_errors }} <br/> {% endif %}
							
							<form action="." method="post">
								{% csrf_token %}
								<div style="width: 100%;text-align:center;font-size:12px">
									<div>
										<div> {{ form.username.label_tag }} {{ form.username }} </div><br /> 
										<div> {{ form.password.label_tag }} {{ form.password }} </div><br />
										<div> <button type="submit">Entrar</button> </div>
									</div>
								</div>
							</form>
				
						</div>
					</div>
				
				</div>
				<!--end of div grids-->
				
				{% endblock %}
												
		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->

{% endblock %}

