{% extends "sicop/acesso_restrito.html" %} 

{% block breadcumbs %}
	Acesso Restrito | Pecas Tecnicas | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR PECA TECNICA
	
{% endblock %}

{% block conteudo %}
	
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/pecas_tecnicas/" class="button_red">VOLTAR</a>
		<a href="/sicop/pecas_tecnicas/" class="button_green" onclick="alert('Peca Tecnica Salva com sucesso!');">SALVAR</a>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:center">
		campos para edicao da peca tecnica
	</div>
	
{% endblock %}
