{% extends "sicop/acesso_restrito.html" %} 

{% block breadcumbs %}
	Acesso Restrito | Pecas Tecnicas | Novo
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR PECA TECNICA
	
{% endblock %}

{% block conteudo %}

	<div style="width:100%;font-size:12px;text-align:left">
		<form method="post" action=".">
			<table>
				{% for field in form %}
				<tr>
			    	<td style="padding-right: 10px;padding-bottom: 10px;">
			    		{{ field.label_tag }}:
			    	</td>
			    	<td>{{ field }}</td>
			    </tr>
			    {% endfor %}
			</table>
		</form>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/pecas_tecnicas/" class="button_red">VOLTAR</a>
		<a href="/sicop/pecas_tecnicas/" class="button_green" onclick="alert('Peca Tecnica Salva com sucesso!');">SALVAR</a>
	</div>	
{% endblock %}
