{% extends "sicop/acesso_restrito.html" %} 

{% block breadcumbs %}
	Acesso Restrito | Pecas Tecnicas | Novo
{% endblock %}

{% block subtitulo %}
	
	PECAS TECNICAS
	
{% endblock %}

{% block conteudo %}
	
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/pecas_tecnicas/" class="classname2">Consultar Peca Tecnica</a>
		<a href="/sicop/pecas_tecnicas/" class="classname" onclick="alert('Peca Tecnica Salva com sucesso!');">Salvar Peca Tecnica</a>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:center">
		campos para novo cadastro de peca tecnica
	</div>
	
{% endblock %}
