{% extends "sicop/acesso_restrito.html" %} 

{% block breadcumbs %}
	Acesso Restrito | Processos | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR PROCESSO
	
{% endblock %}

{% block conteudo %}
	
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/processos/" class="button_red">VOLTAR</a>
		<a href="/sicop/processos/" class="button_green" onclick="alert('Processo Salvo com sucesso!');">SALVAR</a>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:center">

		edicao processos		
		
	</div>
	
{% endblock %}
