{% extends "base/consulta_base.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Relatório | Lista
{% endblock %}

{% block subtitulo %}
	
	LISTA DOS RELATORIOS
	
{% endblock %}

{% block consulta %}
	
	<br/><br/>
	<div style="width:100%;font-size:14px;text-align:left">

		<a href="/sicop/restrito/relatorio/processo_peca" style="text-decoration: underline"> Processos com peças técnicas </a> <br /><br />
		<a href="/sicop/restrito/relatorio/peca_processo/" style="text-decoration: underline"> Peças técnicas com processo </a> <br /><br />
		<a href="/sicop/restrito/relatorio/peca_nao_aprovada/" style="text-decoration: underline"> Peças técnicas não aprovadas </a> <br /><br />
		<a href="/sicop/restrito/relatorio/peca_rejeitada/" style="text-decoration: underline"> Peças técnicas rejeitadas </a> <br /><br />
		<a href="/sicop/restrito/relatorio/peca_validada/" style="text-decoration: underline"> Peças técnicas validadas </a> <br /><br />
		<a href="/sicop/restrito/relatorio/peca_sem_processo/" style="text-decoration: underline"> Peças técnicas sem processo </a>

	</div>
	
{% endblock %}


{% block resultado %}

{% endblock %}