{% extends "core/base/consulta.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Relatório | Processos sem Parcela(s) no SIGEF
{% endblock %}

{% block subtitulo %}
	
	PROCESSOS SEM PARCELA(S)
	
{% endblock %}

{% block consulta %}
	
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:center">
			<form method="post" action="">
				{% csrf_token %}
				<div style="width:100%;font-size:12px;text-align:left">
					<table>
					   <tr> 
					   		<td class="colunaTabela"> <label>Ordenar Por:</label> </td>
					   		<td>
					   			<select name="ordenacao" style="width:150px">
										<option value="nmrequerente">REQUERENTE</option>
										<option value="tbprocessobase__tbcaixa__nmlocalarquivo">CAIXA</option>
										<option value="tbprocessobase__nrprocesso">NUMERO</option>
										<option value="tbprocessobase__tbgleba__nmgleba">GLEBA</option>
										<option value="tbprocessobase__tbmunicipio__nome_mun">MUNICIPIO</option>
								</select>
							</td>
						</tr>
					</table>				
				
				</div>
				<br/><br />
				<table style="width:100%">
					<tr>
						<td class="colunaTabela" style="text-align:left"> 
							<a href="javascript:history.back()" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
							<input type="submit" class="button_green" value="GERAR RELATÓRIO" />
						</td>
					</tr>
				</table>
			</form>
	</div>
	
{% endblock %}


{% block resultado %}

{% endblock %}