{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR PROCESSO
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}
			
			<table style="width:100%;text-align: left">
				<tbody>
					<tr> 
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Processo:</label> </td>
						<td class="colunaTabela" colspan="3"> <input style="width:30%" name="numero" /> </td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Titulo:</label> </td>
						<td class="colunaTabela" colspan="2"> <input style="width:30%" name="cdtitulo" /> </td>
						
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CPF:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cpf" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Requerente:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="requerente" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						
					</tr>
				</tbody>
			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="PESQUISAR" />
						
					</td>
					
					<!-- td class="colunaTabela" style="text-align:right"> 
						<a href="/sicop/restrito/processo/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a>
						</td>
				</tr>
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<!-- div style="font-weight:bold">Rural: Cor Amarelo | Urbano: Cor Laranja | Clausula: Azul</div>
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<div>Total de registros: {{ request.session.relatorio_processo|length }}</div>
					</td>
				</tr-->
			</table>
		</form>
	
{% endblock %}

{% block resultado %}
		<div style="overflow:auto;height:500px">	
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%">Nome </td>
					<td class="colunaTabelaConsulta" style="width:10%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:20%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:15%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:10%">Titulo</td>
					<td class="colunaTabelaConsulta" style="width:10%">Vencimento</td>
					<td class="colunaTabelaConsulta" style="width:10%">Situacao</td>
					<!-- td class="colunaTabelaConsulta" style="width:10%">Valor</td-->
					
					
				</tr>
				{% if lista %}
				  		{% for obj in lista %}
							<tr onclick="editarID('/calculo/processo/{{ obj.id }}');">
									<td class="colunaTabelaConsulta">{{ obj.nome_req }}</td>
									<td class="colunaTabelaConsulta">{{ obj.numero_processo }}</td>
									<td class="colunaTabelaConsulta">{{ obj.nome_municipio }}</td>
									<td class="colunaTabelaConsulta">{{ obj.nome_gleba }}</td>
									<td class="colunaTabelaConsulta">{{ obj.id_req}}</td>
									<td class="colunaTabelaConsulta">{{ obj.data_vencimento_primeira_prestacao}}</td>
									<td class="colunaTabelaConsulta">{{ obj.situacao_processo}}</td>
									<!-- td class="colunaTabelaConsulta">{{ obj.valor_imovel}}</td-->
									
							</tr>
						{% endfor %}
					{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Processo Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
		</div>		
{% endblock %}
