{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}


{% block formulario %}

<div id="tabs" style="color:black;width:100%;font-size:11px">
 <ul>
	<li><a href="#tabs-1">EDICAO DOCUMENTO REQUISICAO DE VIATURA</a></li>
	<li><a href="#tabs-2">SERVIDORES</a></li>
</ul>

<form method="post" action="/sicop/restrito/documento/requisicao_viatura/edicao/{{ vr.id }}/">
	{% csrf_token %}

<div id="tabs-1">
	<div style="width: 100%; font-size: 12px; text-align: left">
				<table>
					<tr> 
						<td class="colunaTabela"> <label>Nome:</label> </td>
						<td> <input size="21" name="nmdocumento" id="documento" value="{{ base.nmdocumento }}" /> </td> 
					</tr>
					<tr> 
						<td class="colunaTabela"> <label>Data de inicio dos servicos:</label> </td>
						<td> <input id="id_myDate" size="9" name="dtinicio" value="{{ datainicio }}" /> </td> 
					</tr>
					<tr> <td class="colunaTabela"> <label>Objetivo:</label> </td><td> <textarea rows="6" cols="50" name="objetivo">{{ vr.objetivo }}</textarea></td> </tr>
					<tr> <td class="colunaTabela"> <label>Destino:</label> </td>
						<td> <input size="40" name="destino" value="{{ vr.destino }}" /> </td> </tr>
					<tr> <td class="colunaTabela"> <label>Dias:</label> </td>
						<td> <input size="5" value="{{ vr.tempodias }}" name="tempodias" /> </td> </tr>
					<tr> <td class="colunaTabela"> <label>Motorista:</label> </td>
						<td> <input size="35" name="motorista" value="{{ vr.motorista }}" /> </td> </tr>
				    <tr> <td class="colunaTabela"> <label>Usuarios:</label> </td><td> <textarea rows="6" cols="50" name="usuarios">{{ vr.usuarios }}</textarea></td> </tr>
					<tr> <td class="colunaTabela"> <label>Local de apresentacao:</label> </td>
						<td> <input size="35" name="localviatura" value="{{ vr.localviatura }}" /> </td> </tr>
					<tr> 
						<td class="colunaTabela"> <label>Data solicitante:</label> </td>
						<td> <input id="id_myDate2" size="9" name="dtsolicitante" value="{{ datasolicitante }}" /> </td> 
					</tr>
					<tr> 
						<td class="colunaTabela"> <label>Data autorizado:</label> </td>
						<td> <input id="id_myDate3" size="9" name="dtautorizado" value="{{ dataautorizado }}" /> </td> 
					</tr>
					<tr> <td class="colunaTabela"> <label>Veiculo:</label> </td>
						<td> <input size="35" name="veiculo" value="{{ vr.veiculo }}" /> </td> </tr>
				    <tr> <td class="colunaTabela"> <label>Placa:</label> </td>
						<td> <input id="placa" size="9" name="placa" value="{{ vr.placa }}" /> </td> </tr>
				    
				</table>
	</div>
</div>

<div id="tabs-2">
		<table class="csstable"  style="width:100%">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:5%"> </td>
					<td class="colunaTabelaConsulta" style="width:95%">Servidores</td>
				</tr>
				{% if servidor %}
					{% for k,v in result %}
						<tr>
							<td class="colunaTabelaConsulta">
								{% if v %}
										<input checked="checked" name="{{ k }}" type="checkbox" />
								{% else %}
										<input name="{{ k }}" type="checkbox" />
								{% endif %}
							</td>
							<td class="colunaTabelaConsulta">{{ k }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Cadastre os servidores </td> </tr>
				{% endif %}
			</tbody>
		</table>
</div>
	
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
				<a href="/sicop/restrito/documento/requisicao_viatura/criacao/{{ vr.id }}" style="margin-left: 10px"><input type="button" class="button_green" value="GERAR DOCUMENTO" /></a>
			</td>
		</tr>
	</table>

</form>

</div>

{% endblock %}