{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo | Cadastro
{% endblock %}

{% block subtitulo %}


	CADASTRAR PROCESSO
	
{% endblock %}

{% block formulario %}

		<form name="form" method="post" action="/sicop/restrito/processo/cadastro/">
			{% csrf_token %}
			<table>
				 <tr>
				 		<td class="colunaTabela">
				 			<label>Selecione o Tipo:</label>
				 		</td>
				 		<td >
				   			<select name="escolha" onchange="proc();">
								{% for obj in tipoprocesso %}
									{% if obj.tabela == processo %}
										<option selected="selected" value="{{ obj.tabela }}">{{ obj.nome }}</option>
									{% else %}
										<option value="{{ obj.tabela }}">{{ obj.nome }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				   	</tr>
			</table>
		</form>
		<br />

			{% if div_processo == 'rural' %} {% include "sicop/restrito/processo/rural/cadastro.html" %} {% endif %}
			{% if div_processo == 'urbano' %} {% include "sicop/restrito/processo/urbano/cadastro.html" %} {% endif %}
			{% if div_processo == 'clausula' %} {% include "sicop/restrito/processo/clausula/cadastro.html" %} {% endif %}
				
{% endblock %}
