{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR PROCESSO
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}
			
			<table style="width:100%;text-align: left">
				<tbody>
					<tr> 
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Processo:</label> </td>
						<td class="colunaTabela" colspan="3"> <input style="width:30%" name="numero" /> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Titulo:</label> </td>
						<td class="colunaTabela" colspan="2"> <input style="width:30%" name="cdtitulo" /> </td>
						
						
					</tr>
					<tr style="text-align: center;font-weight:bold">
						<td class="colunaTabela" colspan="2">RURAL / CLAUSULA RESOLUTIVA<hr /></td>
						<td class="colunaTabela"> </td>
						<td class="colunaTabela"> </td>
						<td class="colunaTabela" colspan="2">REGULARIZACAO URBANA<hr /></td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CPF:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cpf" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CNPJ:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cnpj" /> </td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Requerente:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="requerente" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Municipio:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="municipio" /> </td>
					</tr>
				</tbody>
			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="PESQUISAR" />
						<a href="/sicop/restrito/processo/cadastro/"> <input class="button_green" value="NOVO" type="button" /> </a>
					</td>
<!-- 
					<td class="colunaTabela" style="text-align:right"> 
						<a href="/sicop/restrito/processo/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a>
					</td>
-->	
				</tr>
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<div style="font-weight:bold">Rural: Cor Amarelo | Urbano: Cor Laranja | Clausula: Azul</div>
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<div>Total de registros: {{ request.session.relatorio_processo|length }}</div>
					</td>
				</tr>
			</table>
		</form>
	
{% endblock %}

{% block resultado %}
		<div style="overflow:auto;max-height:500px">	
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%">Nome </td>
					<td class="colunaTabelaConsulta" style="width:10%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:20%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:15%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:15%">Caixa</td>
					<td class="colunaTabelaConsulta" style="width:10%">Titulo</td-->
				</tr>
				{% if lista %}
				  	{% ifnotequal  consulta 'unico' %}
						{% for obj in lista %}
							<tr onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
								style="background: {{ obj.tbprocessobase.tbtipoprocesso.coridentificacao }}">
								{% if obj.tbprocessobase.tbtipoprocesso.id == 1 %}
									<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
								{% else %}
									{% if obj.tbprocessobase.tbtipoprocesso.id == 2 %}
										<td class="colunaTabelaConsulta" >{{ obj.nmrequerente }}</td>
									{% else %}
										{% if obj.tbprocessobase.tbtipoprocesso.id == 3 %}
											<td class="colunaTabelaConsulta">{{ obj.nmpovoado }}</td>
										{% endif %}
									{% endif %}
								{% endif %}
								
									<td class="colunaTabelaConsulta">
										{{ obj.tbprocessobase.nrprocesso }}
										
										{% if obj.tbprocessobase.tbclassificacaoprocesso.id == 2 %}
											&nbsp;<div style="font-weight: bold">(Anexo)</div>
										{% endif %}
										
									</td>
									<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbmunicipio.nome_mun }}</td>
									<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbgleba.nmgleba }}</td>
									<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbcaixa.nmlocalarquivo }}</td>
									<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbtitulo.cdtitulo }}</td-->
							</tr>
						{% endfor %}
					{% else %}
						<!-- colocar aqui a logica para exibir apenas 1 registro com todos os dados -->
						TEM 1 REGISTRO
					{% endifnotequal %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Processo Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
		</div>		
{% endblock %}
