{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %}
	Acesso Restrito | Processo
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR PROCESSO
	
{% endblock %}

{% block consulta %}
	
	<form name="form" method="post" action=".">
			{% csrf_token %}
			
			<table style="text-align: left">
				<tr>
					<td>Rural / Clausula</td>
					<td>Regularizacao Urbana</td>
				</tr>
				<tr> 
					<td class="colunaTabela" colspan="2"> <label>Processo:</label> <input name="numero" /> </td>
				</tr>
				<tr>
					<td class="colunaTabela"> <label>CPF:</label> <input name="cpf" /> </td>
					<td class="colunaTabela"> <label>CNPJ:</label> <input name="cnpj" /> </td>
				</tr>
				<tr>
					<td class="colunaTabela"> <label>Requerente:</label> <input name="requerente" /> </td>
					<td class="colunaTabela"> <label>Municipio:</label> <input name="municipio" /> </td>
				</tr>
			</table>
			
			<div style="text-align: left;padding-bottom: 20px; padding-top: 10px">
				<input class="button_yellow" type="submit" value="Buscar" />
				<a class="button_green" href="/sicop/restrito/processo/cadastro/"> Cadastrar Processo </a>
			</div>
		</form>
	
{% endblock %}

{% block resultado %}
		<table>
			<thead style="background:#e5e5e5;color:black">
				<tr>
					<th class="colunaTabelaConsulta" style="width:8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width:20%">{% anchor nrprocesso Processo %}</th>
					<th class="colunaTabelaConsulta" style="width:21%">{% anchor tbmunicipio Municipio %}</th>
					<th class="colunaTabelaConsulta" style="width:18%">{% anchor tbgleba Gleba %}</th>
					<th class="colunaTabelaConsulta" style="width:18%">{% anchor tbcaixa Caixa %}</th>
					<th class="colunaTabelaConsulta" style="width:15%">{% anchor tbsituacaoprocesso Situacao %}</th>
				</tr>
			</thead>
			<tbody>
				{% if lista %}
					{% autosort lista %}
					{% autopaginate lista 5 %}
					{% for obj in lista %}
						<tr style="background: {{ obj.tbtipoprocesso.coridentificacao }}">
							<td class="colunaTabelaConsulta"> <a href="#"> <img width="16" src="{% static "img/search.png" %}" /> </a> </td> 
							<td class="colunaTabelaConsulta">{{ obj.nrprocesso }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbmunicipio.nome_mun }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbgleba.nmgleba }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbcaixa.nmlocalarquivo }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbsituacaoprocesso.nmsituacao }}</td>
						</tr>
					{% endfor %}
					{% paginate %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Processo Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
{% endblock %}
