{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo | Tramitação em Lote
{% endblock %}

{% block subtitulo %}
	
	TRAMITAÇÃO EM LOTE
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}

		   		Caixa Destino:
		   		<select name="tbcaixadestino" style="width: 300px">
		   			{% for obj in caixadestino %}
						<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
					{% endfor %}
				</select>
			
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<a href="/sicop/restrito/processo/consulta/"> <input class="button_yellow" value="CONSULTAR" type="button" /></a>
						<input class="button_green" style="margin-left: 10px" type="submit" value="EXECUTAR" />
					</td>
					<td class="colunaTabela" style="text-align:right;font-weight:bold"> 
						TRAMITAÇÃO EM LOTE: 
						{% if request.session.tramitacao_massa_ativado %}
							<a href="#"> {{ request.session.tramitacao_massa|length }} Selecionado(s) </a>
							&nbsp;|&nbsp;
						{% endif %}
						{% if request.session.tramitacao_massa_ativado %}
							<a href="/sicop/restrito/processo/tramitacao_massa/"> DESATIVAR </a>
						{% else %}
							<a href="/sicop/restrito/processo/tramitacao_massa/"> ATIVAR </a>
						{% endif %}
					</td>				

				</tr>
								
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<div style="font-weight:bold">Rural: Cor Amarelo | Urbano: Cor Laranja | Clausula: Azul</div>
					</td>
				</tr>
			</table>
		</form>
	
{% endblock %}

{% block resultado %}
		<div style="overflow:auto;max-height:500px">	
			<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:3%"> </td>
					<td class="colunaTabelaConsulta" style="width:25%">Nome </td>
					<td class="colunaTabelaConsulta" style="width:15%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:20%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:12%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:15%">Caixa</td>
					<td class="colunaTabelaConsulta" style="width:10%">Titulo</td>
				</tr>
				{% if lista %}
				  	{% ifnotequal  consulta 'unico' %}
						{% for obj in lista %}
							<tr 
								style="background: {{ obj.tbprocessobase.tbtipoprocesso.coridentificacao }}">

								<td onclick="editarID('/sicop/restrito/processo/rem_tramitacao_massa/{{ obj.tbprocessobase.id }}');" 
									class="colunaTabelaConsulta">
										<img title="Retirar processo da tramitação em massa" width="22" src="{% static "img/delete.png" %}" />
								</td>
								
								{% if obj.tbprocessobase.tbtipoprocesso.id == 1 %}
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
										class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
								{% else %}
									{% if obj.tbprocessobase.tbtipoprocesso.id == 2 %}
										<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
											class="colunaTabelaConsulta" >{{ obj.nmrequerente }}</td>
									{% else %}
										{% if obj.tbprocessobase.tbtipoprocesso.id == 3 %}
											<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
												class="colunaTabelaConsulta">{{ obj.nmpovoado }}</td>
										{% endif %}
									{% endif %}
								{% endif %}
								
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">
										{{ obj.tbprocessobase.nrprocesso }}
										
										{% if obj.tbprocessobase.tbclassificacaoprocesso.id == 2 %}
											&nbsp;<div style="font-weight: bold">(Anexo)</div>
										{% endif %}
										
									</td>
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbmunicipio.nome_mun }}</td>
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbgleba.nmgleba }}</td>
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbcaixa.nmlocalarquivo }}</td>
									<td onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbtitulo.cdtitulo }}</td>
							</tr>
						{% endfor %}
					{% else %}
						<!-- colocar aqui a logica para exibir apenas 1 registro com todos os dados -->
						TEM 1 REGISTRO
					{% endifnotequal %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Processo Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
		</div>		
{% endblock %}
