{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | CheckList | Cadastro
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

<ul>
	<li><a href="#tabs-1">CADASTRAR CHECKLIST</a></li>
</ul>

<div id="tabs-1">		
	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td><input required="required" name="nmchecklist"/></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Etapa do Processo:</label> </td>
				   	<td>
				   		<select name="tbfase"  style="width:200px">
							<option value="">-- Selecione uma Etapa --</option>
							{% for obj in fase %}
								<option value="{{ obj.id }}">{{obj.nmfase}} - {{obj.tbtipoprocesso.nome}}</option>
							{% endfor %}
						</select>		
				   	</td>
				   	<td>
						<a href="/sicop/restrito/fase/cadastro/?next=/sicop/restrito/checklist/cadastro/" title="Nova Fase"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   </tr>
				   <tr> <td class="colunaTabela"> <label>Descricao:</label> </td><td> <textarea rows="4" cols="40" name="dschecklist"></textarea></td> </tr>				   
				   <tr> <td class="colunaTabela"> <label>Obrigatorio:</label> </td><td> <input type="checkbox" name="blobrigatorio" /> </td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/checklist/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>	
</div>
{% endblock %}