{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Tipo Documento | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDICAO TIPO DOCUMENTO</a></li>
</ul>
<div id="tabs-1">		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td> <input name="nome" value="{{ tipodocumento.nmtipodocumento }}" /> </td> </tr>
		  			<tr> <td class="colunaTabela"> <label>Descricao:</label> </td><td> <textarea rows="4" cols="40" 
				   		name="descricao">{{ tipodocumento.desctipodocumento }}</textarea></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tabela:</label> </td><td> <input name="tabela" value="{{ tipodocumento.tabela }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Cor para Identificacao:</label> </td><td> <input name="coridentificacao" value="{{ tipodocumento.coridentificacao }}" /> </td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
