{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Material RME | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR MATERIAL RME</a></li>
</ul>
<div id="tabs-1">		
	
	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Especificacao:</label> </td><td> <input name="especificacao" value="{{ material.especificacao }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Unidade:</label> </td><td> <input name="unidade" value="{{ material.unidade }}" /> </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Qtd. Solicitada:</label> </td><td> <input name="qtdsolicitada" value="{{ material.qtdsolicitada }}" /> </td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/documento/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
