{% extends "controle/base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Servidor | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR SERVIDOR
	
{% endblock %}


{% block formulario %}
		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
			<table>
				<tr> <td class="colunaTabela"> <label>Servidor:</label> </td><td>{{ form.nmservidor }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Unidade:</label> </td><td>{{ form.nmunidade }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Lotacao:</label> </td><td>{{ form.nmlotacao }} </td> </tr>
			</table>
		</div>
		<br/><br/>
		
		<div style="width:100%;font-size:12px;text-align:right">
			<a href="/controle/restrito/servidor/consulta/" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
	
{% endblock %}
