{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Servidor | Cadastro Ferias
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

<ul>
	<li><a href="#tabs-1">Pedido de ferias</a></li>
</ul>

<div id="tabs-1">		
	<form method="post" action="">
		{% csrf_token %}
	<div style="width:100%;font-size:12px;text-align:left">
	<table>
	<tr> <td class="colunaTabela"> <label>Servidor:</label> </td><td>
	{% for obj in servidor %}
		{{ obj.nmservidor }} 
	{% endfor %}
	</td>
	</tr>
	</br>
	</table>
	
	<table>
	<tr><td class="colunaTabela"><label>Ano:</label></td><td><input name="nrAno" size="4"/></td>
	<td></td><td></td><td></td><td></td><td>Situacao</td>
	</tr>
	
	<tr> 
		<td class="colunaTabela"> <label>1o.periodo:</label> </td>
		<td>	<input size="9" id="id_myDate" name="dtInicio1" /> </td>
		<td class="colunaTabela"> <label>Dias:</label> </td>
		<td><input name="nrDias1" id="nrDias1" size = 2 onblur ="return somardia1();"/>	</td>
		<td class="colunaTabela"> <label>Fim: </label> </td>
		<td class="colunaTabela"><input disabled type = "text" name="dtFim1" size=9 id="date"/></td>
		
		<td>	<select id="tbsituacao1" style="width: 200px" name="tbsituacao1">
			{% for obj in situacao %}
			{% if obj.id == ferias.stsituacao.id %}
				<option selected="selected" value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% else %}
				<option value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% endif %}
			{% endfor %}
			</select>
		</td>

	</tr>
	<tr> 
		<td class="colunaTabela"> <label>2o.periodo:</label></td>
		<td> <input size="9" id="id_myDate2" name="dtInicio2" />	</td>
		<td class="colunaTabela"> <label>Dias:</label> </td>
		<td><input name="nrDias2" id="nrDias2" size = 2 onblur ="return somardia2();" /></td>
		<td class="colunaTabela"> <label>Fim: </label> </td>
		<td class="colunaTabela"><input disabled type = "text" name="dtFim2" id="date2" size=9 /></td>
		<td>	<select id="tbsituacao2" style="width: 200px" name="tbsituacao2">
			{% for obj in situacao %}
			{% if obj.id == ferias.stsituacao.id %}
				<option selected="selected" value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% else %}
				<option value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% endif %}
			{% endfor %}
			</select>
		</td>

	</tr>
	<tr> 
		<td class="colunaTabela"> <label>3o.periodo:</label></td>
		<td> <input size="9" id="id_myDate3" name="dtInicio3" /></td>
		<td class="colunaTabela"> <label>Dias:</label></td>
		<td><input name="nrDias3" id="nrDias3"  size = 2 onblur ="return somardia3();" />	</td>
		<td class="colunaTabela"> <label>Fim: </label> </td>
		<td class="colunaTabela"><input disabled type = "text" name="dtFim3" id="date3" size=9 /></td>
		<td>	<select id="tbsituacao3" style="width: 200px" name="tbsituacao3">
			{% for obj in situacao %}
			{% if obj.id == ferias.stsituacao.id %}
				<option selected="selected" value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% else %}
				<option value="{{ obj.id }}">{{ obj.dsSituacao }}</option>
			{% endif %}
			{% endfor %}
			</select>
		</td>
	
	</tr>
	
	<tr>
	<td class="colunaTabela"> <label>Antecipa:</label></td><td><input type="checkbox" name="stAntecipa" /> </td></tr>
	<tr><td class="colunaTabela"> <label>13o.salario:</label> </td>	<td><input type="checkbox" name="stDecimoTerceiro" /> </td> </tr>
	</table>
	
	 
	
	</div>
	<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/servidor/restrito/servidor/ferias/{{obj.id}}" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%">Ano</td>
					<td class="colunaTabelaConsulta" style="width:80%">Situacao</td>
				</tr>					    
				{% if ferias %}
					{% for obj in ferias %}
						<tr onclick="editarID('/EditarFerias/{{ obj.id }}');" >
						    	<td class="colunaTabelaConsulta" align="left" >{{ obj.nrAno }}</td>
							<td class="colunaTabelaConsulta">{{ obj.stSituacao.dsSituacao  }}</td>
						</tr>
					{% endfor %}
				{% endif %}
				
			</tbody>
		</table>
	
	</form>
</div>	
</div>
{% endblock %}