{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Servidor | Edicao
{% endblock %}

{% block formulario %}
<div id="accordion" style="color:black;width:100%;font-size:11px">
<h3>{% block subtitulo %}
	
	EDITAR SERVIDOR
	
{% endblock %}
</h3>
<div>		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				<tr> <td class="colunaTabela"> <label>Servidor:</label> </td><td> {{ form.nmservidor }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Unidade:</label> </td> <td>{{ form.nmunidade }}</td> </tr>
				<tr> <td class="colunaTabela"> <label>Lotacao:</label> </td><td> {{ form.nmlotacao }}</td> </tr>
				<tr> <td class="colunaTabela"> <label>SIAPE:</label> </td> <td>{{ form.cdsiape }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF:</label>            </td><td>{{form.nrcpf}}             </td> </tr>
				<tr> <td class="colunaTabela"> <label>Portaria Cargo:</label> </td><td>{{ form.dsportariacargo }} </td> </tr>
			    <tr> <td class="colunaTabela"> <label>Portaria:</label> </td><td>{{ form.dsportaria }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Cargo:</label> </td><td>{{ form.nmcargo }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Telefone cel:</label> </td><td>{{ form.nrtelefone1 }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Telefone fixo:</label> </td><td>{{ form.nrtelefone2 }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Mail:</label> </td><td>{{ form.email }} </td> </tr>
				<tr> <td class="colunaTabela"> <label>Atividades:</label> </td><td>{{ form.dsatividades }} </td> </tr>
			</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/controle/restrito/servidor/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>		
{% endblock %}
