{% extends "core/base/consulta.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR PROCESSO
	
{% endblock %}

{% block consulta %}

		<form name="form" method="post" action="">
			{% csrf_token %}
			
			<table style="width:100%;text-align: left">
				<tbody>
					<tr> 
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Processo:</label> </td>
						<td class="colunaTabela" colspan="3"> <input style="width:50%" name="numero" /> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label >Titulo:</label> </td>
						<td class="colunaTabela" colspan="2"> <input style="width:30%" name="cdtitulo" /> </td>
						
						
					</tr>
					<tr style="text-align: center;font-weight:bold">
						<td class="colunaTabela" colspan="2">RURAL / CLAUSULA RESOLUTIVA<hr /></td>
						<td class="colunaTabela"> </td>
						<td class="colunaTabela"> </td>
						<td class="colunaTabela" colspan="2">REGULARIZACAO URBANA<hr /></td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CPF:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cpf" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CNPJ:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cnpj" /> </td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Requerente:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="requerente" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Municipio:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="municipio" /> </td>
					</tr>
				</tbody>
			</table>
			<br />
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="PESQUISAR" />
						<a href="/sicop/processo/cadastro/"> <input class="button_green" value="NOVO" type="button" /> </a>
					</td>
 
					<td class="colunaTabela" style="text-align:right;font-weight:bold"> 
						TRAMITAÇÃO EM LOTE: 
						{% if request.session.tramitacao_massa_ativado %}
							<a href="/sicop/processo/lista_tramitacao_massa/"> {{ request.session.tramitacao_massa|length }} Selecionado(s) </a>
							&nbsp;|&nbsp;
						{% endif %}
						{% if request.session.tramitacao_massa_ativado %}
							<a href="/sicop/processo/tramitacao_massa/"> DESATIVAR </a>
						{% else %}
							<a href="/sicop/processo/tramitacao_massa/"> ATIVAR </a>
						{% endif %}
					</td>				


 <!-- 
					<td class="colunaTabela" style="text-align:right"> 
	 					<a href="/sicop/restrito/processo/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>
						<a href="/sicop/restrito/processo/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a>
					</td>
-->	
				</tr>
								
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<div style="font-weight:bold">Rural: Cor Amarelo | Urbano: Cor Laranja | Clausula: Azul</div>
					</td>
					<td class="colunaTabela" style="text-align:right"> 
						<div>Total de registros: {{ request.session.relatorio_processo|length }}</div>
					</td>
				</tr>
			</table>
		</form>
	
{% endblock %}

{% block resultado %}
		<div style="overflow:auto;max-height:500px">	
			<table class="csstable">
			<tbody>
				<tr>
					{% if request.session.tramitacao_massa_ativado %}
						<td class="colunaTabelaConsulta" style="width:3%"> </td>
					{% endif %}
					<td class="colunaTabelaConsulta" style="width:25%">Nome </td>
					<td class="colunaTabelaConsulta" style="width:15%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:20%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:12%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:15%">Caixa</td>
					<td  class="colunaTabelaConsulta" style="width:10%">Titulo</td>
				</tr>
				{% if lista %}
				  	{% ifnotequal  consulta 'unico' %}
						{% for obj in lista %}
							<tr 
								style="background: {{ obj.tbprocessobase.tbtipoprocesso.coridentificacao }}">

								{% if request.session.tramitacao_massa_ativado %}
									<td onclick="editarID('/sicop/processo/add_tramitacao_massa/{{ obj.tbprocessobase.id }}');" 
										class="colunaTabelaConsulta">
											<img title="Selecionar para tramitação em massa" width="22" src="{% static "img/rb-off.png" %}" />
									</td>
								{% endif %}
								
								{% if obj.tbprocessobase.tbtipoprocesso.id == 1 %}
									<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');"
										class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
								{% else %}
									{% if obj.tbprocessobase.tbtipoprocesso.id == 2 %}
										<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');"
											class="colunaTabelaConsulta" >{{ obj.nmrequerente }}</td>
									{% else %}
										{% if obj.tbprocessobase.tbtipoprocesso.id == 3 %}
											<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');"
												class="colunaTabelaConsulta">{{ obj.nmpovoado }}</td>
										{% endif %}
									{% endif %}
								{% endif %}
								
									<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">
										{{ obj.tbprocessobase.nrprocesso }}
										
										{% if obj.tbprocessobase.tbclassificacaoprocesso.id == 2 %}
											&nbsp;<div style="font-weight: bold">(Anexo)</div>
										{% endif %}
										
									</td>
									<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbmunicipio.nome_mun }}</td>
									<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbgleba.nmgleba }}</td>
									<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbcaixa.nmlocalarquivo }}</td>
									
									{% for obj2 in lista_processo_titulo %}
										{% if obj2.tbprocessobase.id = obj.tbprocessobase.id  %}
											<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta">{{ obj2.tbtitulo.cdtitulo }}</td>
										{% else %}
											<td onclick="editarID('/sicop/processo/edicao/{{ obj.tbprocessobase.id }}');" class="colunaTabelaConsulta"></td>
										{% endif %}
									{% endfor %}
							</tr>
						{% endfor %}
					{% else %}
						<!-- colocar aqui a logica para exibir apenas 1 registro com todos os dados -->
						TEM 1 REGISTRO
					{% endifnotequal %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum Processo Encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
		</div>		
{% endblock %}
