{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Gleba | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR GLEBA
	
{% endblock %}

{% block formulario %}

	<div style="width:100%;font-size:12px;text-align:left">
		<form method="post" action=".">
			<table>
				{% for field in form %}
				<tr>
			    	<td style="padding-right: 10px;padding-bottom: 10px;">
			    		{{ field.label_tag }}:
			    	</td>
			    	<td>{{ field }}</td>
			    </tr>
			    {% endfor %}
			</table>
		</form>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/restrito/processo/consulta/" class="button_red">VOLTAR</a>
		<button type="submit" class="button_green">SALVAR</button>
	</div>
	
{% endblock %}