{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Gleba | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR GLEBA
	
{% endblock %}

{% block formulario %}
	
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmgleba }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Sub Area:</label> </td>
				   		<td>
				   			<select name="tbsubarea">
								{% for obj in subarea %}
									<option value="{{ obj.id }}">{{ obj.nmsubarea }}</option>
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="#" title="Nova SubArea"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				</table>
		</div>
		<br/><br/>
		<div style="width:100%;font-size:12px;text-align:right">
			<a onclick="history.back();" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
	
{% endblock %}