{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Gleba | Edicao
{% endblock %}

{% block subtitulo %}
	
	EDITAR GLEBA
	
{% endblock %}

{% block formulario %}
	
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmgleba }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Sub Area:</label> </td>
				   		<td>
				   			<select name="tbsubarea">
								{% for obj in subarea %}
									{% if obj.id == form.tbsubarea.value %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmsubarea }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmsubarea }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					<td>
						<a href="/sicop/restrito/sub_area/cadastro/" title="Nova SubArea"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   	</tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/gleba/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
