{% load staticfiles %} 
{% block formulario %}

		<form name="form_cadastro" method="post" action="/sicop/restrito/documento/memorando/cadastro/">
			{% csrf_token %}
			<table>
				<tr> 
					<td class="colunaTabela"> <label>Nome:</label> </td>
					<td> <input size="21" name="nmdocumento" id="documento" /> </td> 
				</tr>
  			    <tr> <td class="colunaTabela"> <label>Servidor:</label> </td>
 				   	<td>
				   		<select name="tbservidor"  style="width:150px">
							{% for obj in servidor %}
								<option value="0">Nenhum Selecionado</option>
								<option value="{{ obj.id }}">{{ obj.nmservidor }}</option>
							{% endfor %}
						</select>		
				   	</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Assunto:</label> </td>
					<td> <input size="40" name="nmassunto" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Local:</label> </td>
					<td> <input size="20" name="nmlocal" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Remetente:</label> </td>
					<td> <input size="35" name="nmremetente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Destinatario:</label> </td>
					<td> <input size="35" name="nmdestinatario" /> </td> </tr>
			   <tr> <td class="colunaTabela"> <label>Mensagem:</label> </td><td> <textarea rows="4" cols="40" name="nmmensagem"></textarea></td> </tr>
			</table>
			<br/><br/>
	<br />
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="/sicop/restrito/documento/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>
</form>			
{% endblock %}