{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}


{% block formulario %}

<div id="tabs" style="color:black;width:100%;font-size:11px">
 <ul>
	<li><a href="#tabs-1">EDICAO DOCUMENTO MEMORANDO</a></li>
	<li><a href="#tabs-2">SERVIDORES</a></li>
</ul>

<form method="post" action="/sicop/restrito/documento/memorando/edicao/{{ memorando.id }}/">
	{% csrf_token %}

<div id="tabs-1">
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
			<tr> <td class="colunaTabela"> <label>Numero:</label> </td><td> {{ base.id }} </td> </tr>
			<tr> 
				<td class="colunaTabela"> <label>Nome:</label> </td>
				<td class="colunaTabela"> <input size="21" name="nmdocumento" id="documento" value="{{ base.nmdocumento }}" /> </td> 

				<tr> <td class="colunaTabela"> <label>Assunto:</label> </td>
					<td> <input size="40" name="nmassunto" value="{{ memorando.nmassunto }}" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Local:</label> </td>
					<td> <input size="20" name="nmlocal" value="{{ memorando.nmlocal }}" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Remetente:</label> </td>
					<td> <input size="35" name="nmremetente" value="{{ memorando.nmremetente }}" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Destinatario:</label> </td>
					<td> <input size="35" name="nmdestinatario" value="{{ memorando.nmdestinatario }}" /> </td> </tr>
			   <tr> <td class="colunaTabela"> <label>Mensagem:</label> </td><td> <textarea rows="4" cols="40" name="nmmensagem">{{ memorando.nmmensagem }}</textarea></td> </tr>

			<tr> <td colspan="2" class="colunaTabela"> <a href="/sicop/restrito/documento/link/memorando/{{ memorando.id }}"> <label>Gerar Documento</label> </a> </td> </tr>

		</table>
	</div>
</div>

<div id="tabs-2">
		<table class="csstable"  style="width:100%">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:5%"> </td>
					<td class="colunaTabelaConsulta" style="width:95%">Servidores</td>
				</tr>
				{% if servidor %}
					{% for k,v in result %}
						<tr>
							<td class="colunaTabelaConsulta">
								{% if v %}
										<input checked="checked" name="{{ k }}" type="checkbox" />
								{% else %}
										<input name="{{ k }}" type="checkbox" />
								{% endif %}
							</td>
							<td class="colunaTabelaConsulta">{{ k }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Cadastre os servidores </td> </tr>
				{% endif %}
			</tbody>
		</table>
</div>
	
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>

</form>


{% endblock %}