					
					<ul id="menu" style="font-size:15px">
					<li>
					<a href="/" title="">
					<span>Página Inicial</span>
					</a>
					</li>
					
					<li>
					<a href="/web/equipe/" title="">
					<span>Equipe</span>
					</a>
					</li>
					
					<li>
					<a href="/web/organizacao/" title="">
					<span>Organização</span>
					</a>
					</li>

					<li>
					<a href="/web/mobile/" title="">
					<span>App Celular Android</span>
					</a>
					</li>

					<li>
					<a href="/web/estatisticas/" title="">
					<span>Estatísticas</span>
					</a>
					</li>
					
					
					{% if perms.sicop.processo_consulta %}
					<li><hr /><a href="/tramitacao/processo/consulta/">Processo</a></li>
					{% endif %}


					{% if perms.sicop.peca_tecnica_consulta %}
					<li> <a href="#">GEO Informação</a>
						<ul>
							<li><a href="/geoinformacao/parcela/consulta/">Parcelas</a></li>
							<li><a href="#">Processo</a>
								<ul>
									<li><a href="/geoinformacao/processo/processo_parcela_titulo/">Processo x Parcela x Titulados</a></li>
								</ul>
							</li>
							<li><a href="#">Titulação</a></li>
							<li><a href="#">Glebas</a></li>
							<li><a href="/geoinformacao/importacao/">Importação do SIGEF</a></li>
						</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.peca_tecnica_consulta %}
					<li> <a href="/tramitacao/peca_tecnica/consulta/"><strike>Peça Técnica</strike></a> </li>
					{% endif %}
					
					
					{% if perms.sicop.livro_consulta %}
					
					<li><a href="/livro/consulta/">Livro fundiário</a>
					<ul>
						{% if perms.sicop.livro_consulta %}
						<li><a href="/livro/consulta/">Consulta</a></li>
						{% endif %}
						{% if perms.sicop.livro_consulta %}
						<li><a href="/livro/titulos_entregues/">Titulados entregues</a></li>
						{% endif %}
						{% if perms.sicop.livro_consulta %}
						<li><a href="/livro/titulos_nao_entregues/">Titulados não entregues</a></li>
						{% endif %}
					</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.caixa_consulta or perms.sicop.tipo_caixa_consulta %}
					<li><hr/> <a href="#">Caixa</a>
					<ul>
					{% if perms.sicop.caixa_consulta %}
					<li><a href="/tramitacao/caixa/consulta/">Controle</a></li>
					{% endif %}
					{% if perms.sicop.tipo_caixa_consulta %}
					<li><a href="/tramitacao/tipo_caixa/consulta/">Tipo Caixa</a></li>
					{% endif %}
					</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.gleba_consulta or perms.sicop.sub_area_consulta %}
					<li><a href="#">Gleba</a>
					<ul>
					{% if perms.sicop.gleba_consulta %}
					<li><a href="/tramitacao/gleba/consulta/">Controle</a></li>
					{% endif %}
					{% if perms.sicop.sub_area_consulta %}
					<li><a href="/tramitacao/sub_area/consulta/">Sub Área</a></li>
					{% endif %}
					</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.contrato_consulta %}
					<li><a href="/tramitacao/contrato/consulta/">Contrato</a></li>
					{% endif %}
					
					{% if perms.sicop.pregao_consulta %}
					<li><a href="/tramitacao/pregao/consulta/">Pregão</a></li>
					{% endif %}
					
					{% if perms.servidor.servidor_consulta %}
					<li><hr/><a href="/servidor/consulta/">Servidor</a></li>
					{% endif %}
					
					{% if perms.documento.documento_consulta %}
						<li><a href="#">Documento</a>
							<ul>
								{% if perms.documento.memorando_consulta %}
									<li><a href="/documento/memorando/consulta">Memorando</a></li>
								{% endif %}
							</ul>
						</li>
					{% endif %}
					
					{% if perms.sicop.relatorio_consulta %}
					<li><hr/><a href="/tramitacao/relatorio/lista/">Relatório</a>
					<ul style="width: 250px">
						<li><a href="#">Processos</a>
							<ul>
								<li><a href="/tramitacao/relatorio/processos/">Todos os Processos Rurais</a></li>
								<li><a href="/tramitacao/relatorio/varredura_processos/">Todos os Processos - Varredura</a></li>
								<li><a href="/tramitacao/relatorio/processo_parcela/">Processos com parcela(s)</a></li>
								<li><a href="/tramitacao/relatorio/processo_sem_parcela/">Processos sem parcela(s)</a></li>
								<li><a href="/tramitacao/relatorio/processo_peca/"><strike>Processos com peças técnicas</strike></a></li>
								<li><a href="/tramitacao/relatorio/processo_sem_peca/"><strike>Processos sem peças técnicas</strike></a></li>
								
								<!--<li><a href="/tramitacao/relatorio/processo_sem_peca_com_parcela_sigef/">Processos sem peças técnicas com parcela(s) no SIGEF</a></li>-->
							</ul>
						</li>
						<li><a href="#">Parcelas / Peças Técnicas</a>
							<ul>
								<li><a href="/tramitacao/relatorio/parcela_sem_processo/">Parcelas sem processo(s)</a></li>
								<li><a href="/tramitacao/relatorio/parcela_processo/">Parcelas com processo(s)</a></li>
								<li><a href="/tramitacao/relatorio/peca_processo/"><strike>Peças técnicas com processo</strike></a></li>
								<li><a href="/tramitacao/relatorio/peca_sem_processo/"><strike>Peças técnicas sem processo</strike></a></li>
								<li><a href="/tramitacao/relatorio/pecas/"><strike>Todas as Peças técnicas</strike></a></li>
								<!--
								<li><a href="/tramitacao/relatorio/peca_nao_aprovada/">Peças técnicas não aprovadas</a></li>
								<li><a href="/tramitacao/relatorio/peca_rejeitada/">Peças técnicas rejeitadas</a></li>
								<li><a href="/tramitacao/relatorio/peca_validada/">Peças técnicas validadas</a></li>
								-->
							</ul>
						</li>
						<li><a href="#">Portaria 80</a>
							<ul>
								<li><a href="/tramitacao/processo/clausula/programacao_p80/">Em Programação</a></li></li>
								<li><a href="/tramitacao/processo/clausula/notificacao/">Notificações</a></li></li>
								<li><a href="/tramitacao/processo/clausula/analise/">Análise</a></li></li>
							</ul>
						</li>


						<li><a href="/tramitacao/relatorio/titulo">Titulos</a></li></li>

						<li><a href="#">Etapas</a>
							<ul>
								<li><a href="/tramitacao/relatorio/etapa/p23">Portaria 23</a></li>
								<li><a href="/tramitacao/relatorio/etapa/p80">Portaria 80</a></li>
								<li><a href="/tramitacao/relatorio/etapa/urbano">Regularização Urbana</a></li>
							</ul>
						</li>


					</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.tipo_processo_consulta or perms.sicop.classificacao_processo_consulta or perms.sicop.situacao_processo_consulta or perms.sicop.situacao_geo_consulta or perms.sicop.tipo_pendencia_consulta or perms.sicop.status_pendencia_consulta or perms.sicop.status_titulo_consulta or perms.sicop.checklist_consulta %}
					<li><a href="#">Configuração</a>
					<ul>
					{% if perms.sicop.tipo_processo_consulta %}
					<li><a href="/tramitacao/tipo_processo/consulta/">Tipo Processo</a></li>
					{% endif %}
					{% if perms.sicop.classificacao_processo_consulta %}
					<li><a href="/tramitacao/classificacao_processo/consulta/">Classificação Processo</a></li>
					{% endif %}
					{% if perms.sicop.situacao_processo_consulta %}
					<li><a href="/tramitacao/situacao_processo/consulta/">Situação Processo</a> <hr/> </li>
					{% endif %}
					{% if perms.sicop.etapa_consulta %}
					<li><a href="/tramitacao/etapa/consulta/">Etapas do Processo</a></li>
					{% endif %}
					{% if perms.sicop.checklist_consulta %}
					<li><a href="/tramitacao/checklist/consulta/">Checklists das Etapas</a> <hr/> </li>
					{% endif %}
					{% if perms.sicop.situacao_geo_consulta %}
					<li><a href="/tramitacao/situacao_geo/consulta/">Situação Geo</a></li>
					{% endif %}
					{% if perms.sicop.tipo_pendencia_consulta %}
					<li><a href="/tramitacao/tipo_pendencia/consulta/">Tipo Pendência</a></li>
					{% endif %}
					{% if perms.sicop.status_pendencia_consulta %}
					<li><a href="/tramitacao/status_pendencia/consulta/">Status Pendência</a></li>
					{% endif %}
					{% if perms.sicop.situacao_consulta %}
					<li><a href="/tramitacao/situacao/consulta/">Tipo Situação</a></li>
					{% endif %}
					{% if perms.sicop.status_titulo_consulta %}
					<li><a href="/livro/status_titulo/consulta/">Status titulo</a></li>
					{% endif %}
					
					
					
					</ul>
					</li>
					{% endif %}
					
					{% if perms.sicop.usuario_consulta or perms.sicop.grupo_consulta or perms.sicop.divisao_consulta %}
					<li><a href="#">Usuário</a>
					<ul>
					{% if perms.sicop.usuario_consulta %}
					<li><a href="/tramitacao/usuario/consulta/">Controle</a></li>
					{% endif %}
					{% if perms.sicop.grupo_consulta %}
					<li><a href="/tramitacao/grupo/consulta/">Grupo</a></li>
					{% endif %}
					{% if perms.sicop.permissao_consulta %}
					<li><a href="/tramitacao/permissao/consulta/">Permissão</a></li>
					{% endif %}
					{% if perms.sicop.divisao_consulta %}
					<li><a href="/tramitacao/divisao/consulta/">Divisão</a></li>
					{% endif %}
					</ul>
					</li>
					{% endif %}
										
					{% if perms.sicop.municipio_consulta %}
						<li><a href="#">Município</a>
						<ul>
							{% if perms.sicop.municipio_consulta %}
								<li><a href="/tramitacao/municipio/consulta/">Controle</a></li>
							{% endif %}
						</ul>
						</li>
					{% endif %}
					
					
					</ul>
