{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %}
	Acesso Restrito | Sub Area
{% endblock %}

{% block subtitulo %}
	
	CONSULTAR SUB AREA
	
{% endblock %}

{% block consulta %}
		<form action="." method="post">
			{% csrf_token %}
			<table>
				   <tr> 
				   		<td class="colunaTabela"> <label>Nome:</label> </td><td> <input name="nmsubarea" /> </td>
				   </tr>
			</table>
			<div style="text-align: left;padding-bottom: 20px">
				<input class="button_yellow" type="submit" value="Consultar" />
				<a class="button_green" href="/sicop/restrito/sub_area/cadastro/"> Nova Sub Area </a>
			</div>
		</form>
{% endblock %}


{% block resultado %}
	<table>
			<thead style="background:#e5e5e5;color:black">
				<tr>
					<th class="colunaTabelaConsulta" style="width:8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width:92%">{% anchor nmsubarea Nome %}</th>
				</tr>
			</thead>
			<tbody>
				{% if lista %}
					{% autosort lista %}
					{% autopaginate lista 5 %}
					{% for obj in lista %}
						<tr>
							<td class="colunaTabelaConsulta"> <a href="/sicop/restrito/sub_area/edicao/{{ obj.id }}"> <img width="16" src="{% static "img/search.png" %}" /> </a> </td> 
							<td class="colunaTabelaConsulta">{{ obj.nmsubarea }}</td>
						</tr>
					{% endfor %}
					{% paginate %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhuma Sub Area Encontrada </td> </tr>
				{% endif %}
			</tbody>
		</table>
{% endblock %}