{% extends "core/base/index.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Página Inicial
{% endblock %}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div>

		<div id="accordio" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					PÁGINA INICIAL
				{% endblock %}
			</h3>
		
			<div>

			{% if user.is_active %}


				<table style="width:100%;text-align:center;color:green;margin-top:20px">
					<tbody>
						<tr>
							{% if perms.sicop.processo_consulta %}
								<td> <a href="/sicop/processo/consulta"> <img width="96px" src="{% static "img/processo.png" %}" title="PROCESSO" /> </a> </td>
							{% endif %}
							{% if perms.sicop.peca_tecnica_consulta %}
								<td> <a href="/geoinformacao/parcela/consulta"> <img width="96px" src="{% static "img/peca.png" %}" title="GEO INFORMAÇÃO" /> </a> </td>
							{% endif %}
							{% if perms.sicop.livro_consulta %}
								<td> <a href="/livro/consulta"> <img width="96px" src="{% static "img/livro.png" %}" title="LIVRO FUNDIÁRIO" /> </a> </td>
							{% endif %}
						</tr>
						<tr>
							{% if perms.sicop.processo_consulta %}
								<td><div style="font-size:16px;font-weight:bold">Processo</div></td>
							{% endif %}
							{% if perms.sicop.peca_tecnica_consulta %}
								<td><div style="font-size:16px;font-weight:bold">GEO Informação</div></td>
							{% endif %}
							{% if perms.sicop.livro_consulta %}
								<td><div style="font-size:16px;font-weight:bold">Livro Fundiário</div></td>
							{% endif %}
						</tr>
					</tbody>
				</table>

				<table style="width:100%;text-align:center;color:green;margin-top:50px">
					<tbody>
						<tr>
							{% if perms.servidor.servidor_consulta %}
								<td> <a href="/servidor/consulta"> <img width="96px" src="{% static "img/servidor.png" %}" title="SERVIDOR" /> </a> </td>
							{% endif %}
							{% if perms.sicop.documento_consulta %}
								<td> <a href="#"> <img width="96px" src="{% static "img/documento.png" %}" title="DOCUMENTO" /> </a> </td>
							{% endif %}
							{% if perms.sicop.titulo_calculo_portaria23 %}
								<td> <a href="/calculo/portaria23"> <img width="96px" src="{% static "img/calculo.png" %}" title="CÁLCULO" /> </a> </td>
							{% endif %}
						</tr>
						<tr>
							{% if perms.servidor.servidor_consulta %}
								<td><div style="font-size:16px;font-weight:bold">Servidor</div></td>
							{% endif %}
							{% if perms.sicop.documento_consulta %}
								<td><div style="font-size:16px;font-weight:bold">Documento</div></td>
							{% endif %}
							{% if perms.sicop.titulo_calculo_portaria23 %}
								<td><div style="font-size:16px;font-weight:bold">Cálculo</div></td>
							{% endif %}
						</tr>
					</tbody>
				</table>

				<table style="width:100%;text-align:center;color:green;margin-top:50px">
					<tbody>
						<tr>
							{% if perms.sicop.relatorio_processo_peca_consulta %}
								<td> <a href="/sicop/relatorio/lista"> <img width="96px" src="{% static "img/relatorio.png" %}" title="RELATÓRIO" /> </a> </td>
							{% endif %}
							<td> <a href="/web/estatisticas"> <img width="96px" src="{% static "img/estatistica.png" %}" title="ESTATÍSTICA" /> </a> </td>
							<td> <a href="/web/equipe"> <img width="96px" src="{% static "img/equipe.png" %}" title="EQUIPE" /> </a> </td>
						</tr>
						<tr>
							{% if perms.sicop.relatorio_processo_peca_consulta %}
								<td><div style="font-size:16px;font-weight:bold">Relatório</div></td>
							{% endif %}
							<td><div style="font-size:16px;font-weight:bold">Estatística</div></td>
							<td><div style="font-size:16px;font-weight:bold">Equipe</div></td>
						</tr>
					</tbody>
				</table>

			{% else %}

				<table style="width:100%;text-align:center;color:green;margin-top:20px">
					<tbody>
						<tr>
							<td> <a href="/web/equipe"> <img width="96px" src="{% static "img/equipe.png" %}" title="EQUIPE" /> </a> </td>
							<td> <a href="/web/organizacao"> <img width="96px" src="{% static "img/organizacao.png" %}" title="ORGANIZAÇÃO" /> </a> </td>
							<td> <a href="/web/estatisticas"> <img width="96px" src="{% static "img/estatistica.png" %}" title="ESTATÍSTICA" /> </a> </td>
						</tr>
						<tr>
							<td><div style="font-size:16px;font-weight:bold">Equipe</div></td>
							<td><div style="font-size:16px;font-weight:bold">Organização</div></td>
							<td><div style="font-size:16px;font-weight:bold">Estatística</div></td>
						</tr>
					</tbody>
				</table>


			{% endif %}				



			</div>	
				
				
		</div>

</div>


{% endblock %}

