{% extends "core/base/index.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Organização
{% endblock %}

{% block titulo %}
	Organização
{% endblock %}
			
{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<!--end of grid-10-->
		<div id="accordion" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					ORGANIZAÇÃO
				{% endblock %}
			</h3>
			
			<div class="grids top">
			
				
				<div class="grid-6 grid intro" style="text-align:center">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Coordenacao Extraordinaria Estadual de Regulaizacao Fundiaria na Amazonia Legal no Maranhao - CERFAL/MA</p>
					<p style="margin-top:5px">Avenida Santos Dumont, 18 Anil (Predio do INCRA)</p>
					<p style="margin-top:5px">CEP: 65046-660 Sao Luis, Maranhao</p>
					<p style="margin-top:5px">Fone: (98) 3244 1500</p>
					<p style="margin-top:5px">Fone: (98) 3245 9394 ramal 232</p>
				</div>
				
				
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Ary Filomena Kurz</p>
					<p style="margin-top:5px">Chefe de divisao da SRFA-02</p>
				</div>
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Marcelo Clistenes Araujo de Carvalho</p>
					<p style="margin-top:5px">Chefe de divisao substituo da SRFA-02</p>
				</div>
				
				
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Quinto Fernando Antunes Ramos</p>
					<p style="margin-top:5px" >Chefe de servico tecnico da SRFA-02</p>
					<!-- p style="margin-top:5px" >Analista / Programador - Projebel</p-->
				</div>
				
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Jacqueline Marques Herculano</p>
					<p style="margin-top:5px" >Chefe de servico administrativo da SRFA-02</p>
					<!-- p style="margin-top:5px" >Analista / Programador - Projebel</p-->
				</div>
				
				<img src="{% static "img/organograma.png" %}"  align:"middle" />
				
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Jowberth Frank Silva Alves</p>
					<p style="margin-top:5px" >Coordenador Extraordinario Estadual de Regularizacao Fundiaria na Amazonia Legal no Maranhao - CERFAL/MA</p>
					<!-- p style="margin-top:5px" >Analista / Programador - Projebel</p-->
				</div>
				<div class="grid-6 grid intro" style="text-align:center;margin-top:30px">
					<!--end of slogan div-->									
					<p style="font-weight:bold">Joelsi Frank Costa</p>
					<p style="margin-top:5px" >Chefe de Divisao - CERFAL/MA</p>
					<!-- p style="margin-top:5px" >Analista / Programador - Projebel</p-->
				</div>
				
				
				
				
				
			</div>	
						
		</div>
		
	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->


{% endblock %}
