{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Processo Rural | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR PROCESSO RURAL
	
{% endblock %}

{% block formulario %}

		<form name="form" method="post" action=".">
			<table>
				 <tr>
				 		<td>
				   			<select name="tbtipoprocesso" onchange="proc();">
				   				<option value="0">-- SELECIONE --</option>
								{% for obj in tipoprocesso %}
									<option value="{{ obj.id }}">{{ obj.nome }}</option>
								{% endfor %}
							</select>
						</td>
				   	</tr>
			</table>
			<br/><br/>
			<div style="width:100%;font-size:12px;text-align:right">
				<a href="/sicop/restrito/processo/consulta/" class="button_red">VOLTAR</a>
				<button type="submit" class="button_green">SALVAR</button>
			</div>
		</form>			
{% endblock %}