{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}

{% block formulario %}

<div id="tabs" style="color:black;width:100%;font-size:11px">
{% ifnotequal request.session.processo_saida "unico"  %}
 <ul>
	<li><a href="#tabs-1">EDICAO PROCESSO RURAL</a></li>

{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-2">TRAMITACOES</a></li>
{% endif %}

	<li><a href="#tabs-3">PENDENCIAS</a></li>

{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-4">ANEXOS</a></li>
{% endif %}

	<li><a href="#tabs-5">PECA TECNICA</a></li>
 
{% if base.tbclassificacaoprocesso.id == 1 %}
	<li><a href="#tabs-6">TITULO</a></li>
{% endif %}
</ul>

{% else %}
{% endifnotequal%}
<div id="tabs-1">
	<table style="width:100%">
		<tbody>
			<tr>
				<td>

					<form method="post" action="/sicop/restrito/processo/rural/edicao/{{ rural.id }}/">
						{% csrf_token %}
						{% if base.tbtitulo %}
									<div style="width:100%;font-size:12px;text-align:left">
									<table border="1" style="width:100%;text-align: left">
									<tbody>
										<tr style="text-align: left;font-weight:bold;color:green">
										<td class="colunaTabela" colspan="2">TITULO<hr/></td>
										<td class="colunaTabela"> </td></tr>
									</tbody>
									</table>
									<table>
										<tr>
										<td class="colunaTabela" style="width:54px"> <label >Titulo:</label> </td><td><input name="cdtitulo" size=8 value="{{base.tbtitulo.cdtitulo}}"/> </td>
									    <td><select name="tbtipotitulo"  style="width:150px">
											{% for obj in tipotitulo %}
												{% if obj.id == base.tbtitulo.tbtipotitulo.id %}
													<option selected="selected" value="{{ obj.id }}">{{obj.cdtipo}} - {{obj.dstipo}}</option>
												{% else %}
													<option value="{{ obj.id }}">{{obj.cdtipo}} - {{obj.dstipo}}</option>
												{% endif %}
											{% endfor %}
										</select>		
									   	</td>
									   	
									   	<td class="colunaTabela"> <label>Status: </label></td>
									   	<td><select name="tbstatustitulo" style="width:150px">
									   		{% for obj in statustitulo %}
												{% if obj.id == base.tbtitulo.tbstatustitulo.id %}
													<option selected="selected" value="{{ obj.id }}">{{obj.sttitulo}}</option>
												{% else %}
													<option value="{{ obj.id }}">{{obj.sttitulo}}</option>
												{% endif %}
											{% endfor %}
										</select>		
									   	</td>
									   	</tr>
							</table>		   	
						</div>
					{% endif %}
					
						<div style="width: 100%; font-size: 12px; text-align: left">
						
						<table border="1" style="width:100%;text-align: left">
							<tbody>
							<tr style="text-align: left;font-weight:bold;color:green">
								<td class="colunaTabela" colspan="2">PROCESSO<hr/></td>
								<td class="colunaTabela"> </td>
							</tr>
							</tbody>
						</table>
						
							<table>
								<tr> 
									<td class="colunaTabela"> <label>Processo:</label></td><td><input readonly=readonly name="tbprocessobase" size=17 value="{{base.nrprocesso}}" style="width:150px" id="processo"/></td>
								</tr>
								{% if base.tbclassificacaoprocesso.id == 2 %}
									<tr style="color: red;font-weight: bold;"> <td class="colunaTabela" > <label>Classificacao:</label> </td>
									   		<td>
									   			{{ base.tbclassificacaoprocesso.nmclassificacao }}
									   		</td>
									</tr>
									<tr style="color: red;font-weight: bold;"> 
											<td class="colunaTabela" > 
												<a href="/sicop/restrito/processo/edicao/{{ processo_principal.id }}">
													Processo Principal:
												</a>
											</td>
									   		<td>
									   			<a href="/sicop/restrito/processo/edicao/{{ processo_principal.id }}"> {{ processo_principal.nrprocesso }} </a>
									   		</td>
									</tr>
								{% endif %}
									<tr> 
										<td class="colunaTabela"> <label>Gleba:</label> </td>
									   	<td>
									   		<select name="tbgleba" style="width: 200px">
									   			{% for obj in gleba %}
													{% if obj.id == base.tbgleba.id %}
														<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
													{% else %}
														<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</td>
										<td>
											<a href="/sicop/restrito/gleba/cadastro/?next=/sicop/restrito/processo/rural/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
										</td>
									</tr>
									<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
									   		<td>
									   			<select name="tbmunicipio" style="width: 200px">
													{% for obj in municipio %}
														{% if obj.id == base.tbmunicipio.id %}
															<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
														{% else %}
															<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
														{% endif %}
													{% endfor %}
												</select>
											</td>
									</tr>
									<tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td>
										<td> <input size="40" value="{{ rural.nmrequerente }}" name="nmrequerente" /> </td> </tr>
									<tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td>
										<td> <input size="15" value="{{ rural.nrcpfrequerente }}" id="cpf" name="nrcpfrequerente" /> </td> </tr>
									<tr> <td class="colunaTabela"> <label>Nome do Conjuge:</label> </td>
										<td> <input size="40" value="{{ rural.nmconjuge }}" name="nmconjuge" /> </td> </tr>
									<tr> <td class="colunaTabela"> <label>CPF do Conjuge:</label> </td>
										<td> <input size="15" value="{{ rural.nrcpfconjuge }}" id="cpf2" name="nrcpfconjuge" /> </td> </tr>
									<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
									   		<td>
									   			{{ base.tbcaixa.nmlocalarquivo }}
											</td>
									</tr>
									<tr> <td class="colunaTabela"> <label>Contato:</label> </td>
										<td> <input value="{{ base.nmcontato|default:''}}" name="nmcontato" style="width: 250px"/> </td> </tr>
									</table>
									<table>
									<tr> <td class="colunaTabela"> <label>Endereco:</label> </td></tr>
									<tr><td class="colunaTabela"> <input value="{{ base.nmendereco|default:''}}" name="nmendereco" size="40" /></td> </tr>
									
							</table>
		
						   {% if perms.sicop.etapa_checklist_posterior %}
								{% if fases %}
									<div style="margin-bottom:5px;width:98%;font-weight:bold;color: green">
										PROXIMA ETAPA<hr/>
									</div>
									<select name="etapaposterior"  style="width:250px">
										<option value="">-- SELECIONE PARA MUDAR DE ETAPA --</option>
										{% for obj in posteriores %}
											<option value="{{ obj.tbposterior.id }}">{{obj.tbposterior.nmfase}}</option>
										{% endfor %}
									</select>
								{% endif %}		
							{% else %}
								<input name="etapaposterior" value="" type="hidden" />
				   			{% endif %}
							
						</div>
						<br />
						<table style="width:100%">
							<tr>
								<td class="colunaTabela" style="text-align:left"> 
									<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
									<input type="submit" class="button_green" value="SALVAR" />
								</td>
								{% if perms.sicop.etapa_checklist_edicao %}
									<td class="colunaTabela" style="text-align:right"> 
										<a href="/sicop/restrito/etapa/restaurar/{{ base.id }}/" style="margin-right: 10px">
											<input type="button" class="button_green" value="VOLTAR ETAPA" />
										</a>
									</td>
								{% endif %}
							</tr>
						</table>
					</form>

				</td>
				<td style="text-align:right">
					{% if fases %}
						<div style="width:100%;text-align:center">
							{% for fase in fases %}
								<input 
									type="button"
									{% if etapa_atual %}
										{% if etapa_atual.tbetapa.id == fase.id %}
											{% if perms.sicop.processo_edicao %}
												onclick="editarID('/sicop/restrito/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
											{% endif %}
											class="bt_blue"
										{% else %}
											{% if perms.sicop.etapa_checklist_edicao %}
												onclick="editarID('/sicop/restrito/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
											{% endif %}
											class="bt_grey"
										{% endif %}
									{% else %}
										{% if perms.sicop.etapa_checklist_edicao %}
											onclick="editarID('/sicop/restrito/etapa/checklist/{{ rural.tbprocessobase.id }}/{{ fase.id }}');" 
										{% endif %}
										class="bt_grey"
									{% endif %}
									value="{{ fase.nmfase }}" title="{{ fase.dsfase }}" />
								<br/><br/>
							{% endfor %}
						</div>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-2">
<form method="post" action="/sicop/restrito/processo/tramitacao/{{ base.id }}/">
	{% csrf_token %}
	<table border="1" style="width:123%;text-align: left">
		<tbody>
		<tr style="text-align: left;font-weight:bold;color:green">
			<td class="colunaTabela" colspan="2">TRAMITACAO<hr/></td>
			<td class="colunaTabela"> </td>
		</tr>
		</tbody>
	</table>
	<table style="width:100%">
		<tr>
		   	<td class="colunaTabelaConsulta" >
		   		Caixa Destino:
		   		<select name="tbcaixadestino" style="width: 300px">
		   			{% for obj in caixadestino %}
						<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="TRAMITAR" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 15%">Data</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Origem</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Destino</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if movimentacao %} 
				{% for mov in movimentacao %}
				<tr>
					<td class="colunaTabelaConsulta">{{ mov.dtmovimentacao.day }}/{{ mov.dtmovimentacao.month }}/{{ mov.dtmovimentacao.year }}</td>
					<td class="colunaTabelaConsulta">{{	mov.tbcaixa_id_origem.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.tbcaixa.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
				</tr>
				{% endfor %} 
				
				{% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhuma Movimentacao
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

	</div>
{% endif %}

<div id="tabs-3">
<form method="post" action="/sicop/restrito/processo/pendencia/{{ base.id }}/">
	{% csrf_token %}
	</br>
	<table border="1" style="width:125%;text-align: left">
		<tbody>
		<tr style="text-align: left;font-weight:bold;color:green">
			<td class="colunaTabela" colspan="2">PENDENCIA<hr/></td>
			<td class="colunaTabela"> </td>
		</tr>
		</tbody>
	</table>
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
		   		<select name="tbtipopendencia" style="width: 200px">
		   			<option value="">-- Selecione --</option>
		   			{% for obj in tipopendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input placeholder="Descricao" size="30" required="required" name="dspendencia" />
		   		<select name="tbstatuspendencia" style="width: 200px">
		   		<option value="">-- Selecione --</option>
		   			{% for obj in statuspendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="CRIAR PENDENCIA" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width: 20%">Tipo</th>
					<th class="colunaTabelaConsulta" style="width: 10%">Status</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Descricao</th>
					<th class="colunaTabelaConsulta" style="width: 15%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if pendencia %}
				   		{% for pen in pendencia %}
							<tr>
								<td class="colunaTabelaConsulta">
									<a	href="/sicop/restrito/pendencia/edicao/{{ pen.id }}"> 
										<img width="16" src="{% static "img/search.png" %}" />
									</a>
								</td>
								<td class="colunaTabelaConsulta">{{	pen.tbtipopendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{	pen.tbstatuspendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{ pen.dsdescricao }}</td>
								<td class="colunaTabelaConsulta">{{ pen.auth_user.first_name }}</td>
							</tr>
						{% endfor %}
				{% else %}
					<tr>
						<td style="padding-top: 20px" colspan="6">Nenhuma Pendencia</td>
					</tr>
				{% endif %}

			</tbody>
		</table>

	</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<div id="tabs-4">
<form method="post" action="/sicop/restrito/processo/anexo/{{ base.id }}/">
	{% csrf_token %}
	</br>
	<table border="1" style="width:115%;text-align: left">
		<tbody>
		<tr style="text-align: left;font-weight:bold;color:green">
			<td class="colunaTabela" colspan="2">PROCESSOS ANEXOS<hr/></td>
			<td class="colunaTabela"> </td>
		</tr>
		</tbody>
	</table>
	
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
				<input name="processoanexo" />
				<input type="submit" value="ANEXAR" />
			</td>
		</tr>
	</table>
</form>
	<div style="overflow:auto">
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width: 5%">Desanexar</th>
					<td class="colunaTabelaConsulta" style="width: 15%">Data do	anexo</th>
					<td class="colunaTabelaConsulta" style="width: 30%">Processo anexado</th>
					<td class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
				{% if anexado %} 
				{% for anexo in anexado %}
					<tr>
					<td class="colunaTabelaConsulta">
						<a	href="/sicop/restrito/processo/desanexar/{{ anexo.tbprocessobase_id_anexo.id}}"	onclick="return confirm('Deseja mesmo desanexar os processos ?');" > 
							<img width="22" src="{% static "img/desanexar.jpg" %}" />
						</a>
					</td>
					<td class="colunaTabelaConsulta">{{ anexo.dtanexado.day }}/{{ anexo.dtanexado.month }}/{{ anexo.dtanexado.year }}</td>
					<td class="colunaTabelaConsulta" onclick="editarID('/sicop/restrito/processo/edicao/{{ anexo.tbprocessobase_id_anexo.id}}');" >{{ anexo.tbprocessobase_id_anexo.nrprocesso }}</td>
					<td class="colunaTabelaConsulta">{{	anexo.tbprocessobase_id_anexo.auth_user.first_name }}</td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhum Anexo</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	</div>
{% endif %}

<div id="tabs-5">
{% if peca%}

</br>
	<table border="1" style="width:118%;text-align: left">
		<tbody>
		<tr style="text-align: left;font-weight:bold;color:green">
			<td class="colunaTabela" colspan="2">PECAS TECNICAS<hr/></td>
			<td class="colunaTabela"> </td>
		</tr>
		</tbody>
	</table>
	
<table class="csstable">
		<tbody>
			<tr>
				<td class="colunaTabelaConsulta" >Gleba</td>
				<td class="colunaTabelaConsulta" >Area</td>
				<td class="colunaTabelaConsulta" >Municipio</td>
				<td class="colunaTabelaConsulta" >Contrato</td>
			</tr>					    
				{% for obj in peca %}
					<tr onclick="editarID('/sicop/restrito/peca_tecnica/edicao/{{ obj.id }}');">
						<td class="colunaTabelaConsulta" align="left" >{{ obj.tbgleba.nmgleba }}</td>
						<td class="colunaTabelaConsulta" align="left" >{{ obj.nrarea }}</td>
						<td class="colunaTabelaConsulta" align="left" >{{ obj.tbmunicipio.nome_mun_maiusculo }}</td>
						<td class="colunaTabelaConsulta" align="left" >{{ obj.tbcontrato.nrcontrato }}</td>
						
					</tr>
				{% endfor %}
		</body>
	</table>
	{% else %}
		<a  style="padding-top: 20px" colspan="6">	PROCESSO NAO POSSUI PECA TECNICA ASSOCIADA</a>
	{% endif %}</br></br>
</div>
</div>
{% endblock %}
