{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}
 

{% block formulario %}

<div id="accordion" style="color:black;width:100%;font-size:11px">
<h3>{% block subtitulo %} EDITAR PROCESSO RURAL {% endblock %}</h3>
<div>
<form method="post" action="/sicop/restrito/processo/rural/edicao/{{ rural.id }}/">
	{% csrf_token %}
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
			<tr> 
				<td class="colunaTabela"> <label>N do Processo:</label> </td>
				<td class="colunaTabela"> <input name="nrprocesso" id="processo" value="{{ base.nrprocesso }}" /> </td> 
			</tr>
				<tr> 
					<td class="colunaTabela"> <label>Gleba:</label> </td>
				   	<td>
				   		<select name="tbgleba" style="width: 200px">
				   			{% for obj in gleba %}
								{% if obj.id == base.tbgleba.id %}
									<option selected="selected" value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% else %}
									<option value="{{ obj.id }}">{{ obj.nmgleba }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						<a href="/sicop/restrito/gleba/cadastro/?next=/sicop/restrito/processo/rural/cadastro/" title="Nova Gleba"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Municipio:</label> </td>
				   		<td>
				   			<select name="tbmunicipio" style="width: 200px">
								{% for obj in municipio %}
									{% if obj.id == base.tbmunicipio.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nome_mun }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Nome do Requerente:</label> </td>
					<td> <input size="35" value="{{ rural.nmrequerente }}" name="nmrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Requerente:</label> </td>
					<td> <input size="13" value="{{ rural.nrcpfrequerente }}" id="cpf" name="nrcpfrequerente" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Nome do Conjuge:</label> </td>
					<td> <input size="35" value="{{ rural.nmconjuge }}" name="nmconjuge" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>CPF do Conjuge:</label> </td>
					<td> <input size="13" value="{{ rural.nrcpfconjuge }}" id="cpf2" name="nrcpfconjuge" /> </td> </tr>
				<tr> <td class="colunaTabela"> <label>Caixa:</label> </td>
				   		<td>
				   			{{ base.tbcaixa.nmlocalarquivo }}
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Classificacao:</label> </td>
				   		<td>
				   			{{ base.tbclassificacaoprocesso.nmclassificacao }}
						</td>
				</tr>
				<tr> <td class="colunaTabela"> <label>Situacao:</label> </td>
				   		<td>
				   			<select name="tbsituacaoprocesso" style="width: 200px">
								{% for obj in situacaoprocesso %}
									{% if obj.id == base.tbsituacaoprocesso.id %}
										<option selected="selected" value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% else %}
										<option value="{{ obj.id }}">{{ obj.nmsituacao }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td>
							<a href="/sicop/restrito/situacao_processo/cadastro/?next=/sicop/restrito/processo/rural/cadastro/" title="Nova Situacao"> <img src="{% static "img/add.png" %}" width="24" /> </a>
						</td>
				</tr>
		</table>
	</div>
	<br />
	<table style="width:100%">
		<tr>
			<td class="colunaTabela" style="text-align:left"> 
				<a href="/sicop/restrito/processo/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
				<input type="submit" class="button_green" value="SALVAR" />
			</td>
		</tr>
	</table>
</form>
</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<h3>TRAMITACOES</h3>
<div>
<form method="post" action="/sicop/restrito/processo/tramitacao/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr>
		   	<td class="colunaTabelaConsulta" >
		   		Caixa Destino:
		   		<select name="tbcaixadestino" style="width: 200px">
		   			{% for obj in caixadestino %}
						<option value="{{ obj.id }}">{{ obj.nmlocalarquivo }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="TRAMITAR" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 15%">Data</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Origem</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Destino</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if movimentacao %} {% autosort movimentacao %} {% autopaginate movimentacao 5 %} {% for mov in movimentacao %}
				<tr>
					<td class="colunaTabelaConsulta">{{ mov.dtmovimentacao.day }}/{{ mov.dtmovimentacao.month }}/{{ mov.dtmovimentacao.year }}</td>
					<td class="colunaTabelaConsulta">{{	mov.tbcaixa_id_origem.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.tbcaixa.nmlocalarquivo }}</td>
					<td class="colunaTabelaConsulta">{{ mov.auth_user.first_name }}</td>
				</tr>
				{% endfor %} {% paginate %} {% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhuma Movimentacao
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

	</div>
{% endif %}

<h3>PENDENCIAS</h3>
<div>
<form method="post" action="/sicop/restrito/processo/pendencia/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
		   		<select name="tbtipopendencia" style="width: 200px">
		   			{% for obj in tipopendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input name="dspendencia" />
		   		<select name="tbstatuspendencia" style="width: 200px">
		   			{% for obj in statuspendencia %}
						<option value="{{ obj.id }}">{{ obj.dspendencia }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="CRIAR PENDENCIA" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 8%">Detalhes</th>
					<th class="colunaTabelaConsulta" style="width: 15%">Tipo</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Status</th>
					<th class="colunaTabelaConsulta" style="width: 26%">Descricao</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if pendencia %}
					{% autosort pendencia %}
				  	{% autopaginate pendencia 5 %}
				   		{% for pen in pendencia %}
							<tr>
								<td class="colunaTabelaConsulta">
									<a	href="/sicop/restrito/pendencia/edicao/{{ pen.id }}"> 
										<img width="16" src="{% static "img/search.png" %}" />
									</a>
								</td>
								<td class="colunaTabelaConsulta">{{	pen.tbtipopendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{	pen.tbstatuspendencia.dspendencia }}</td>
								<td class="colunaTabelaConsulta">{{ pen.dsdescricao }}</td>
								<td class="colunaTabelaConsulta">{{ pen.auth_user.first_name }}</td>
							</tr>
						{% endfor %}
					{% paginate %}
				{% else %}
					<tr>
						<td style="padding-top: 20px" colspan="6">Nenhuma Pendencia</td>
					</tr>
				{% endif %}

			</tbody>
		</table>

	</div>

{% if base.tbclassificacaoprocesso.id == 1 %}
<h3>PROCESSOS ANEXADOS</h3>
<div>
<form method="post" action="/sicop/restrito/processo/anexo/{{ base.id }}/">
	{% csrf_token %}
	<table style="width:100%">
		<tr> 
		   	<td class="colunaTabelaConsulta">
				<input id="processo2" name="processoanexo" />
				<input type="submit" value="ANEXAR" />
			</td>
		</tr>
	</table>
</form>
		<table style="width: 100%; text-align: center">
			<thead style="background: #e5e5e5; color: black">
				<tr>
					<th class="colunaTabelaConsulta" style="width: 15%">Data do	anexo</th>
					<th class="colunaTabelaConsulta" style="width: 30%">Processo anexado</th>
					<th class="colunaTabelaConsulta" style="width: 25%">Usuario</th>
				</tr>
			</thead>
			<tbody>
				{% if anexado %} {% autosort anexado %} {% autopaginate anexado 5 %} {% for anexo in anexado %}
				<tr>
					<td class="colunaTabelaConsulta">{{ anexo.dtanexado.day }}/{{ anexo.dtanexado.month }}/{{ anexo.dtanexado.year }}</td>
					<td class="colunaTabelaConsulta">{{ anexo.tbprocessobase_id_anexo.nrprocesso }}</td>
					<td class="colunaTabelaConsulta">{{	anexo.tbprocessobase.auth_user.first_name }}</td>
				</tr>
				{% endfor %} {% paginate %} {% else %}
				<tr>
					<td style="padding-top: 20px" colspan="6">Nenhum Anexo</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endif %}

<h3>PECA TECNICA</h3>
<div>
<table style="width:100%">
	<tr>
		<td colspan="2" class="colunaTabela" style="text-align:left">
			{% if peca %}
				Existe peca
			{% else %}
				Nenhuma Peca Tecnica ligada a este processo
			{% endif %}
		</td>			
	</tr>
</table>
</div>

</div>
{% endblock %}