{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
 Acesso Restrito | Processo Rural | Edicao 
{% endblock %}

{% block subtitulo %} EDITAR PROCESSO RURAL {% endblock %} 

{% block formulario %}

<form method="post" action=".">
	{% csrf_token %}
	<div style="width: 100%; font-size: 12px; text-align: left">
		<table>
			<tr>
				<td class="colunaTabela"><label>Requerente:</label></td>
				<td class="colunaTabela"> <input name="nmrequerente" value="{{ rural.nmrequerente }}" /> </td>
			</tr>
		</table>
	</div>
	<br/><br/>
	<div style="width:100%;font-size:12px;text-align:right">
		<a href="/sicop/restrito/processo/consulta/" class="button_yellow">CONSULTAR</a>
		<input type="submit" class="button_green" value="SALVAR" />
	</div>	
</form>
{% endblock %}