{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Livro fundiario | Cadastro
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

<ul>
	<li><a href="#tabs-1">CADASTRAR TITULO</a></li>
</ul>

<div id="tabs-1">		
	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Titulo:</label> </td><td><input required name="cdtitulo"/></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Processo:</label> </td><td><input required name="tbprocessobase" style="width:150px" id="processo"/></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Status:</label> </td>
				   	<td>
				   		<select name="tbstatustitulo"  style="width:150px">
							<option value="">-- Selecione um status --</option>
							{% for obj in statustitulo %}
								<option value="{{ obj.id }}">{{obj.sttitulo}}</option>
							{% endfor %}
						</select>		
				   	</td>
				   	</tr>
				   	 <tr> <td class="colunaTabela"> <label>Tipo:</label> </td>
				   	<td>
				   		<select name="tbtipotitulo"  style="width:150px">
							<option value="">-- Selecione um tipo --</option>
							{% for obj in tipotitulo %}
								<option value="{{ obj.id }}">{{obj.cdtipo}} - {{obj.dstipo}}</option>
							{% endfor %}
						</select>		
				   	</td>
				   	</tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/livro/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>	
</div>
{% endblock %}