{% extends "base/consulta_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Livro Fundiario TITULOS NAO ENTREGUES
{% endblock %}

{% block subtitulo %}
	
	TITULOS NAO ENTREGUES
	
{% endblock %}

{% block consulta %}	
	
		<form action="." method="post">
			{% csrf_token %}
			
			<table border="1" style="width:100%;text-align: left">
				<tbody>
			
			<tr style="text-align: center;font-weight:bold">
						<td class="colunaTabela" colspan="2">TITULO / PROCESSO<hr /></td>
						<td class="colunaTabela"> </td>
						<td class="colunaTabela"> </td>
						<!-- >td class="colunaTabela" colspan="2">REQUERENTE<hr /></td-->
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Titulo:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="cdtitulo" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Requerente:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="nmrequerente" /> </td>
					</tr>
					<tr>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>Processo:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:60%" name="nrprocesso" /> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:5%;text-align:left" class="colunaTabela"> </td>
						<td style="width:10%;text-align:left" class="colunaTabela"> <label>CPF:</label> </td>
						<td style="width:35%;text-align:left" class="colunaTabela"> <input style="width:80%" name="nrcpfrequerente" /> </td>
					</tr>
					</tbody>
					</table>
			<table style="width:100%">
				<tr>
					<td class="colunaTabela" style="text-align:left"> 
						<input class="button_yellow" style="margin-right: 10px" type="submit" value="PESQUISAR" />
						<a href="/livro/cadastro/"> <input class="button_green" value="NOVO" type="button" /> </a>
					</td>
					
				<td class="colunaTabela" style="text-align:right"> 
						<p>Total de registros: {{ request.session.relatorio_livro_nao_entregues|length }}</p>
						<!-- >a href="/sicop/restrito/caixa/relatorio/pdf/"> <img width="36" alt="PDF" src="{% static "img/pdf.png" %}" /> </a-->
						<a href="/livro/relatorio/ods/"> <img width="36" alt="ODS" src="{% static "img/ods.png" %}" /> </a>
						<!-- >a href="/sicop/restrito/caixa/relatorio/csv/"> <img width="36" alt="CSV" src="{% static "img/csv.png" %}" /> </a-->
				</td>
				</tr>	
			</table>
		</form>
	
{% endblock %}
{% block resultado %}
		<table class="csstable">
			<tbody>
				<tr>
						<td class="colunaTabelaConsulta" style="width:4%">Titulo</td>
						<td class="colunaTabelaConsulta" style="width:15%">Processo</td>
						<td class="colunaTabelaConsulta" style="width:4%">CPF</td>
						<td class="colunaTabelaConsulta" style="width:40%">Nome</td>
						
						
				</tr>
				{% if lista %}
					{% for obj in lista %}
						<tr onclick="editarID('/livro/edicao/{{ obj.id }}');">
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbtitulo.cdtitulo }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.nrprocesso }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrcpfrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nmrequerente}}</td>
							
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum titulo encontrado </td> </tr>
				{% endif %}
			</tbody>
		</table>
{% endblock %}