{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Tipo Processo | Cadastro
{% endblock %}

{% block subtitulo %}
	
	CADASTRAR TIPO PROCESSO
	
{% endblock %}

{% block formulario %}

	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nome }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tabela:</label> </td><td>{{ form.tabela }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Cor para Identificacao:</label> </td><td>{{ form.coridentificacao }} </td> </tr>
				</table>
		</div>
		<br/><br/>
		<div style="width:100%;font-size:12px;text-align:right">
			<a href="/sicop/restrito/tipo_processo/consulta/" class="button_red">VOLTAR</a>
			<button type="submit" class="button_green" >SALVAR</button>
		</div>	
	</form>
	
{% endblock %}