{% extends "base.html" %} 

{% block breadcumbs %}
	Acesso Restrito
{% endblock %}

{% block titulo %}
	Acesso Restrito
{% endblock %}							

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
				
				{% block login %}

				<div class="grids top">
					<div class="grid-6 grid intro">
					</div>
					<!--end of slogan div-->
				
					<div class="grid-10 grid">
						<div class="flexslide">
				
							{% if form.errors %} {{ form.non_field_errors }} <br/> {% endif %}
							
							<div style="width:100%;text-align:center">
								<form action="." method="post">
									{% csrf_token %}
										<table>
											<tr><td style="padding-right: 10px; padding-bottom: 10px">{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
											<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
											<tr><td><button type="submit">Entrar</button></td></tr>
										</table>
								</form>
							</div>
						</div>
					</div>
				
				</div>
				<!--end of div grids-->
				
				{% endblock %}
												
		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->

{% endblock %}

