*.py[co]

*.*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.zargo~
.DS_Store
local_settings.py
.*.swp

# arquivos gerados pela validação
validacao_*

# componentes shapefile
*.shp
*.shx
*.dbf
*.prj

# pycharm project settings
.idea

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

env
django-jinja
site/static
site/media

*.db

temp_test_data/

.project

site/mapproxy/confs
