{% load staticfiles %}

<!doctype html>
<head>
	<title>.:: SICOP - Terra Legal MA ::. </title>
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
	<meta name="description" content="description here">
	<meta name="author" content="content here">
	<meta charset="utf-8">
	<!--[if IE]><![endif]-->	
<style type="text/css">
<!--
body {
	background-image: url( {% static "img/bg.jpg" %} );
}
-->
</style>
</head>
<body>
<!--start header -->

<div id="header-container">
  <header class="wrapper">
    <div id="logo"> <!--<img src="images/terralegal.png" alt="Logo here" width="180" height="178"> --> </div>
  
    <!--start navigation -->
    <nav></nav>
    
  </header>
</div>
<!--end header -->
<div id="nav">
    <div class="button"><a href="#">Inicio</a></div>
  <div class="button"><a href="#">Acesso</a></div>  
	 <div class="button"><a href="#">Arquivo</a></div>
  <div class="button"><a href="#">Outros</a></div>
</div>
<!--end navigation -->
<!--start main content -->
<div id="main" class="wrapper">

<div id="enter" style="text-align:justify">
    Sistema desenvolvido pela SRFA02, vinculada ao Terra Legal com o objetivo de controlar todos os processos de regularização fundiária,
     liberação de cláusulas resolutivas, recebimento e conferência de peças técnicas de imóveis integrantes da região definida como a amazônia Legal.
</div>

	<div id="enter" style="text-align:center">
		SISTEMA AQUI
	</div>

</div> 

<!--end main content -->
 <!--start footer -->
 <div id="footer-container">
           <footer class="wrapper">
             <div class="footer-nav">
               
             </div>
             <div class="footer-nav">
               
             </div>
             <div class="social</div>
             <div class="copy"></div>
             <!--end footer nav -->
           </footer>
       </div>
<!--end footer -->
</body>
</html>