{% extends "base.html" %} 

{% block login %}

<div class="grids top">
	<div class="grid-6 grid intro">
	</div>
	<!--end of slogan div-->

	<div class="grid-10 grid">
		<div class="flexslide">

			{% if form.errors %} {{ form.non_field_errors }} {% endif %}

			<form action="." method="post">
				{% csrf_token %}
				<div style="width: 100%">
					{{ form.username.label_tag }} {{ form.username }}<br /> 
					{{ form.password.label_tag }} {{ form.password }}<br />
					<button type="submit">LOGIN</button>
				</div>
			</form>

		</div>
	</div>



</div>
<!--end of div grids-->

{% endblock %}
