{% extends "core/base/cadastro.html" %} 
{% load staticfiles %}

{% block breadcumbs %}
	Acesso Restrito | Processo | Importação
{% endblock %}

{% block subtitulo %}
	
	IMPORTAÇÃO DE NOVOS CADASTROS PORTARIA 23 E 80
	
{% endblock %}


{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">IMPORTAR NOVOS CADASTROS</a></li>
</ul>
<div id="tabs-1">		
		
	<form method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td colspan="2"><a href="/media/doc/cadastro_sicop_terra_legal_ma.ods">BAIXAR MODELO ODS PARA CADASTRO</a></td>
			</tr>
			<tr>
				<td class="colunaTabela">Caixa:</td>
				<td>
					<select name="caixa" required  style="width:250px">
						<option value="">-- Selecione uma Caixa --</option>
						{% for obj in caixas %}
							<option value="{{ obj.id }}">{{obj.nmlocalarquivo}}</option>
						{% endfor %}
					</select>		
					( Tipo: Força-Tarefa / Ciclo PDCA )
				</td>
			</tr>
			<tr>
				<td class="colunaTabela">Usuário Cadastrador:</td>
				<td>
					<select name="usuario" required  style="width:250px">
						<option value="">-- Selecione o usuário --</option>
						{% for obj in usuarios %}
							<option value="{{ obj.id }}">{{obj.first_name}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td class="colunaTabela">PLANILHA (ODS):</td>
				<td class="colunaTabela"><input type="file" name="arquivo" required accept=".ods" /></td>
			</tr>
			<tr>
				<td class="colunaTabela" colspan="2" style="text-align:left"> 
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>

	<br/>
		<table class="csstable">
			<thead>
				<tr>
					<td colspan="3">RESULTADO DO PROCESSAMENTO DO ODS
						<br/>
						Total de linhas processadas: {{resultado|length}}
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%">Planilha</td>
					<td class="colunaTabelaConsulta" style="width:10%">Linha</td>
					<td class="colunaTabelaConsulta" style="width:70%">Mensagem</td>
				</tr>
				{% if resultado %}
					{% for obj in resultado %}
						<tr style="background:{% if obj.status == 'error' %}red{%elif obj.status == 'warning'%}yellow{%elif obj.status == 'info'%}green{%endif%}">
							<td class="colunaTabelaConsulta">{{ obj.plan }}</td>
							<td class="colunaTabelaConsulta">{{ obj.id }}</td>
							<td class="colunaTabelaConsulta">{{ obj.message }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr> <td style="padding-top: 20px" colspan="6"> Nenhum *.ods processada. </td> </tr>
				{% endif %}
			</tbody>
			
		</table>

</div>
</div>

{% endblock %}