/** global **/
body {
	margin:0px auto;
	padding:0;
	font-family: 'Oxygen', 'sans-serif';
	font-size: 1.0em;
	color:#333;
	background:#fff;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width:100%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:3px solid #082659;
	background-color:#0C3A87;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:1.9em;
	margin-bottom:20px;
}
a {
	color:#ffcc00;
}
a:hover {
	color:#1A9E0B;
}
a:focus {
	outline:none;
}
a.button { 
    background-color: #0B3170;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
	background-color: #092758;
}

a.button-reversed { 
    background-color: #C2D7EF;
    color: #0B3170;
}

a.button-reversed:hover {
	background-color: #D7E5F4;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
fieldset form input.formbutton {
	background:#0C3A87;
	border:none;
	border-bottom:3px solid #082659;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:13px;
}
h1 {
	font-size:2.4em;
}
h2 {
	color:#17590A;
	font-size:1.8em;
	font-weight:bold;
	letter-spacing:-1px;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#17590A;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#17590A;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#17590A;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

.width {
	width:920px;
	margin: 0 auto;
}


/** sitename **/
div#sitename {
	background-color:#17590A;
	background: linear-gradient(#1A9E0B, #1B7808);
	border-bottom: 5px solid #124508;
}

div#sitename h1 {
	letter-spacing:-3px;
	margin:0;
	font-size: 2.75em;
	float: left;
	padding:10px 0 10px;
}
div#sitename h1 a,
div#sitename h1 a:hover {
	color:#fff;
	font-weight:bold;
	text-shadow:0px 2px 2px #000;
	text-decoration:none;
}


nav {
	float: right;
	margin-top: 35px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
}


nav ul li a {
    color: #ccc;
    display: block;
    font-size: 0.95em;
    letter-spacing: 0;
	margin: 5px 3px 0;
	font-weight: normal;
    padding: 8px 15px 8px;
    text-decoration: none;
box-shadow:-1px 1px 0 transparent;
}
nav ul li.selected a,
nav ul li.selected a:hover { 
	color: #fff;
	background-color: #000;
	font-weight:bold;

	margin: 8px 2px 0;
	box-shadow: -1px 1px 0 #333;
}


nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}

/** header **/
header {
	padding:30px 0 30px;
	margin:0 auto;
	background-color:#17590A;
	background: linear-gradient(#1A9E0B, #1B7808);
}
header h2 {
	color:#ffffff;
	font-size: 1.9em;
	padding-bottom:0;
	letter-spacing:0;
}
header div.tagline {
	color:#C2D7F9;
	font-size:0.9em;
}
header div.tagline a {
	color:#ffffff;
}



/** body **/
section#body {
	padding:10px 0;
	background:#fff;
}


/** content+sidebar styles **/
section#content {
	width:730px;
}
.column-left {
	float:left;
	margin-right:8px;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:150px;
}
aside#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}
aside#sidebar li ul {
	margin-bottom:20px;
}
aside#sidebar li ul li {
	display:block;
	padding:0px 0px;
	border-bottom:1px solid #ddd;
	color:#777;
}
aside#sidebar li {
	color:#666;
	font-size: 0.9em;
}
aside#sidebar li ul li a {
	text-decoration:none;
	color:#666;
	font-weight:normal;
}
aside#sidebar li ul li a:hover {
	color:#09285E;
	text-decoration:underline;
}


aside#sidebar li ul.blocklist li {
	padding:0;
}
aside#sidebar li ul.blocklist li.selected-item  {
	border-bottom:none;
}
aside#sidebar li ul.blocklist li.selected-item a {
	color:#fff;
	font-weight:bold;
	background: linear-gradient(#1A9E0B, #1B7808);
}
aside#sidebar li ul.blocklist li.selected-item a:hover {
	color:#fff;
	font-weight:bold;
	background: linear-gradient(#1A9E0B, #1B7808);
}
aside#sidebar li ul.blocklist li a:hover {
	background:#f0f0f0;
	text-decoration:none;
}
aside#sidebar li ul.blocklist li a {
	color:#666;
	display:block;
	padding:5px 5px;
}

aside#sidebar h4 { 
	color:#17590A;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}


article {
    padding: 10px 10px 20px 5px;
	font-size: 0.9em;
 }

article h2 {
    padding-bottom: 0;
   font-size: 2.1em;
}

article .article-info {
    color: #999;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}



/** footer **/
footer {
	padding:20px 0px;
	color:#fff;
	border-top:1px solid #ccc;
}

footer p {
	color:#666;
	margin:0;
	font-size:11px;
	width:50%;
}
footer p.left { float:left; text-align:left; }
footer p.right { float:right; text-align:right; }
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#0C3A85; border-bottom-color: #0C3A85; }


/** clear fix **/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
.clear {
	display: block;
}





@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }	

	#sitename { letter-spacing:-2px; text-align:center; }


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0 5px; }
	
	section#content, aside#sidebar { float: none; width: auto; }

	footer .footer-content ul { width: auto; float: none; }
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }

	nav ul li { float: none; text-align:center;  }

	nav ul li a { margin-top: 0; padding: 0.5em; }

	nav { height: auto; position: relative; }

}

/* BOTOES */


.button_green {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#cc7722;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}
.button_green:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.button_green:active {
	position:relative;
	top:1px;
}


.button_yellow {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffcc00), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #ffcc00 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#f2ab1e');
	background-color:#ffcc00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffcc00;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ded17c;
}.button_yellow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #ffcc00) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #ffcc00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#ffcc00');
	background-color:#f2ab1e;
}.button_yellow:active {
	position:relative;
	top:1px;
}


.button_red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.button_red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.button_red:active {
	position:relative;
	top:1px;
}


.bt_grey {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial Black;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.bt_grey:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.bt_grey:active {
	position:relative;
	top:1px;
}



.bt_blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.bt_blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.bt_blue:active {
	position:relative;
	top:1px;
}


.colunaTabela
{
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.colunaTabelaConsulta
{
	padding: 10px;
	padding: 10px;
	border: 0px #ccc solid;
}

.csstable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.csstable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.csstable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.csstable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.csstable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.csstable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.csstable tr:hover td{
  background-color: #fff; color: #000;
  cursor: pointer;	
}
.csstable tr:first-child td {
	cursor: default;
}
.csstable tr:nth-child(odd){ background-color:#d4ffaa; }
.csstable tr:nth-child(even)    { background-color:#ffffff; }.csstable td{
	vertical-align:middle;
	
	
	border:1px solid gray;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.csstable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.csstable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.csstable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.csstable tr:first-child td{

	background-color: YellowGreen;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.csstable tr:first-child:hover td{
	background-color: YellowGreen;
}
.csstable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.csstable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.ui-menu { width: 180px; z-index: 1000; }
