{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Divisao | Edicao
{% endblock %}

{% block formulario %}
<div id="accordion" style="color:black;width:100%;font-size:11px">
<h3>{% block subtitulo %}
	
	EDITAR DIVISAO
	
{% endblock %}
</h3>
<div>		
		
	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmdivisao }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>UF:</label> </td>
				   	<td>
				   		<select name="tbuf">
							{% for obj in uf %}
								{% if obj.id == form.tbuf.value %}
									<option selected="selected" value="{{ obj.id }}">{{ obj.nmuf }}</option>
								{% else %}
									<option value="{{ obj.id }}">{{ obj.nmuf }}</option>
								{% endif %}
							{% endfor %}
						</select>		
				   	</td>				
				   </tr>
				   <tr> <td class="colunaTabela"> <label>Descricao:</label> </td><td> <textarea rows="4" cols="40" name="dsdivisao">{{ form.dsdivisao.value }}</textarea></td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/divisao/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
