{% extends "base/base.html" %} 

{% block breadcumbs %}
 Acesso Restrito 
{% endblock %} 

{% block index %}
<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
			<div id="cssmenu" style="width: 100%; font-size: 12px; color: green">
				<ul>
					<li><a href="/sicop/restrito/processo/consulta/">Processo</a>
						<ul style="width: 150px">
							<li><a href="/sicop/restrito/processo/consulta/">Consultar</a>
							<li><a href="/sicop/restrito/processo/cadastro/">Cadastrar</a>
						</ul></li>
					<li><a href="/sicop/restrito/peca_tecnica/consulta/">Peca Tecnica</a>
						<ul style="width: 150px">
							<li><a href="/sicop/restrito/peca_tecnica/consulta/">Consultar</a>
							<li><a href="/sicop/restrito/peca_tecnica/cadastro/">Cadastrar</a>
						</ul></li>
					<li><a href="#">Relatorio</a>
						<ul style="width: 250px">
							<li><a href="/sicop/restrito/relatorio/processo_peca/">Processos e pecas tecnicas</a></li>
							<li><a href="/sicop/restrito/relatorio/peca_nao_aprovada/">Pecas tecnicas nao aprovadas</a></li>
							<li><a href="/sicop/restrito/relatorio/peca_rejeitada/">Pecas tecnicas rejeitadas</a></li>
							<li><a href="/sicop/restrito/relatorio/peca_validada/">Pecas tecnicas validadas</a></li>
							<li><a href="/sicop/restrito/relatorio/peca_gleba/">Pecas tecnicas e glebas</a></li>
							<li><a href="/sicop/restrito/relatorio/peca_sem_processo/">Pecas tecnicas sem processo</a></li>
						</ul></li>
					<li><a href="#">Geral</a>
						<ul style="width: 200px">
							<li><a href="#">Caixa</a>
								<ul style="width: 120px">
									<li><a href="/sicop/restrito/caixa/consulta/">Controle</a></li>
									<li><a href="/sicop/restrito/tipo_caixa/consulta/">Tipo Caixa</a></li>
								</ul>
							</li>
							<li><a href="#">Gleba</a>
								<ul style="width: 150px">
									<li><a href="/sicop/restrito/gleba/consulta/">Controle</a></li>
									<li><a href="/sicop/restrito/sub_area/consulta/">Sub Area</a></li>
									<li><a href="/sicop/restrito/municipio_modulo/consulta/">Municipio Modulo</a></li>
								</ul>
							</li>
							<li><a href="#">Processo</a>
								<ul style="width: 220px">
									<li><a href="/sicop/restrito/contrato/consulta/">Contrato</a></li>
									<li><a href="/sicop/restrito/conjuge/consulta/">Conjuge</a></li>
									<li><a href="/sicop/restrito/tipo_processo/consulta/">Tipo Processo</a></li>
									<li><a href="/sicop/restrito/classificacao_processo/consulta/">Classificacao Processo</a></li>
									<li><a href="/sicop/restrito/situacao_processo/consulta/">Situacao Processo</a></li>
								</ul>
							</li>
							<li><a href="#">Pendencia</a>
								<ul style="width: 150px">
									<li><a href="/sicop/restrito/tipo_pendencia/consulta/">Tipo Pendencia</a></li>
									<li><a href="/sicop/restrito/status_pendencia/consulta/">Status Pendencia</a></li>
								</ul>
							</li>
						</ul></li>
				</ul>
			</div>

			<div style="width: 100%; font-size: 12px; color: green">
				<br />
				<br />
				<br />
				<div
					style="height: 40px; width: 100%; font-size: 14px; text-align: left; font-weight: bold; color: green">
					{% block subtitulo %} {% endblock %}
					<hr />
				</div>
				{% block conteudo %} {% endblock %}
			</div>

		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->
{% endblock %}
