{% extends "base/base.html" %} 

{% block breadcumbs %}
 Acesso Restrito 
{% endblock %} 

{% block index %}
<!--========================================================================== Content Part 1 =====================================================================================-->

<div class="wrapper">

	<div class="grids">

		<div class="grid-10 grid">
			<div style="width: 100%; font-size: 12px">
				<br/>{% block conteudo %} {% endblock %}
			</div>

		</div>
		<!--end of grid-10-->

	</div>
	<!--end of grids-->

</div>
<!--end of wrapper-->
{% endblock %}
