{% load staticfiles %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>

<meta charset="utf-8" />
	<title>SICOP : Sistema de Processos</title>
	
<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs2-cachekey2314.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs3-cachekey5925.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/style.css" %}" />

<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
<script src="{% static "js/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script>

function editarID(theUrl)
{
	document.location.href = theUrl;
}

$(function() {
$( "#tabs" ).tabs();
});
$(function() {
	$( "#accordion" ).accordion();
	});
$(function() {
	$( "#dialog-modal" ).dialog({
	modal: true
	});
	});
$(function() {
	$( "#menu" ).menu();
	});
function my_callback(data){
    alert(data.message);

 

    
}
</script>
 <style>
.ui-menu { width: 180px; z-index: 1000; }
</style>
<script src="{% static "js/jquery_maskedinput.js" %}" type="text/javascript"></script>
<script>
jQuery(function($){   
	$("#date").mask("99/99/9999");
	$("#date2").mask("99/99/9999");
	$("#cpf").mask("999.999.999-99");
	$("#cpf2").mask("999.999.999-99");
	$("#cnpj").mask("99.999.999/9999-99");
	$("#processo").mask("99999.999999/9999-99");
	$("#processo2").mask("99999.999999/9999-99");
});

function proc()
{
	if (document.form.escolha.value != "0") {
		document.form.submit();
	} 
}

function SomenteNumero(e, obj)
{
	var tecla=(window.event)?event.keyCode:e.which;
	if((tecla>47 && tecla<58)) return true;
	else
	{

		if (tecla==8 || tecla==0 ) return true;
		else
			if(tecla==46)
			{
				if (obj.value.indexOf(".") > 1)
					return false;
				else
					return true;
			}
			else
				return false;
			
	}
}

function SomenteNumeroOK(e, obj)
{
	var tecla=(window.event)?event.keyCode:e.which;
	if((tecla>47 && tecla<58)) return true;
	else
	{
		if (tecla==8 || tecla==0 ) return true;
		else
			return false;
	}
}

</script>

</head>


	<body style="background: url('{% static 'img/bg.jpg' %}') no-repeat center center fixed;
		 -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;">

		<div id="barra-brasil">
			<div class="barra first-child last-child">
				<ul class="first-child last-child">
					<li class="first-child"><a target="_blank"
						href="http://www.acessoainformacao.gov.br/"
						class="ai first-child last-child" title="Acesso à informação">www.sic.gov.br</a></li>
					<li class="last-child"><a href="http://www.brasil.gov.br/" target="_blank"
						class="brasilgov first-child last-child"
						title="Portal de Estado do Brasil">www.brasil.gov.br</a></li>
				</ul>
			</div>
		</div>
		
		<div style="height:600px;
		  left:50%;
		  margin:-300px 0 0 -500px;
		  position:absolute;
		  top:50%;
		  width:1000px">
		
			<div style="height:30px;color:white; background: url('{% static "img/bgHeader.gif" %}');">
				
				<div style="float:left;margin-top:10px;margin-left:20px">
					Você está aqui: {% block breadcumbs %} {% endblock %}
				</div>
				<div style="float:right;margin-top:10px;margin-right:20px">
						{% if user.is_active %}
							Usuário:
							<a href="/sicop/restrito/usuario/edicao/usuario/{{user.id}}/">
							{% filter force_escape %}  {% firstof user.get_short_name user.get_username %} {% endfilter %}
							</a> 
							| 
							Divisão: {{ request.session.divisao }} | <a href="/logout/">Sair do Sistema</a>
						{% endif %}			
				</div>
				
			</div>
		
			<div style="width:100%;height:540px">
				<div style="margin-left:6px;height:540px;float:left; width:194px;background:white">
					<div style="margin:10px">
						<img style="margin-bottom:10px" src="{% static "img/terralegal.jpg" %}" alt="Terra Amazônia Legal" />				
	
						<ul id="menu" style="font-size:15px">
									<li>
										<a href="/" title="">
											<span>Início</span>
										</a>
									</li>
									<li>
										<a href="/web/terra_legal/" title="">
											<span>Terra Legal</span>
										</a>
									</li>
									<li>
										<a href="/web/terra_legal/" title="">
											<span>Sobre o SICOP</span>
										</a>
									</li>
									<li>
										<a href="/web/equipe/" title="">
											<span>Equipe</span>
										</a>
										<hr />
									</li>
									<li> <a href="/sicop/restrito/processo/consulta/">Processo</a> </li>
									<li> <a href="/sicop/restrito/peca_tecnica/consulta/">Peça Técnica</a> </li>
									<li><a href="#">Caixa</a>
										<ul>
											<li><a href="/sicop/restrito/caixa/consulta/">Controle</a></li>
											<li><a href="/sicop/restrito/tipo_caixa/consulta/">Tipo	Caixa</a></li>
										</ul><hr/></li>
									<li><a href="#">Gleba</a>
										<ul>
											<li><a href="/sicop/restrito/gleba/consulta/">Controle</a></li>
											<li><a href="/sicop/restrito/sub_area/consulta/">Sub Área</a></li>
										</ul></li>
									<li><a href="/sicop/restrito/contrato/consulta/">Contrato</a></li>
									<li><a href="/sicop/restrito/pregao/consulta/">Pregão</a><hr/></li>
									<li><a href="/controle/restrito/servidor/consulta/">Servidor</a></li>
									<li><a href="#">Documento</a>
										<ul>
											<li><a href="/sicop/restrito/documento/consulta/">Controle</a></li>
											<li><a href="/sicop/restrito/tipo_documento/consulta/">Tipo	Documento</a></li>
										</ul><hr/></li>
									<li><a href="#">Relatório</a>
										<ul style="width: 250px">
											<li><a href="/sicop/restrito/relatorio/processo_peca/">Processos e peças técnicas</a></li>
											<li><a href="/sicop/restrito/relatorio/peca_nao_aprovada/">Peças técnicas não aprovadas</a></li>
											<li><a href="/sicop/restrito/relatorio/peca_rejeitada/">Peças técnicas rejeitadas</a></li>
											<li><a href="/sicop/restrito/relatorio/peca_validada/">Peças técnicas validadas</a></li>
											<li><a href="/sicop/restrito/relatorio/peca_gleba/">Peças técnicas e glebas</a></li>
											<li><a href="/sicop/restrito/relatorio/peca_sem_processo/">Peças técnicas sem processo</a></li>
										</ul></li>
									<li><a href="#">Configuração</a>
									<ul>
										<li><a href="/sicop/restrito/tipo_processo/consulta/">Tipo Processo</a></li>
										<li><a href="/sicop/restrito/classificacao_processo/consulta/">Classificação Processo</a></li>
										<li><a href="/sicop/restrito/situacao_processo/consulta/">Situação Processo</a></li>
										<li><a href="/sicop/restrito/situacao_geo/consulta/">Situação Geo</a></li>
										<li><a href="/sicop/restrito/tipo_pendencia/consulta/">Tipo	Pendência</a></li>
										<li><a href="/sicop/restrito/status_pendencia/consulta/">Status	Pendência</a></li>
									</ul>
									</li>
									<li><a href="#">Usuário</a>
										<ul>
											<li><a href="/sicop/restrito/usuario/consulta/">Controle</a></li>
											<li><a href="/sicop/restrito/grupo/consulta/">Grupo</a></li>
											<li><a href="/sicop/restrito/divisao/consulta/">Divisão</a></li>
										</ul></li>
								</ul>
					</div>
				</div>
				<div style="margin-right:6px;min-height:540px;float:right; width:794px;background:white">
					<div style="margin:20px">
						{% block index %} {% endblock %}   				
					</div>
				</div>
			</div>
			
			<div id="divCollophon" style="height:30px; color:white ;background: url('{% static "img/bgFooterDireitos.gif" %}');">

				<div style="float:left;margin-top:5px;margin-left:20px">
						© 2013 Sistema de Controle de Processos do Terra Legal - Revisao 319 				
				</div>
				<div style="float:right;margin-top:5px;margin-right:20px">
						<a
							class="creditosBlockLink first-child last-child" target="_blank"
							href="http://www.softwarelivre.gov.br/">
							Desenvolvido em	Software Livre</a>			
				</div>
				
			</div>
			
		</div>
		
	</body>

</html>