{% load staticfiles %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="font-size: 16px;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>

<meta charset="utf-8" />
	<title>SICOP : Sistema de Processos</title>
	
<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs2-cachekey2314.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/datatables.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs3-cachekey5925.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs4-cachekey9210.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/style.css" %}" />

<script src="{% static "js/jquery.js" %}" type="text/javascript"></script>

<script src="{% static "js/jquery_maskedinput.js" %}" type="text/javascript"></script>

	<script type="text/javascript" src="{% static "js/jquery.dataTables.js" %}"></script>

<script>
jQuery(function($){   
	$("#date").mask("99/99/9999");
	$("#cpf").mask("999.999.999-99");
	$("#phone").mask("(999) 999-9999");
	$("#tin").mask("99-9999999");
	$("#ssn").mask("999-99-9999");
	$("#processo").mask("99999.999999/9999-99");
});

function SomenteNumero(e, obj)
{
	var tecla=(window.event)?event.keyCode:e.which;
	if((tecla>47 && tecla<58)) return true;
	else
	{

		if (tecla==8 || tecla==0 ) return true;
		else
			if(tecla==46)
			{
				if (obj.value.indexOf(".") > 1)
					return false;
				else
					return true;
			}
			else
				return false;
			
	}
}

</script>


	<script type="text/javascript">
		/* <![CDATA[ */
		$(document).ready(function() {
		$('#table_peca_tecnica').dataTable({
		'sPaginationType': 'full_numbers',
		});
		} );
		/* ]]> */	
	</script>

</head>

<body style="background: url('{% static 'img/bg.jpg' %}') no-repeat scroll center top;" 
	id="home-pt" dir="ltr" class="section-home template-contentpanels_view">
	
	<div class="first-child"
		style="left: -100em; position: absolute; width: 100em;"></div>

	<div id="barra-brasil">
		<div class="barra first-child last-child">
			<ul class="first-child last-child">
				<li class="first-child"><a target="_blank"
					href="http://www.acessoainformacao.gov.br/"
					class="ai first-child last-child" title="Acesso à informação">www.sic.gov.br</a></li>
				<li class="last-child"><a href="http://www.brasil.gov.br/"
					class="brasilgov first-child last-child"
					title="Portal de Estado do Brasil">www.brasil.gov.br</a></li>
			</ul>
		</div>
	</div>

	<div id="visual-portal-wrapper">

		
<DIV id="portal-top">
<DIV id="portal-header">


<br/><br/>

<div id="divCollophon" style=" background: url('{% static "img/bgHeader.gif" %}');" >
			<div class="first-child last-child">
				
				<div style="margin-top:10px" class="baixoContraste first-child last-child">

					<p style="font-weight: bold;" class="first-child">
						Você está aqui: {% block breadcumbs %} {% endblock %}
					</p>
					<p style="font-weight: bold;" class="creditos last-child">
						{% if user.is_active %}
							Usuario: 
							{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %} 
							| <a href="/logout/">Sair do Sistema</a>
						{% endif %}
					</p>

				</div>
			</div>
		</div>

</DIV></DIV>
		
		<div id="portal-column-content" class="visualColumnHideTwo">

			<!-- COLUNA ESQUERDA -->
			<div class="first-child" id="portal-column-one">
				<div style="margin-bottom: 10px">
					<img src="{% static "img/terralegal.jpg" %}" alt="Terra Amazônia Legal" />
				</div>
				<div id="cssmenu_v">
				
							<ul style="font-size:9px">
								<li>
									<a href="/" title="">
										<span>Inicio</span>
									</a>
								</li>
								<li>
									<a href="/web/terra_legal/" title="">
										<span>Terra Legal</span>
									</a>
								</li>
								<li>
									<a href="/web/mda/" title="">
										<span>MDA</span>
									</a>
								</li>
								<li>
									<a href="/web/processo_rural/" title="">
										<span>Processo Rural</span>
									</a>
								</li>
								<li>
									<a href="/web/regularizacao_urbana/" title="">
										<span>Regularização Urbana</span>
									</a>
								</li>
								<li>
									<a href="/sicop/restrito/peca_tecnica/consulta/" title="">
										<span>SICOP</span>
									</a>
								</li>
							</ul>
				</div>

			</div>
			<!-- FIM - COLUNA ESQUERDA -->

			<!-- COLUNA CENTRAL -->

			<div id="content-plain" class="last-child">

				<!-- Menu Segundo nivel -->

				<!-- Menu Segundo nivel -->
				
				<div class="last-child">

					<div class="visualClear">
						<!-- -->
					</div>

					<table class="cp_Página sem título" align="center" width="776">

						<tbody class="first-child last-child">
							
							<tr style="background:white" class="first-child last-child">
								<td class="first-child" style="width: 776px" valign="top"
									width="#">
									<div
										class="viewlet defaultPortletWrapper pais-tem-menor-taxa-de-desemprego-da-historia"
										style="height:600px;margin: 6px 10px 5px 10px">
											{% block index %} {% endblock %}   				
									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</div>


				<!-- COLUNA ESQUERDA -->

				<!-- FIM - COLUNA ESQUERDA -->

			</div>
			<!-- FIM - COLUNA CENTRAL -->

			<!-- FIM - COLUNA CENTRAL -->
		</div>

	

		<!--COLLOPHON-->
		<div id="divCollophon" style=" background: url('{% static "img/bgFooterDireitos.gif" %}');" >
			<div class="first-child last-child">
				<div class="baixoContraste first-child last-child">

					<p class="first-child">
						© 2013 SICOP: Sistema para controle de processos na SRFA 02 | São Luis - MA 
					</p>
					<p class="creditos last-child">
						<a
							class="creditosBlockLink first-child last-child" target="_blank"
							href="http://www.softwarelivre.gov.br/">Desenvolvido em
							Software Livre</a>
					</p>

				</div>
			</div>
		</div>
		<!--FIM COLLOPHON-->

		<div class="visualClear last-child">
			<!-- -->
		</div>
	</div>
	
</body>


</html>


