{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>

<meta charset="utf-8" />
<title>Portal Maranhão - Terra Legal : Sistema do Terra Legal Maranhão</title>

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bs2-cachekey2314.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bs3-cachekey5925.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/style.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/jquery-te-1.4.0.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/estatisticas.css" %}" />

<!-- link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bootstrap/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bootstrap/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bootstrap/bootstrap-responsive.css" %}" /-->
<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
href="{% static "css/nv.d3.css" %}" />

<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />

<script src="{% static "js/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/jquery-te-1.4.0.min.js" %}"></script>

<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/nv.d3.min.js" %}"></script>



<script>

function editarID(theUrl)
{
document.location.href = theUrl;
}

$(function() {
$( "#tabs" ).tabs();
});
$(function() {
$( "#accordion" ).accordion();
});
$(function() {
$( "#dialog-modal" ).dialog({
modal: true
});
});
$(function() {
$( "#menu" ).menu();
});
function my_callback(data){
    alert(data.message);
    
}
</script>
 
 <style>
.ui-menu { width: 180px; z-index: 1000; }
</style>
<script src="{% static "js/jquery_maskedinput.js" %}" type="text/javascript"></script>
<script>
jQuery(function($){
$("#date").mask("99/99/9999");
$("#date2").mask("99/99/9999");
$("#date3").mask("99/99/9999");
$("#date4").mask("99/99/9999");
$("#datePicker").mask("99/99/9999");
$("#cpf").mask("999.999.999-99");
$("#cpf2").mask("999.999.999-99");
$("#cnpj").mask("99.999.999/9999-99");
$("#processo").mask("99999.999999/9999-99");
$("#processo2").mask("99999.999999/9999-99");
$("#telefone1").mask("(99)9999-9999");
$("#telefone2").mask("(99)9999-9999");
$("#moeda").mask("999.999.999,99");

});

function proc()
{
if (document.form.escolha.value != "0") {
document.form.submit();
}
}

function somardia1()
{
var dtInicio1 = document.getElementById("id_myDate");
var dtFim1 = document.getElementById("date");
var nrDias1 = document.getElementById("nrDias1");
//mudar aqui de dmy para mdy
var dataMDY1 = dtInicio1.value.substr(3,2) + '/' + dtInicio1.value.substr(0,2) + '/' +dtInicio1.value.substr(6,4);
var data1 = new Date(dataMDY1);
data1.setDate(data1.getDate() + parseInt(nrDias1.value) - 1 );

var dd = data1.getDate();
var mm = data1.getMonth() + 1;
var yy = data1.getFullYear();
var someFormattedDate1 = dd + '/'+ mm + '/' + yy;
dtFim1.value = someFormattedDate1;

}

function somardia2()
{
var dtInicio2 = document.getElementById("id_myDate2");
var dtFim2 = document.getElementById("date2");
var nrDias2 = document.getElementById("nrDias2");

//mudar aqui de dmy para mdy
var dataMDY2 = dtInicio2.value.substr(3,2) + '/' + dtInicio2.value.substr(0,2) + '/' +dtInicio2.value.substr(6,4);
var data2 = new Date(dataMDY2);
data2.setDate(data2.getDate() + parseInt(nrDias2.value) - 1);

var dd2 = data2.getDate();
var mm2 = data2.getMonth() + 1;
var yy2 = data2.getFullYear();
var someFormattedDate2 = dd2 + '/'+ mm2 + '/' + yy2;
dtFim2.value = someFormattedDate2;
}

function somardia3()
{
var dtInicio3 = document.getElementById("id_myDate3");
var nrDias3 = document.getElementById("nrDias3");
var dtFim3 = document.getElementById("date3");

//mudar aqui de dmy para mdy
var dataMDY3 = dtInicio3.value.substr(3,2) + '/' + dtInicio3.value.substr(0,2) + '/' +dtInicio3.value.substr(6,4);
var data3 = new Date(dataMDY3);
data3.setDate(data3.getDate() + parseInt(nrDias3.value) - 1 );

var dd3 = data3.getDate();
var mm3 = data3.getMonth() + 1;
var yy3 = data3.getFullYear();
var someFormattedDate3 = dd3 + '/'+ mm3 + '/' + yy3;
dtFim3.value = someFormattedDate3;
}

$(function() {
    $( "#id_myDate" ).datepicker({
     dateFormat: "dd/mm/yy",
     numberOfMonths: 1,
     changeMonth: true,
     changeYear: true,
     showOn: "button",
     buttonImage: '/static/img/calendar.gif',
     buttonImageOnly: true,
     altField: "#alternate",
     altFormat: "dd/mm/yy"
     });
});

$(function() {
    $( "#id_myDate2" ).datepicker({
     dateFormat: "dd/mm/yy",
     numberOfMonths: 1,
     changeMonth: true,
     changeYear: true,
     showOn: "button",
     buttonImage: '/static/img/calendar.gif',
     buttonImageOnly: true,
     altField: "#alternate2",
     altFormat: "dd/mm/yy"
    
    });
});

$(function() {
    $( "#id_myDate3" ).datepicker({ dateFormat: "dd/mm/yy",
     numberOfMonths: 1,
     changeMonth: true,
     changeYear: true,
     showOn: "button",
     buttonImage: '/static/img/calendar.gif',
     buttonImageOnly: true,
     altField: "#alternate3",
     altFormat: "dd/mm/yy"
     });
});



function SomenteNumero(e, obj)
{


var tecla=(window.event)?event.keyCode:e.which;
if((tecla>47 && tecla<58)) return true;
else
{

if (tecla==8 || tecla==0 ) return true;
else
if(tecla==44)
{
if ( obj.value.split(',').length > 1 )
return false;
else
if ( obj.value.split('.').length > 1 )
return false;
else
return true;
}
else
if(tecla==46)
{
if ( obj.value.split('.').length > 1 )
return false;
else
if ( obj.value.split(',').length > 1 )
return false;
else
return true;
}
else
return false;

}
}

function SomenteNumeroOK(e, obj)
{
var tecla=(window.event)?event.keyCode:e.which;
if((tecla>47 && tecla<58)) return true;
else
{
if (tecla==8 || tecla==0 ) return true;
else
return false;
}
}

</script>
</head>


<body style="font-size:12px;background: url('{% static 'img/bg.jpg' %}') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">

<div id="barra-brasil">
<div class="barra first-child last-child">
<ul class="first-child last-child">
<li class="first-child"><a target="_blank"
href="http://www.acessoainformacao.gov.br/"
class="ai first-child last-child" title="Acesso à informação">www.sic.gov.br</a></li>
<li class="last-child"><a href="http://www.brasil.gov.br/" target="_blank"
class="brasilgov first-child last-child"
title="Portal de Estado do Brasil">www.brasil.gov.br</a></li>
</ul>
</div>
</div>

<div style="height:620px;
left:50%;
margin:-300px 0 0 -500px;
position:absolute;
top:50%;
width:1000px">

<div style="height:30px;color:white; background: url('{% static "img/bgHeader.gif" %}');">

<div style="float:left;margin-top:10px;margin-left:20px">
Você está aqui: {% block breadcumbs %} {% endblock %}
</div>
<div style="float:right;margin-top:10px;margin-right:20px">
{% if user.is_active %}
Usuário:
<a href="/sicop/restrito/usuario/edicao/usuario/{{user.id}}/">
{% filter force_escape %} {% firstof user.get_short_name user.get_username %} {% endfilter %}
</a>
|
Divisão: {{ request.session.divisao }} | <a href="/logout/">Sair do Sistema</a>
{% endif %}
</div>

</div>

<div style="width:100%;height:620px">
<div style="margin-left:6px;height:620px;float:left; width:194px;background:white">
<div style="background:white;margin:10px">
<img style="margin-bottom:10px" src="{% static "img/terralegal.jpg" %}" alt="Terra Amazônia Legal" />	

<ul id="menu" style="font-size:15px">
<li>
<a href="/" title="">
<span>Início</span>
</a>
</li>
{% if not user.is_active %}
<li>
<a href="/login/" title="">
<span>Sistema</span>
</a>
</li>
{% endif %}
<li>
<a href="/web/equipe/" title="">
<span>Equipe</span>
</a>
</li>

<li>
<a href="/web/organizacao/" title="">
<span>Organizacao</span>
</a>
</li>
<li>
<a href="/web/estatisticas/" title="">
<span>Estatisticas</span>
</a>
</li>


{% if perms.sicop.processo_consulta %}
<li><hr /><a href="/sicop/restrito/processo/consulta/">Processo</a> </li>
{% endif %}

{% if perms.sicop.peca_tecnica_consulta %}
<li> <a href="/sicop/restrito/peca_tecnica/consulta/">Peça Técnica</a> </li>
{% endif %}


{% if perms.sicop.livro_consulta %}

<li><a href="/sicop/restrito/livro/consulta/">Livro fundiário</a>
<ul>
	{% if perms.sicop.livro_consulta %}
	<li><a href="/sicop/restrito/livro/consulta/">Consulta</a></li>
	{% endif %}
	{% if perms.sicop.livro_consulta %}
	<li><a href="/sicop/restrito/livro/titulos_entregues/">Titulados entregues</a></li>
	{% endif %}
	{% if perms.sicop.livro_consulta %}
	<li><a href="/sicop/restrito/livro/titulos_nao_entregues/">Titulados não entregues</a></li>
	{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.caixa_consulta or perms.sicop.tipo_caixa_consulta %}
<li><hr/> <a href="#">Caixa</a>
<ul>
{% if perms.sicop.caixa_consulta %}
<li><a href="/sicop/restrito/caixa/consulta/">Controle</a></li>
{% endif %}
{% if perms.sicop.tipo_caixa_consulta %}
<li><a href="/sicop/restrito/tipo_caixa/consulta/">Tipo Caixa</a></li>
{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.gleba_consulta or perms.sicop.sub_area_consulta %}
<li><a href="#">Gleba</a>
<ul>
{% if perms.sicop.gleba_consulta %}
<li><a href="/sicop/restrito/gleba/consulta/">Controle</a></li>
{% endif %}
{% if perms.sicop.sub_area_consulta %}
<li><a href="/sicop/restrito/sub_area/consulta/">Sub Área</a></li>
{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.contrato_consulta %}
<li><a href="/sicop/restrito/contrato/consulta/">Contrato</a></li>
{% endif %}

{% if perms.sicop.pregao_consulta %}
<li><a href="/sicop/restrito/pregao/consulta/">Pregão</a></li>
{% endif %}

{% if perms.servidor.servidor_consulta %}
<li><a href="/ConsultarServidor/">Servidor</a></li>
{% endif %}

{% if perms.servidor.documento_consulta or perms.servidor.tipo_documento_consulta %}
<li><a href="#">Documento</a>
<ul>
{% if perms.servidor.documento_consulta %}
<li><a href="/sicop/restrito/documento/consulta/">Controle (Beta)</a></li>
{% endif %}
{% if perms.servidor.tipo_documento_consulta %}
<li><a href="/sicop/restrito/tipo_documento/consulta/">Tipo Documento</a></li>
{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.relatorio_processo_peca_consulta or perms.sicop.relatorio_peca_nao_aprovada_consulta or perms.sicop.relatorio_peca_rejeitada_consulta or perms.sicop.relatorio_peca_validada_consulta or perms.sicop.relatorio_peca_gleba_consulta or perms.sicop.relatorio_peca_sem_processo_consulta %}
<li><hr/><a href="#">Relatório</a>
<ul style="width: 250px">
{% if perms.sicop.relatorio_processo_peca_consulta %}
<li><a href="/sicop/restrito/relatorio/processo_peca/">Processos e peças técnicas</a></li>
{% endif %}
{% if perms.sicop.relatorio_peca_nao_aprovada_consulta %}
<li><a href="/sicop/restrito/relatorio/peca_nao_aprovada/">Peças técnicas não aprovadas</a></li>
{% endif %}
{% if perms.sicop.relatorio_peca_rejeitada_consulta %}
<li><a href="/sicop/restrito/relatorio/peca_rejeitada/">Peças técnicas rejeitadas</a></li>
{% endif %}
{% if perms.sicop.relatorio_peca_validada_consulta %}
<li><a href="/sicop/restrito/relatorio/peca_validada/">Peças técnicas validadas</a></li>
{% endif %}
{% if perms.sicop.relatorio_peca_sem_processo_consulta %}
<li><a href="/sicop/restrito/relatorio/peca_sem_processo/">Peças técnicas sem processo</a></li>
{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.tipo_processo_consulta or perms.sicop.classificacao_processo_consulta or perms.sicop.situacao_processo_consulta or perms.sicop.situacao_geo_consulta or perms.sicop.tipo_pendencia_consulta or perms.sicop.status_pendencia_consulta or perms.sicop.status_titulo_consulta%}
<li><a href="#">Configuração</a>
<ul>
{% if perms.sicop.tipo_processo_consulta %}
<li><a href="/sicop/restrito/tipo_processo/consulta/">Tipo Processo</a></li>
{% endif %}
{% if perms.sicop.classificacao_processo_consulta %}
<li><a href="/sicop/restrito/classificacao_processo/consulta/">Classificação Processo</a></li>
{% endif %}
{% if perms.sicop.situacao_processo_consulta %}
<li><a href="/sicop/restrito/situacao_processo/consulta/">Situação Processo</a></li>
{% endif %}
{% if perms.sicop.etapa_consulta %}
<li><a href="/sicop/restrito/etapa/consulta/">Etapas do Processo</a></li>
{% endif %}
{% if perms.sicop.checklist_consulta %}
<li><a href="/sicop/restrito/checklist/consulta/">Checklists das Etapas</a></li>
{% endif %}
{% if perms.sicop.situacao_geo_consulta %}
<li><a href="/sicop/restrito/situacao_geo/consulta/">Situação Geo</a></li>
{% endif %}
{% if perms.sicop.tipo_pendencia_consulta %}
<li><a href="/sicop/restrito/tipo_pendencia/consulta/">Tipo Pendência</a></li>
{% endif %}
{% if perms.sicop.status_pendencia_consulta %}
<li><a href="/sicop/restrito/status_pendencia/consulta/">Status Pendência</a></li>
{% endif %}
{% if perms.sicop.situacao_consulta %}
<li><a href="/sicop/restrito/situacao/consulta/">Tipo Situacao</a></li>
{% endif %}
{% if perms.sicop.status_titulo_consulta %}
<li><a href="/sicop/restrito/status_titulo/consulta/">Status titulo</a></li>
{% endif %}



</ul>
</li>
{% endif %}

{% if perms.sicop.usuario_consulta or perms.sicop.grupo_consulta or perms.sicop.divisao_consulta %}
<li><a href="#">Usuário</a>
<ul>
{% if perms.sicop.usuario_consulta %}
<li><a href="/sicop/restrito/usuario/consulta/">Controle</a></li>
{% endif %}
{% if perms.sicop.grupo_consulta %}
<li><a href="/sicop/restrito/grupo/consulta/">Grupo</a></li>
{% endif %}
{% if perms.sicop.permissao_consulta %}
<li><a href="/sicop/restrito/permissao/consulta/">Permissão</a></li>
{% endif %}
{% if perms.sicop.divisao_consulta %}
<li><a href="/sicop/restrito/divisao/consulta/">Divisão</a></li>
{% endif %}
</ul>
</li>
{% endif %}

{% if perms.sicop.calculo %}
	<li><a href="#">Calculos</a>
	<ul>
		{% if perms.sicop.calculo_portaria23 %}
			<li><a href="/calculo/portaria23/">Portaria 23</a></li>
		{% endif %}
		{% if perms.sicop.calculo_portaria80 %}
			<li><a href="/calculo/portaria80/">Portaria 80</a></li>
		{% endif %}
	
	</ul>
	</li>
{% endif %}


{% if perms.sicop.municipio_consulta %}
	<li><a href="#">Município</a>
	<ul>
		{% if perms.sicop.municipio_consulta %}
			<li><a href="/sicop/restrito/municipio/consulta/">Controle</a></li>
		{% endif %}
	</ul>
	</li>
{% endif %}


</ul><!-- MENU -->
</div>
</div>
<div style="margin-right:6px;min-height:620px;float:right; width:794px;background:white">
<div style="margin:20px">
{% block index %} {% endblock %}
</div>
</div>
</div>

<div id="divCollophon" style="height:30px; color:white ;background: url('{% static "img/bgFooterDireitos.gif" %}');">

<div style="float:left;margin-top:5px;margin-left:20px">
© 2014 Sistema de Controle de Processos do Terra Legal - Revisao 510
</div>
<div style="float:right;margin-top:5px;margin-right:20px">
<a
class="creditosBlockLink first-child last-child" target="_blank"
href="http://www.softwarelivre.gov.br/">
Desenvolvido em Software Livre</a>	
</div>

</div>

</div>

{% block body_scripts %}

{% endblock body_scripts %}

</body>

</html>
