{% load staticfiles %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

	<head>
	
		<meta charset="utf-8" />
		<title>SICOP : Sistema de Processos</title>

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/bs1-cachekey0246.css" %}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="{% static "css/style.css" %}" />

	
	</head>

	<body style="background: url('{% static 'img/bg.jpg' %}') no-repeat center center fixed;
		 -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;">

	<div id="barra-brasil">
		<div class="barra first-child last-child">
			<ul class="first-child last-child">
				<li class="first-child"><a target="_blank"
					href="http://www.acessoainformacao.gov.br/"
					class="ai first-child last-child" title="Acesso à informação">www.sic.gov.br</a></li>
				<li class="last-child"><a href="http://www.brasil.gov.br/" target="_blank"
					class="brasilgov first-child last-child"
					title="Portal de Estado do Brasil">www.brasil.gov.br</a></li>
			</ul>
		</div>
	</div>

		
		<div style="height:600px;
		  left:50%;
		  margin:-300px 0 0 -500px;
		  position:absolute;
		  top:50%;
		  width:1000px">
		
			<div style="height:30px; background: url('{% static "img/bgHeader.gif" %}');">
				
			</div>
		
			<div style="width:100%;height:540px">
				<div style="margin-left:6px;height:540px;float:left; width:194px;background:white">
				
				</div>
				<div style="margin-right:6px;height:540px;float:right; width:794px;background:white">
				
				</div>
			</div>
			
			<div style="height:30px; background: url('{% static "img/bgFooterDireitos.gif" %}');">
				
			</div>
			
		</div>
		
	</body>

</html>