{% extends "base/acesso_restrito.html" %}
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %} {% endblock %}

{% block conteudo %}

	<div style="color:black;width:100%;font-size:11px;text-align:center">
		<div id="tabs">
			<ul>
				<li><a href="#tab"> {% block subtitulo %} {% endblock %} </a></li>
			</ul>
			<div id="tab">					
				<!-- 		FORMULARIOS DOS FILTROS / CONSULTAS -->
				{% block consulta %} {% endblock %}
			
				<!-- 		RESULTADO DOS FILTROS / CONSULTAS		 -->
				{% block resultado %} {% endblock %}		
			</div>
		</div>
	</div>
	
{% endblock %}
