{% extends "base/acesso_restrito.html" %}
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %} {% endblock %}

{% block conteudo %}

	<div id="accordion" style="color:black;width:100%;font-size:11px">
		<h3>{% block subtitulo %} {% endblock %}</h3>
		<div style="text-align:center">
				<!-- 		FORMULARIOS DOS FILTROS / CONSULTAS -->
				{% block consulta %} {% endblock %}
			
				<!-- 		RESULTADO DOS FILTROS / CONSULTAS		 -->
				{% block resultado %} {% endblock %}		
		</div>
	</div>	
	
{% endblock %}
