{% extends "base/acesso_restrito.html" %}
{% load staticfiles %} 
{% load pagination_tags %}
{% load sorting_tags %}

{% block breadcumbs %} {% endblock %}

{% block conteudo %}

	<div id="tabs" style="color:black;width:100%;font-size:11px">
		
		 <ul>
			<li><a href="#tabs-1">{% block subtitulo %} {% endblock %}</a></li>
		</ul>
		
		<div id="tabs-1" style="text-align:center">
				<!-- 		FORMULARIOS DOS FILTROS / CONSULTAS -->
				{% block consulta %} {% endblock %}
			
				<!-- 		RESULTADO DOS FILTROS / CONSULTAS		 -->
				{% block resultado %} {% endblock %}		
		</div>
	</div>	
	
{% endblock %}
