{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Etapa | CheckList
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">CHECKLISTS DA ETAPA</a></li>
</ul>
<div id="tabs-1">		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Processo:</label> </td><td>{{processo.nrprocesso}}</tr>
				   <tr> <td class="colunaTabela"> <label>Etapa:</label> </td><td>{{etapa.nmfase}}</tr>
				   <tr>
				   	<td class="colunaTabela" colspan="2">				   	
						<table style="width:100%">
							<tbody>
								{% for k,v in result %}
										<tr>
											<td class="colunaTabelaConsulta" style="width:5%">
												{% if v %}
													<input checked="checked" name="{{ k.nmchecklist }}" type="checkbox" />
												{% else %}
													<input name="{{ k.nmchecklist }}" type="checkbox" />
												{% endif %}
											</td>
											<td class="colunaTabelaConsulta" style="width:95%">
											
												{{ k.nmchecklist }}

												{% if k.blobrigatorio %}
													&nbsp;( Obrigatorio )
												{% endif %}
											
											</td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
				   	</td>
				   </tr>
					{% if perms.sicop.etapa_checklist_edicao %}
					   <tr> <td class="colunaTabela"> <label>Próxima Etapa:</label> </td>
					   	<td>
					   		<select name="etapaposterior"  style="width:250px">
								<option value="">-- SELECIONE PARA MUDAR DE ETAPA --</option>
								{% for obj in posteriores %}
									<option value="{{ obj.tbposterior.id }}">{{obj.tbposterior.nmfase}} - {{obj.tbposterior.tbtipoprocesso.nome}}</option>
								{% endfor %}
							</select>		
					   	</td>						
					   </tr>
					{% else %}
						<input name="etapaposterior" value="" type="hidden" />
				   {% endif %}
				</table>
		</div>
		<br />
		
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					{% if perms.sicop.etapa_checklist_edicao %}
						<input type="submit" class="button_green" value="SALVAR" />
					{% endif %}
				</td>
			</tr>
		</table>

		<br/>
		
	</form>
</div>
</div>
{% endblock %}
