{% extends "core/base/index.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Geoinformações | Glebas Federais
{% endblock %}

{% block titulo %}
	Glebas Federais
{% endblock %}

{% block customhead %}		

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.8.2/build/ol.js"></script>

<script>
var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  ],
  target: 'map',
  controls: ol.control.defaults({
    attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
      collapsible: false
    })
  }),
  view: new ol.View({
    center: [0, 0],
    zoom: 2
  })
});

document.getElementById('zoom-out').onclick = function() {
  var view = map.getView();
  var zoom = view.getZoom();
  view.setZoom(zoom - 1);
};

document.getElementById('zoom-in').onclick = function() {
  var view = map.getView();
  var zoom = view.getZoom();
  view.setZoom(zoom + 1);
};

</script>

	<style>
		.map {width: 660px; height: 450px}
	</style>

{% endblock%}

{% block index %}

<!--========================================================================== Content Part 1 =====================================================================================-->

<div>

		<!--end of grid-10-->
		<div id="accordion" style="color:black;width:100%;font-size:11px">
			<h3>
				{% block subtitulo %}
					OPENLAYERS
				{% endblock %}
			</h3>
			

			<div id="map" style="margin:2px"></div>	
						
		</div>
		
</div>
<!--end of wrapper-->


{% endblock %}
