{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Documento | Memorando | Cadastro
{% endblock %}

{% block customhead %}
	<script src="{% static "ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">CADASTRAR MEMORANDO</a></li>
</ul>
<div id="tabs-1">		
		
	<form method="post" action="." target="blank">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table style="width:50%">
				   <tr>
				   		<td class="colunaTabela"> <label>Número:</label> </td>
				   		<td> <input required onkeypress="return SomenteNumeroOK(event, this);" size="10" name="numero" /></td> 
				   </tr>
				   <tr>
				   		<td class="colunaTabela"> <label>Data:</label> </td>
				   		<td> <input size="9" id="date" value="{{data_hoje}}" name="data_documento" /></td> 
				   </tr>
				   <tr> 
				   		<td class="colunaTabela"> <label>Remetente/Departamento:</label> </td>
				   		<td> <input required name="remetente" size="30" /></td>
				   </tr>
				   <tr>
				   		<td class="colunaTabela"> <label>Destinatário:</label> </td>
				   		<td> <input required name="destinatario" size="30" /></td> 
				   </tr>
				   <tr> 
				   		<td class="colunaTabela"> <label>Localidade:</label> </td>
				   		<td> <input required value="São Luis / MA" name="localidade" /></td>
				   </tr>
				   <tr>
				   		<td class="colunaTabela"> <label>Assunto:</label> </td>
				   		<td> <input required name="assunto" size="30" /></td> 
				   </tr>
				   <tr> 
				   		<td class="colunaTabela"> <label>Signatário:</label> </td>
				   		<td> <input required name="signatario" size="40" /></td> 
				   </tr>
				   <tr>
				   		<td class="colunaTabela"> <label>Cargo do signatário:</label> </td>
				   		<td> <input required name="cargo_signatario" size="40" /></td> 
				   </tr>
				   <tr>
				   		<td class="colunaTabela"> <label>Circular:</label> </td>
				   		<td> <input type="checkbox" name="circular" /> </td> 
				   </tr>
				</table>
				<textarea id="mensagem" rows="6" cols="40" required name="mensagem"></textarea>
				<script>
					CKEDITOR.replace( 'mensagem' );
				</script>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/documento/memorando/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>

{% endblock %}