{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 

{% block breadcumbs %}
	Acesso Restrito | Caixa | Cadastro
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">

<ul>
	<li><a href="#tabs-1">CADASTRAR CAIXA</a></li>
</ul>

<div id="tabs-1">		
	<form method="post" action="">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmlocalarquivo }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tipo Caixa:</label> </td>
				   	<td>
				   		<select name="tbtipocaixa"  style="width:150px">
							{% for obj in tipocaixa %}
								<option value="{{ obj.id }}">{{ obj.nmtipocaixa }}</option>
							{% endfor %}
						</select>		
				   	</td>
					<td>
						<a href="/sicop/restrito/tipo_caixa/cadastro/?next=/sicop/restrito/caixa/cadastro/" title="Novo Tipo"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="/sicop/restrito/caixa/consulta/" style="margin-right: 10px"><input type="button" class="button_yellow" value="CONSULTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>	
</div>
{% endblock %}