{% extends "base/cadastro_base.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | Caixa | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR CAIXA</a></li>
</ul>
<div id="tabs-1">		
	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Nome:</label> </td><td>{{ form.nmlocalarquivo }} </td> </tr>
				   <tr> <td class="colunaTabela"> <label>Tipo Caixa:</label> </td>
				   	<td>
				   		<select name="tbtipocaixa" style="width:150px">
							{% for obj in tipocaixa %}
								{% if obj.id == form.tbtipocaixa.value %}
									<option selected="selected" value="{{ obj.id }}">{{ obj.nmtipocaixa }}</option>
								{% else %}
									<option value="{{ obj.id }}">{{ obj.nmtipocaixa }}</option>
								{% endif %}
							{% endfor %}
						</select>		
				   	</td>
					<td>
						<a href="/sicop/restrito/tipo_caixa/cadastro/?next=/sicop/restrito/caixa/cadastro/" title="Novo Tipo"> <img src="{% static "img/add.png" %}" width="24" /> </a>
					</td>						
				   </tr>
				   <tr> 
				   		<td class="colunaTabela"> <label>Conteudo:</label> </td>
				   		<td> 
				   			{{ conteudo }}
				   		</td>
				   </tr>
				</table>
		</div>
		<br />
		
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>

		<br/>
		
		{% if processos %}
		<br/> Processos:<br/>
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%"> </td>
					<td class="colunaTabelaConsulta" style="width:10%">Processo</td>
					<td class="colunaTabelaConsulta" style="width:20%">Municipio</td>
					<td class="colunaTabelaConsulta" style="width:15%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:15%">Caixa</td>
					<td class="colunaTabelaConsulta" style="width:10%">Situacao</td>
				</tr>
					{% for obj in processos %}
						<tr onclick="editarID('/sicop/restrito/processo/edicao/{{ obj.tbprocessobase.id }}');"
							style="background: {{ obj.tbprocessobase.tbtipoprocesso.coridentificacao }}">
							{% if obj.tbprocessobase.tbtipoprocesso.id == 1 %}
								<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
							{% else %}
								{% if obj.tbprocessobase.tbtipoprocesso.id == 2 %}
									<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
								{% else %}
									{% if obj.tbprocessobase.tbtipoprocesso.id == 3 %}
										<td class="colunaTabelaConsulta">{{ obj.nmpovoado }}</td>
									{% endif %}
								{% endif %}
							{% endif %}
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.nrprocesso }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbmunicipio.nome_mun }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbgleba.nmgleba }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbcaixa.nmlocalarquivo }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbprocessobase.tbsituacaoprocesso.nmsituacao }}</td>
						</tr>
					{% endfor %}
			</tbody>
		</table>
		{% endif %}

		{% if pecas %}
		<br/> Pecas:<br/>
		<table class="csstable">
			<tbody>
				<tr>
					<td class="colunaTabelaConsulta" style="width:20%">Nome</td>
					<td class="colunaTabelaConsulta" style="width:10%">CPF</td>
					<td class="colunaTabelaConsulta" style="width:15%">Gleba</td>
					<td class="colunaTabelaConsulta" style="width:10%">Contrato</td>
					<td class="colunaTabelaConsulta" style="width:8%">Area</td>
					<td class="colunaTabelaConsulta" style="width:20%">Caixa</td>
				</tr>
					{% for obj in pecas %}
						<tr onclick="editarID('/sicop/restrito/peca_tecnica/edicao/{{ obj.id }}');">
							<td class="colunaTabelaConsulta">{{ obj.nmrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrcpfrequerente }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbgleba.nmgleba }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbcontrato.nrcontrato }}</td>
							<td class="colunaTabelaConsulta">{{ obj.nrarea }}</td>
							<td class="colunaTabelaConsulta">{{ obj.tbcaixa.nmlocalarquivo }}</td>
						</tr>
					{% endfor %}
			</tbody>
		</table>
		{% endif %}


	</form>
</div>
</div>
{% endblock %}
