{% extends "core/base/cadastro.html" %} 
{% load staticfiles %} 
{% block breadcumbs %}
	Acesso Restrito | TR Mensal | Edicao
{% endblock %}

{% block formulario %}
<div id="tabs" style="color:black;width:100%;font-size:11px">
<ul>
	<li><a href="#tabs-1">EDITAR TR MENSAL</a></li>
</ul>
<div id="tabs-1">		

	<form method="post" action=".">
		{% csrf_token %}
		<div style="width:100%;font-size:12px;text-align:left">
				<table>
				   <tr> <td class="colunaTabela"> <label>Ano:</label> </td><td> <input required size="4" onkeypress="return SomenteNumeroOK(event, this);" value="{{tr.ano}}" name="ano" /></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Mês:</label> </td><td> <input required size="4" onkeypress="return SomenteNumeroOK(event, this);" value="{{tr.mes}}" name="mes" /></td> </tr>
				   <tr> <td class="colunaTabela"> <label>Valor:</label> </td><td> <input required onkeypress="return SomenteNumero(event, this);" size="8" value="{{tr.valor}}" name="valor" /></td> </tr>
				</table>
		</div>
		<br />
		<table style="width:100%">
			<tr>
				<td class="colunaTabela" style="text-align:left"> 
					<a href="javascript:history.back();" style="margin-right: 10px"><input type="button" class="button_yellow" value="VOLTAR" /></a>
					<input type="submit" class="button_green" value="SALVAR" />
				</td>
			</tr>
		</table>
	</form>
</div>
</div>
{% endblock %}
